<div class="container">
    <div class="well-sm">
        <h3 class="sub-header">{{vm.ranking}}
                <span class="nomargin">
                    <button type="button" class="btn btn-default pull-right" style="vertical-align:middle;" 
                    ng-click="vm.closeRank()">
                    <span class="glyphicon glyphicon-remove" style="padding-top:0px;padding-bottom:0px;" aria-hidden="true"></span>
                    </button>
                </span>
        </h3>
    </div>
</div>

<div class="row">
    <!-- <h4>{{"addAnswer.EnterNewAnswer" | translate}}<b style="color:blue;"><i>  Best Goalies</i></b></h4> -->

    <h4>Add a new answer</h4>

</div>
<div class="text-right">
    <p class="hiw" ng-click="vm.showHowItWorksDialog()"><u>How it works?</u></p>
</div>
</br>

<div class="row">
    <div class="col-sm-12 col-md-5">
        <div class="" ng-show="{{vm.type != 'Short-Phrase'}}">
            <a href="{{vm.imageURL}}" class="thumbnail">
                <img src="{{vm.imageURL}}" alt="{{image.errorLoading}}" style="width:100%; max-height:300px">
            </a>
        </div>
        
        <div class="" ng-show="{{vm.type == 'Short-Phrase'}}">
            <div class="container-answer" style="width:100%; max-height:300px;"> </div>
            <p>Background Image</p>
        
        </div>
        <!--
        <p>{{"addAnswer.UploadImage" | translate}}</p>
        <input type="file" file-model="vm.myFile" class="btn btn-primary text-center" role="button" data-buttonText="{{&quot;addAnswer.UploadImage&quot | translate}}">
        <!--
                   
                   -->

        <div class="form-group text-right">
       <!--    <button type="submit" class="btn btn-primary" ng-click="vm.searchImage()" ng-disabled="answerForm.$invalid">{{vm.imageCommand}}</button>-->
            <button type="submit" class="btn btn-primary {{vm.searchDisabled}}" ng-click="vm.callSearchImage()" ng-show="{{vm.type != 'Short-Phrase'}}" >{{vm.imageCommand}}</button>
            <button type="submit" class="btn btn-primary" ng-click="vm.viewPrev()" ng-disabled="vm.numLinks === 0" style="display:{{vm.imagefunctions}}">&laquo</button>
            <button type="submit" class="btn btn-primary" ng-click="vm.viewNext()" ng-disabled="vm.numLinks === 0" style="display:{{vm.imagefunctions}}">&raquo</button>
            <a style="display:{{vm.imagefunctions}}">{{vm.linkIdx+1}} of {{vm.numLinks}}</a>
        </div>


    </div>

    <form class="form-horizontal col-sm-10 col-md-6" role="form" name="answerForm">        
        
        <div class="form-group" ng-repeat="x in vm.fields">
            <label class="col-sm-4 col-md-4 control-label capitalize">{{x.isrequired ? '**':''}}{{x.label}}:</label>
            <div class="col-sm-8 col-md-8">
                <!--<input class="form-control" ng-model="x.val" type="text" placeholder="{{ x.field | translate}}" required>-->                
                
                <input class="form-control" ng-model="x.val" bs-options="{{x.opts}}" bs-typeahead type="{{x.textstyle}}" 
                    bs-typeahead-on-select="vm.onSelect(x.val)" placeholder="{{x.label}}" ng-hide="{{x.name=='addinfo'}}">
                               
                <!--<input class="form-control" ng-model="x.val" type="{{x.textstyle}}" placeholder="{{x.label}}" 
                data-typeahead="{{x.opts}}" ng-hide="{{x.name=='addinfo'}}"/>-->
                                
                <textarea class="form-control" ng-model="x.val" placeholder="{{x.label}}" ng-show="{{x.name=='addinfo'}}" 
                    rows = "3"></textarea>    
            </div>
        </div>
        
            
        <div class="row form-group">
            <div class="text-right">
                <button ng-click="vm.rankSummary()" class="btn btn-danger">
                    Cancel
                </button>
             <!--   <button type="submit" class="btn btn-success" ng-click="vm.addAnswer()" ng-disabled="answerForm.$invalid || vm.numLinks === 0">{{"addAnswer.Add" | translate}}</button>
            -->
            <button type="submit" class="btn btn-success" ng-click="vm.callAddAnswer()">Add</button>
            
            </div>
        </div>

    </form>

</div>