<div class="container">
    <!--
    <div class="text-right ">
        <a type="button " class="btn btn-default" ng-click="vm.closeRank()">Back</a>
    </div>
    -->
    <div class="well-answer" ng-if="vm.nsm">
        <h2 class="sub-header">{{vm.answer.name}}
                <span class="nomargin">
                    <button type="button" class="btn btn-default pull-right" style="vertical-align:middle;" 
                    ng-click="vm.closeRank()">
                    <span class="glyphicon glyphicon-remove" style="padding-top:0px;padding-bottom:0px;" aria-hidden="true"></span>
            </button>
            </span>
         </h2>
    </div>
    <div class="well-answer" ng-if="vm.sm">
        <h3 class="sub-header">{{vm.answer.name}}
               <span class="nomargin">
                    <button type="button" class="btn btn-default pull-right" style="vertical-align:middle;" 
                    ng-click="vm.closeRank()">
                    <span class="glyphicon glyphicon-remove" style="padding-top:0px;padding-bottom:0px;" aria-hidden="true"></span>
            </button>
            </span>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-8 col-sm-9 col-md-10">
        <h2><span ng-repeat="f in vm.fields" ng-show="{{vm.type != 'Short-Phrase'}}">
 <!--   {{(f.name == "name" && vm.answer.name) ? vm.answer.name : ""}} -->    
        </span></h2>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
        <div class="text-right">
            <small class="text-muted">&nbsp;&nbsp;&nbsp{{vm.answer.views}}&nbspviews</small>
            <br>
            <div ng-show="{{vm.type == 'Establishment' || vm.type == 'PersonCust' }}">
                <p style="display:{{vm.answer.hasOwner ? 'none':'inline'}}" class="hiw text-right" ng-click="vm.bizRegDialog()">
                    <u>{{vm.type == 'PersonCust' ? 'I am this person':'I represent this business'}}</u></p>
                <!--<br style="display:{{vm.answer.hasOwner ? 'inline':'none'}}">-->
                <span class="glyphicon glyphicon-star-empty" style="display:{{vm.answer.hasOwner ? 'inline':'none'}}"></span>
            </div>
        </div>
    </div>
</div>

<!--<h3>{{vm.answerheader}}</h3>-->
<div class="text-middle">
    <img class="displayed" src="{{vm.answer.imageurl}}" alt="Moustiers Sainte Marie" style="height:{{vm.mxheight}};width:auto;max-width:96%;margin-left:auto;margin-right:auto;"
    ng-click="vm.showUrl()" ng-if="vm.type != 'Short-Phrase'">
</div>
<div class="container-answer" style="width:100%;height:auto" ng-if="vm.type == 'Short-Phrase'">
    <br>
    <h2 style="text-align:center"><strong>{{vm.answer.name}}</strong></h2>
    <br>
    <h4 style="text-align:center">{{vm.answer.addinfo}}</h4>
</div>
<div class="answer_info row" ng-if="vm.type != 'Short-Phrase' && vm.type != 'Event'">
    <div class="col-sm-8">
        <br>
        <strong ng-if="vm.answer.location">Address:</strong>
        <a ng-if="vm.answer.location" href="http://maps.apple.com/maps?q={{vm.answer.location}}" target="_blank">{{vm.answer.location}}</a>
        <br ng-if="vm.answer.location">
        <strong>{{(vm.answer.cityarea) ? 'Neighboorhood:' : ""}}</strong> {{(vm.answer.cityarea) ? vm.answer.cityarea : ""}}
        <br style="display:{{(vm.answer.cityarea) ? 'inline' : 'none'}}">
        <strong ng-if="vm.answer.phone">Phone:</strong> <a ng-if="vm.answer.phone" href="tel:{{vm.answer.phone}}">{{vm.answer.phone}}</a>
        <br style="display:{{(vm.answer.phone) ? 'inline' : 'none'}}">
        <strong ng-if="vm.answer.website">Website:</strong>
        <a ng-if="vm.answer.website.indexOf('http') >=0" href="{{vm.answer.website}}" target="_blank">{{vm.answer.website}}</a>
        <a ng-if="vm.answer.website.indexOf('http') == -1" href="http://{{vm.answer.website}}" target="_blank">{{vm.answer.website}}</a>
        <br ng-if="vm.answer.website">
        <strong>{{(vm.answer.email) ? 'Email:' : ""}}</strong> {{(vm.answer.email) ? vm.answer.email : ""}}
        <br style="display:{{(vm.answer.email) ? 'inline' : 'none'}}">
    </div>
    <div class="col-sm-4 answer_info_buttons">
        <!--
        <a ng-if="vm.answer.lat && vm.answer.lng" href="http://maps.apple.com/maps?q={{vm.answer.lat}}, {{vm.answer.lng}}" target="_blank">
            <i class="fa fa-map-marker"></i></a>
        <a ng-if="vm.isMobile && vm.answer.phone" href="tel:{{vm.answer.phone}}"><i class="fa fa-phone"></i></a>
        -->
        <a type="button" class="btn btn-default" style="vertical-align:middle;color:#0059b3;border-color:#0059b3;"
            ng-if="vm.isMobile && vm.answer.phone" href="tel:{{vm.answer.phone}}" target="_blank"> 
            Call&nbsp&nbsp<span class="fa fa-phone"></span>
        </a>
        <a type="button" class="btn btn-default" style="vertical-align:middle;color:#0059b3;border-color:#0059b3;"
            ng-if="vm.answer.lat && vm.answer.lng" href="http://maps.apple.com/maps?q={{vm.answer.lat}}, {{vm.answer.lng}}" target="_blank"> 
            Directions&nbsp&nbsp<span class="fa fa-map-marker"></span>
        </a>                            
    </div>
</div>
<div ng-if="vm.type != 'Short-Phrase' && vm.type != 'Event'">
    <i style="display:{{vm.hrset ? 'inline':'none'}}">{{vm.hourstr}}</i>
    <br style="display:{{vm.answer.addinfo ? 'inline':'none'}}">

    <!--<br style="display:{{vm.answer.addinfo ? 'inline':'none'}}">-->
    <span>{{vm.answer.addinfo_teaser}}</span>
    <span ng-show="vm.completeinfo">{{vm.answer.addinfo_complete}}</span>
    <span ng-if="vm.answer.addinfo.length > 0" ng-click="vm.showcomplete()" style="background-color:lightgray">{{vm.moretext}}</span>
    <br style="display:{{vm.answer.addinfo ? 'inline':'none'}}">

</div>
<div ng-if="vm.type == 'Event'">
    <br>
    <div ng-bind-html="vm.ehtml" style="{{vm.estyle}}">
        <br>
    </div>
</div>
<br>
<a type="button" class="btn btn-primary btn-block" ng-click="vm.editAnswer()" style="display:{{(vm.answer.hasOwner == false || vm.userIsOwner == true) ? 'inline':'none'}}">
            Edit {{vm.numEdits > 0? "("+vm.numEdits+")" : ""}}
        </a>
<div class="col-xs-12">
    <div class="well-sm" style="background-color:#666666;color:#f8f8ff">
        <h3 class="sub-header">Endorsements</h3>
    </div>
    <p class="text-left" ng-if="vm.type != 'Short-Phrase'"><strong>{{vm.answer.name}}</strong> is featured in the following ranks:</p>
    <p>Vote up if you endorse. Vote down if you disapprove.</p>
    <!--
<div class="well well-light-ranks col-md-4 col-lg-4">
    <div class="well-sm" style="background-color:#666666;color:#f8f8ff">
        <h4 class="sub-header">{{vm.ranking}}</h4>
    </div>
    <p>Ranked <strong>#1</strong> out of <strong>10</strong></p>
    <div class="row">
        <div class="col-xs-1 col-md-1 col-lg-1" style="width:20%"></div>
        <img style="width:20%" class="img-circle col-xs-1 col-md-1 col-lg-1 cursor" src="../../../assets/images/{{vm.answer.thumbUp}}"
        ng-click="vm.UpVote()">
        <label style="width:20%" class="col-xs-1 col-md-1 col-lg-1"><font size="5">{{vm.catans.upV}}</font></label>
        <img style="width:20%" class="img-circle col-xs-1 col-md-1 col-lg-1 cursor" src="../../../assets/images/{{vm.answer.thumbDn}}"
        ng-click="vm.DownVote()">
        <label style="width:20%" class="col-xs-1 col-md-1 col-lg-1"><font size="5">{{vm.catans.downV}}</font></label>
        <div class="col-xs-1 col-md-1 col-lg-1"></div>
    </div>
    <br>
    <p class="hiw text-right" ng-click="vm.bizRegDialog()">&lt;&lt;See full ranking&gt;&gt;</p>
</div>-->
    <div class="well well-light-ranks col-md-4 col-lg-4" ng-repeat="r in vm.answerRanks">
        <!--<p ng-click="vm.rankSel(r)"></p>-->
        <div class="well-sm" style="background-color:#666666;color:#f8f8ff">
            <h4 class="sub-header">{{(vm.type == 'Short-Phrase') ? vm.answer.name : r.title}}</h4>
        </div>
        <p class="text-center" ng-if="vm.type == 'Short-Phrase'"> on {{r.title}}</p>
        <p>Ranked <strong>#{{r.rank}}</strong> out of <strong>{{r.answers}}</strong></p>
        <div class="row">
            <div class="col-xs-1 col-md-1 col-lg-1" style="{{vm.sp1}}"></div>
            <img style="{{vm.sp2}}" class="img-circle col-xs-1 col-md-1 col-lg-1 cursor" src="../../../assets/images/{{r.thumbUp}}" ng-click="vm.UpVote(r)">
            <label style="{{vm.sp3}}" class="col-xs-1 col-md-1 col-lg-1"><font size="5">{{r.upV}}</font></label>
            <img style="{{vm.sp2}}" class="img-circle col-xs-1 col-md-1 col-lg-1 cursor" src="../../../assets/images/{{r.thumbDn}}" ng-click="vm.DownVote(r)">
            <label style="{{vm.sp3}}" class="col-xs-1 col-md-1 col-lg-1"><font size="5">{{r.downV}}</font></label>
        </div>
        <br>
        <p class="hiw text-right" ng-click="vm.gotoRank(r)">&lt;&lt;See full ranking&gt;&gt;</p>
    </div>
</div>
<div class="col-xs-12">
    <div class="row" ng-if="vm.type != 'Short-Phrase'">
        <div class="col-xs-12">
            <div class="well-sm" style="background-color:#666666;color:#f8f8ff;">
                <h3 class="sub-header">Photo Gallery</h3>
            </div>
        </div>
    </div>
    <div class="text-right" ng-if="vm.type != 'Short-Phrase'">
        <a type="button" class="btn btn-success btn-block" ng-click="vm.showImages()" style="display:{{vm.showImageGallery == false ? 'inline':'none'}}">
            Show Images </a>
    </div>
    <div style="display:{{vm.showImageGallery == true ? 'inline':'none'}}">
<!--
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                <a href="pulpitrock.jpg" class="thumbnail">
                    <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>
                    <img src="pulpitrock.jpg" alt="Pulpit Rock" style="width:150px;max-height:150px">
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                <a href="moustiers-sainte-marie.jpg" class="thumbnail">
                    <p>Moustiers-Sainte-Marie: Considered as one of the "most beautiful villages of France".</p>
                    <img src="moustiers-sainte-marie.jpg" alt="Moustiers Sainte Marie" style="width:150px;max-height:150px">
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                <a href="cinqueterre.jpg" class="thumbnail">
                    <p>The Cinque Terre: A rugged portion of coast in the Liguria region of Italy.</p>
                    <img src="cinqueterre.jpg" alt="Cinque Terre" style="width:150px;max-height:150px">
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                <a href="pulpitrock.jpg" class="thumbnail">
                    <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>
                    <img src="pulpitrock.jpg" alt="Pulpit Rock" style="width:150px;max-height:150px">
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                <a href="moustiers-sainte-marie.jpg" class="thumbnail">
                    <p>Moustiers-Sainte-Marie: Considered as one of the "most beautiful villages of France".</p>
                    <img src="moustiers-sainte-marie.jpg" alt="Moustiers Sainte Marie" style="width:150px;max-height:150px">
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                <a href="cinqueterre.jpg" class="thumbnail">
                    <p>The Cinque Terre: A rugged portion of coast in the Liguria region of Italy.</p>
                    <img src="cinqueterre.jpg" alt="Cinque Terre" style="width:150px;max-height:150px">
                </a>
            </div>
        </div>
        -->
    </div>
    
    <div class="text-right" ng-if="vm.type != 'Short-Phrase'">
        <div ng-if="vm.showImageGallery && vm.isLoggedIn" style="display:{{vm.isLoggedIn ? 'inline':'none'}}">
            <blob-upload>
        </div>     
    </div>
</div>
<div class="col-xs-12">
    <!--<div ui-view></div>-->
    <div ng-show="{{vm.type == 'Establishment'}}">
        <div class="well-sm" style="background-color:#666666;color:#f8f8ff">
            <h3 class="sub-header">Specials</h3>
        </div>

        <div ng-repeat="x in vm.specialsList">
            <div ng-bind-html="x.html" style="{{x.style}}">
                <br>
            </div>
            <p ng-if="x.hasimage" style="background-color:lightgray" ng-click="vm.showsimage(x)">Show Image</p>
            <div class="text-middle" ng-if="x.showimage">
                <img class="displayed" src="{{x.image}}" style="height:{{vm.mxheight}};width:auto;max-width:96%;margin-left:auto;margin-right:auto;">
                <br>
            </div> 
        </div>

        <div class="text-right">
            <a type="button" class="btn btn-primary btn-block" ng-click="vm.openSpecials()" style="display:{{vm.access ? 'inline':'none'}}">
            Edit Specials </a>
        </div>
    </div>
</div>
<div class="col-xs-12">
    <div ng-show="{{vm.type == 'Establishment' || vm.type == 'PersonCust' }}">
        <div class="well-sm" style="background-color:#666666;color:#f8f8ff">
            <h3 class="sub-header">How do we do?</h3>
        </div>
        <!--
<table class="table table-hover cursor">
    <!--
    <thead>
            <tr>
                <th>   </th>
                <th>   </th>
                <th align="middle">FOOD</th>
                <th>   </th>
                <th>   </th>
            </tr>
        </thead> -->

        <!--
        <div class="row">
            <!--<div style="display:{{x.shdr ? 'inline':'none'}}"> -->
        <!--    <div>
                <div style="background-color:gray;color:white;">
                    <p>{{x[0].gtitle}}</p>
                </div>
            </div>
        </div>  -->

        <table class="table table-hover cursor" ng-repeat="x in vm.vrowgroups track by $index">

            <thead class="thead-inverse">
                <tr>
                    <th colspan="5" class="text-center" style="background-color:#d9d9d9;width:100%">{{x[0].gtitle}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in x">
                    <td align="middle" style="width:10%"><img src="../../../assets/images/{{item.upImage}} " style="max-height:30px;margin:0px;" ng-click="vm.vrowVoteUp(item)"></td>
                    <td align="left" style="width:10%">{{item.upV}}</td>
                    <td align="middle" style="width:60%">{{item.title}}</td>
                    <td align="right" style="width:10%">{{item.downV}}</td>
                    <td align="middle" style="width:10%"><img src="../../../assets/images/{{item.downImage}}" style="max-height:30px;margin:0px; " ng-click="vm.vrowVoteDown(item)"></td>
                </tr>
            </tbody>
        </table>

        <!--</table>-->

        <div class="text-right ">
            <a type="button " class="btn btn-primary btn-block " ng-click="vm.editVRows()" style="display:{{vm.userIsOwner == true ? 'inline': 'none'}}">
            Edit VoteRows </a>
        </div>
    </div>
</div>
<div class="col-xs-12">

    <div ng-show="{{vm.type != 'Establishment' && vm.type != 'PersonCust' && vm.type != 'Event' }}">
        <div class="well-sm" style="background-color:#666666;color:#f8f8ff">
            <h3 class="sub-header">Versus Table</h3>
        </div>

        <table class="table table-hover cursor ">
            <tbody>
                <thead>
                    <tr>
                        <th align="middle" style="width:15%">Pct (%)</th>
                        <th align="middle" style="width:60%">vs. Opponent</th>
                        <th align="middle" style="width:15%">Pct (%)</th>
                        <th align="middle" style="width:10%">GP</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ng-click="vm.refresh(x.id)  -->
                    <tr ng-repeat="x in vm.relativetable | orderBy: '-Rank' ">
                        <td align="middle" style="width:15%">{{x.PctF}}</td>
                        <td align="middle" style="width:60%">{{x.vsName}}</td>
                        <td align="middle" style="width:15%">{{x.PctC}}</td>
                        <td align="middle" style="width:10%">{{x.GP}}</td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>
<br>
<a ng-click="vm.goBack() " class="btn btn-default ">Back</a>
<div class="btn-group ">
    <button type="button " class="btn btn-danger dropdown-toggle " data-toggle="dropdown ">
        Flag<span class="caret "></span>
    </button>
    <ul class="dropdown-menu " role="menu ">
        <li><a id="action-x " ng-click="vm.flagAnswer(1) ">Flag Offensive</a></li>
        <li><a id="action-y " ng-click="vm.flagAnswer(2) ">Flag Duplicated</a></li>
    </ul>
</div>
<a ng-click="vm.deleteAnswer() " class="btn btn-danger " style="display:{{vm.deleteButton}} ">Delete</a>
<br>
<br>