<div id="veil" ng-hide="vm.dataReady"></div>
    <div id="feedLoading" ng-hide="vm.dataReady">
        <div style="text-align: center" ng-if="!vm.dataReady">
            <div class="loading-pulse"></div>
            <p style="font-size:large">loading details...</p>
        </div>
    </div>
<div ng-if="vm.dataReady">


<cat-bar ng-if="vm.ranking" text="{{vm.ranking}}" 
 left-fn="vm.goPrev()" right-fn="vm.goNext()" close-rank="vm.closeAnswerDetail()"></cat-bar>

<div class="row" style="margin:5px;">
    <div class="col-xs-6 col-sm-3 col-md-2">
        <div class="text-left">
            <small class="text-muted">&nbsp;&nbsp;&nbsp{{vm.answer.views}}&nbspviews</small>            
        </div>

    </div>
    <div class="col-xs-6 col-sm-9 col-md-10">
            <div ng-show="{{vm.type == 'Establishment' || vm.type == 'PersonCust' || vm.type == 'Event' }}" class="text-right">
                <p style="display:{{vm.answer.hasOwner ? 'none':'inline'}};" class="hiw" ng-click="vm.bizRegDialog()">
                    <u>{{vm.bindtxt}}</u>
                </p>
                <!--<br style="display:{{vm.answer.hasOwner ? 'inline':'none'}}">-->
                <span class="glyphicon glyphicon-lock" style="display:{{vm.answer.hasOwner ? 'inline':'none'}}"></span>
            </div>
    </div>    
</div>

<answer-header ans="{{vm.answer}}" idx="{{vm.idx}}"></answer-header>
<!-- Event Information -->
<div ng-if="vm.type == 'Event'">
    <br>
    <div ng-bind-html="vm.ehtml" style="{{vm.estyle}}">
        <br>
    </div>
</div>

<div class="col-xs-12">
    <div class="well-sm" style="background-color:#666666;color:#f8f8ff">
        <h3 class="sub-header">Endorsements</h3>        
    </div>
    <div class="text-right" style="padding-bottom:5px">
        Vote:&nbsp
        <div class="btn-group btn-toggle"> 
            <button class="btn btn-sm btn-default" style="{{vm.voteonstyle}}"
            ng-click="vm.votemodeON()">ON</button>
            <button class="btn btn-sm btn-default" style="{{vm.voteoffstyle}}"
            ng-click="vm.votemodeOFF()">OFF</button>
        </div>
    </div>
    <p class="text-left" ng-if="vm.type != 'Short-Phrase'"><strong>{{vm.answer.name}}</strong> is featured in the following ranks:</p>
    <p style="border:2px solid red;padding:5px" ng-if="vm.votemode"><strong>Endorse!</strong> For each ranking, give a <strong>thumb up</strong> if you 
    <strong>endorse</strong>; a <strong>thumb down</strong> if you <strong>do not recommend</strong>.</p>
    <!--
<div class="well well-light-ranks col-md-4 col-lg-4">
    <div class="well-sm" style="background-color:#666666;color:#f8f8ff">
        <h4 class="sub-header">{{vm.ranking}}</h4>
    </div>
    <p>Ranked <strong>#1</strong> out of <strong>10</strong></p>
    <div class="row">
        <div class="col-xs-1 col-md-1 col-lg-1" style="width:20%"></div>
        <img style="width:20%" class="img-circle col-xs-1 col-md-1 col-lg-1 cursor" src="../../../assets/images/{{vm.answer.thumbUp}}"
        ng-click="vm.UpVote()">
        <label style="width:20%" class="col-xs-1 col-md-1 col-lg-1"><font size="5">{{vm.catans.upV}}</font></label>
        <img style="width:20%" class="img-circle col-xs-1 col-md-1 col-lg-1 cursor" src="../../../assets/images/{{vm.answer.thumbDn}}"
        ng-click="vm.DownVote()">
        <label style="width:20%" class="col-xs-1 col-md-1 col-lg-1"><font size="5">{{vm.catans.downV}}</font></label>
        <div class="col-xs-1 col-md-1 col-lg-1"></div>
    </div>
    <br>
    <p class="hiw text-right" ng-click="vm.bizRegDialog()">&lt;&lt;See full ranking&gt;&gt;</p>
</div>-->
    <div class="well well-light-ranks col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="r in vm.answerRanks | orderBy:'rank'">
        <!--<p ng-click="vm.rankSel(r)"></p>-->
        <div class="well-sm" style="background-color:#666666;color:#f8f8ff">
            <h4 class="sub-header">{{(vm.type == 'Short-Phrase') ? vm.answer.name : r.title}}</h4>
        </div>
        <p class="text-center" ng-if="vm.type == 'Short-Phrase'"> on {{r.title}}</p>
        <div class="row" ng-if="!vm.votemode">
            <img style="height:50px;width:auto" class="col-xs-3 col-md-1 col-lg-1" ng-src="{{r.icon}}">
           <div class="col-xs-6">
                <p style="padding-top:5px">Ranked <strong>#{{r.rank}}</strong> out of <strong>{{r.answers}}</strong></p>
            </div>
        <!-- <p class="hiw text-right col-xs-4" ng-click="vm.gotoRank(r)">&lt;See full ranking&gt</p> -->
        <a href="" class="text-center col-xs-3" ng-click="vm.gotoRank(r)">Full ranking</a>
        </div>
        
        <div class="row" ng-if="vm.votemode" style="padding-bottom:5px">
            <div class="col-xs-1 hidden-sm col-md-1 col-lg-1" style="{{vm.sp1}}"></div>
            <img style="height:30px;width:auto" class="col-xs-1 col-md-1 col-lg-1 cursor" ng-src="../../../assets/images/{{r.thumbUp}}" ng-click="vm.UpVote(r)">
            <label style="{{vm.sp3}}" class="col-xs-1 col-md-1 col-lg-1"><font size="4">{{r.upV}}</font></label>
            <img style="height:30px;width:auto" class="col-xs-1 col-md-1 col-lg-1 cursor" ng-src="../../../assets/images/{{r.thumbDn}}" ng-click="vm.DownVote(r)">
            <label style="{{vm.sp3}}" class="col-xs-1 col-md-1 col-lg-1"><font size="4">{{r.downV}}</font></label>
            
        </div>
        
        <!--<br>-->
        
        <p style="display:{{vm.deleteButton}};color:red" ng-click="vm.deleteThisCatans(r)">&lt;&lt;Delete&gt;&gt;</p>
        
    </div>
    <div ng-if="vm.isAdmin">
        <div class="text-left"><button class="btn btn-primary" ng-click="vm.addCatans()">Add Catans</button></div>
		<div class="input-group" ng-if="vm.addctsactive">
        <!--<input type="text" class="form-control" placeholder="{{x.cval}}" data-ng-model="x.val">-->
        <input type="text" class="form-control" ng-model="vm.addctsval" bs-options="c for c in vm.addctsopts" bs-typeahead>
        <span class="input-group-btn text-right">
            <button class="btn btn-success" type="button" ng-click="vm.addcts()">Add</button>
        </span>
		</div>
		<label class="checkbox-inline" ng-if="vm.addctsactive"><input type="checkbox" ng-model="vm.catisdup">Is Dup</label>
    </div>
</div>
<div class="container col-xs-12" ng-if="vm.answer.hasranks">
    <div class="row" ng-if="vm.type != 'Short-Phrase'">
        <div class="col-xs-12">
            <div class="well-sm" style="background-color:#666666;color:#f8f8ff;">
                <h3 class="sub-header">The Favorites</h3>
            </div>
        </div>
    </div>
    <div class="row" style="padding:0px;margin:0px;border:0px">
        <div ng-repeat="n in vm.myranks">
            <!-- <div class="clearfix" ng-if="$index % 3 == 0" style="border:0px;padding:0px;margin:0px;"></div> -->
            <div class="container col-xs-3 col-sm-2 col-md-2 col-lg-2" ng-click="vm.gotoRank(n)" style="border-top:3px solid white;border-bottom:3px solid white;background-color:{{n.bc}};color:{{n.fc}};height:{{vm.sm ? '90px':'120px'}};margin:0px;padding:0px;position:relative">
                <h3 class=" hidden-xs text-center" style="padding:3px; margin:0px; position:absolute; top:50%; left:50%; margin-right:-50%;transform: translate(-50%,-50%)">{{n.title}}</h2>
                    <h4 class="hidden-sm hidden-md hidden-lg hidden-xl text-center" style="padding:3px; margin:0px; position:absolute; top:50%; left:50%; margin-right:-50%;transform: translate(-50%,-50%)">{{n.title}}</h3>
            </div>
            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2" ng-click="vm.gotoRank(n)" style="margin:0px;padding:0px;">
                <img ng-src="{{n.image}}" style="border-top:3px solid white;border-bottom:3px solid white;width:95%;height:{{vm.sm ? '90px':'120px'}}">
            </div>
        </div>
    </div>
    <div class="text-right">
        <a href="" ng-if="vm.userIsOwner" ng-click="vm.addRankforAnswer()">Edit Ranking/List</a>
    </div>
</div>
<div class="col-xs-12" ng-if="true">
    <div class="row" ng-if="vm.type != 'Short-Phrase'">
        <div class="col-xs-12">
            <div class="well-sm" style="background-color:#666666;color:#f8f8ff;">
                <h3 class="sub-header">Photo Gallery</h3>
            </div>
        </div>
    </div>
    <div class="text-right" ng-if="vm.type != 'Short-Phrase'">
        <a ng-if="!vm.igdemo" type="button" class="btn btn-success btn-block" ng-click="vm.getImages()" style="display:{{vm.showImageGallery == false ? 'inline':'none'}}">
            Show Images </a>         
        <a ng-if="vm.igdemo" type="button" class="btn btn-default btn-block" ng-click="vm.getImages()" style="background-color:#cc0099;color:#e6e6e6;display:{{vm.showImageGallery == false ? 'inline':'none'}}">Instagram&nbsp&nbsp
            <img ng-src="/assets/images/1485384923_9_-_Instagram.png" style="width:50px"></img></a>    
    </div>
    <div style="display:{{vm.showImageGallery == true ? 'inline':'none'}}">

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="x in vm.images" style="margin:0px;padding:0px;">
            <a ng-click="vm.selectPhoto($index)" class="thumbnail">
                <img ng-src="{{x.url}}" style="width:100%;height:120px">
            </a>
        </div>
        <div ng-if="vm.images.length == 0">
            No images in Photo Gallery.
        </div>
    </div>

    <div class="text-right" ng-if="vm.type != 'Short-Phrase'">
        <div ng-if="vm.showImageGallery && vm.isLoggedIn && vm.userIsOwner" style="display:{{vm.isLoggedIn ? 'inline':'none'}}">
            <blob-upload>
        </div>

        <a  ng-if="vm.showImageGallery && vm.isLoggedIn && vm.userIsOwner" type="button" class="btn btn-primary pull-right" ng-click="vm.selectInstagramImages()" style="display:{{vm.isLoggedIn ? 'inline':'none'}}">
            Select from Instagram Images </a>   
    </div>
</div>
<div class="col-xs-12" ng-if="vm.answer.ispremium">
    <!--<div ui-view></div>-->
    <div ng-show="{{vm.type == 'Establishment' || vm.type == 'PersonCust' }}">
        <div class="well-sm" style="background-color:#666666;color:#f8f8ff">
            <h3 class="sub-header">Specials</h3>
        </div>

        <div ng-repeat="x in vm.specialsList">
            <div ng-bind-html="x.html" style="{{x.style}}">
                <br>
            </div>
            <p ng-if="x.hasimage" style="background-color:lightgray;cursor:pointer" ng-click="vm.showsimage(x)">
                {{x.showimage ? 'Hide Flyer':'Show Flyer'}}</p>
            <div class="text-middle" ng-if="x.showimage">
                <img class="displayed" ng-src="{{x.image}}" style="height:{{vm.mxheight}};width:auto;max-width:96%;margin-left:auto;margin-right:auto;">
                <br>
            </div>
        </div>

        <div class="text-right">
            <a href="" ng-if="vm.userIsOwner" ng-click="vm.openSpecials()">Edit Specials</a>
        </div>
    </div>
</div>
<div class="col-xs-12">
    <div ng-show="{{vm.type == 'Establishment' || vm.type == 'PersonCust' }}">
        <div class="well-sm" style="background-color:#666666;color:#f8f8ff">
            <h3 class="sub-header">How do we do?</h3>
        </div>
        <!--
<table class="table table-hover cursor">
    <!--
    <thead>
            <tr>
                <th>   </th>
                <th>   </th>
                <th align="middle">FOOD</th>
                <th>   </th>
                <th>   </th>
            </tr>
        </thead> -->

        <!--
        <div class="row">
            <!--<div style="display:{{x.shdr ? 'inline':'none'}}"> -->
        <!--    <div>
                <div style="background-color:gray;color:white;">
                    <p>{{x[0].gtitle}}</p>
                </div>
            </div>
        </div>  -->

        <table class="table table-hover cursor" ng-repeat="x in vm.vrowgroups track by $index">

            <thead class="thead-inverse">
                <tr>
                    <th colspan="5" class="text-center" style="background-color:#d9d9d9;width:100%">{{x[0].gtitle}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in x">
                    <td align="middle" style="width:10%"><img ng-src="../../../assets/images/{{item.upImage}} " style="max-height:30px;margin:0px;" ng-click="vm.vrowVoteUp(item)"></td>
                    <td align="left" style="width:10%">{{item.upV}}</td>
                    <td align="middle" style="width:60%">{{item.title}}</td>
                    <td align="right" style="width:10%">{{item.downV}}</td>
                    <td align="middle" style="width:10%"><img ng-src="../../../assets/images/{{item.downImage}}" style="max-height:30px;margin:0px; " ng-click="vm.vrowVoteDown(item)"></td>
                </tr>
            </tbody>
        </table>

        <!--</table>-->
        <div class="text-right">
            <a href="" ng-if="vm.userIsOwner&&false" ng-click="vm.editVRows()">Edit VoteRows</a>
        </div>
    </div>
</div>
<div class="col-xs-12" ng-if="false">

    <div ng-show="{{vm.type != 'Establishment' && vm.type != 'PersonCust' && vm.type != 'Event' }}">
        <div class="well-sm" style="background-color:#666666;color:#f8f8ff">
            <h3 class="sub-header">Versus Table</h3>
        </div>

        <table class="table table-hover cursor ">
            <tbody>
                <thead>
                    <tr>
                        <th align="middle" style="width:15%">Pct (%)</th>
                        <th align="middle" style="width:60%">vs. Opponent</th>
                        <th align="middle" style="width:15%">Pct (%)</th>
                        <th align="middle" style="width:10%">GP</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ng-click="vm.refresh(x.id)  -->
                    <tr ng-repeat="x in vm.relativetable | orderBy: '-Rank' ">
                        <td align="middle" style="width:15%">{{x.PctF}}</td>
                        <td align="middle" style="width:60%">{{x.vsName}}</td>
                        <td align="middle" style="width:15%">{{x.PctC}}</td>
                        <td align="middle" style="width:10%">{{x.GP}}</td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>
<br>
<div class="text-center">
    <button ng-click="vm.loadComments()" class="btn btn-default" ng-class="vm.cm.commLoaded ? 'disabled' : ''" style="background-color:#e6e6e6;width:100%">COMMENTS ({{vm.numcom}})</button>
</div>
<br>
<div style="display:{{vm.cm.commLoaded ? 'inline':'none'}}">
    <div ng-repeat="x in vm.cm.comments">
        <div class="row">


            <div class="col-xs-12 media">

                <div ng-if="!x.picture" class="profile-avatar-wrapper media-left">
                    <div class="empty-profile-avatar-wrapper"  style="background-color:{{x.bc}};color:{{x.fc}};">{{x.initials}}</div>
                </div>
                <div ng-if="x.picture" class="profile-avatar-wrapper media-left" align="middle">
                    <img ng-src="{{x.picture}}" class="img-responsive img-circle profile-avatar"/>
                </div>
                <div class="media-body">
                    {{x.body}}
                    <br>
                    <small style="color:#bfbfbf">{{x.username}} - {{x.date}}&nbsp&nbsp                    
                        <span class="dropdown ">
                            <i type="button" class="fa fa-flag dropdown-toggle" data-toggle="dropdown"></i>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a ng-click="vm.cmFlag(1)">Off-Topic</a></li>
                                <li><a ng-click="vm.cmFlag(2)">Offensive</a></li>
                                <li><a ng-click="vm.cmFlag(3)">Spam</a></li>
                            </ul>
                        </span>                   
                    </small>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div style="display:{{(vm.cm.commLoaded && vm.cm.comments.length == 0 && !vm.isLoggedIn) ? 'inline':'none'}}">
        <br>
        <p><small> Nobody has commented yet. Be the first. Log in and leave a comment. </small></p>
    </div>
    <div style="display:{{(vm.cm.commLoaded && vm.cm.comments.length > 0 && !vm.isLoggedIn) ? 'inline':'none'}}">
        <br>
        <p><small> You must log in to leave a comment. </small></p>
    </div>
    <div style="display:{{(vm.cm.commLoaded && vm.isLoggedIn && !vm.commentAllowed) ? 'inline':'none'}}">
        <br>
        <p><small> Endorse one or more answers to leave a comment. </small></p>
    </div>
    <div style="display:{{(vm.isLoggedIn && vm.commentAllowed) ? 'inline':'none'}}">
        <div class="media">
            <div ng-if="!user.picture.data.url" class="profile-avatar-wrapper media-left">
                <div class="empty-profile-avatar-wrapper"  style="background-color:{{x.bc}};color:{{x.fc}};">{{x.initials}}</div>
            </div>
            <div ng-if="user.picture.data.url" class="profile-avatar-wrapper media-left" align="middle">
                <img ng-src="{{user.picture.data.url}}" class="img-responsive img-circle profile-avatar"/>
            </div>
            <div class="media-body">
                <!--
                <input type="text" class="form-control" ng-model="vm.comment" placeholder="Leave a comment" 
                style="margin-left:0px;margin-right:0px;">-->
                <textarea class="form-control" ng-model="vm.cm.newComment" placeholder="Leave a comment" style="margin-left:0px;margin-right:0px;"></textarea>
            </div>
        </div>
        <br>
        <div class="text-right">
            <button ng-click="vm.postComment()" class="btn btn-primary">Post</button>
        </div>
    </div>
</div>
<br>
<div class="btn-group" role="group">
    <button type="button" ng-click="vm.goBack()" class="btn btn-default">Back</button>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Flag</button>
            <ul class="dropdown-menu dropdown-menu-left" role="menu">
                <li><a ng-click="vm.flagAnswer(1)">Wrong Category</a></li>
                <li><a ng-click="vm.flagAnswer(2)">No longer active</a></li>
                <li><a ng-click="vm.flagAnswer(3)">Offensive</a></li>
                <li><a ng-click="vm.flagAnswer(4)">Spam</a></li>
            </ul>
    </div>
    <button type="button" ng-click="vm.deleteAnswer()" class="btn btn-danger" style="display:{{vm.deleteButton}}">Delete</button>
</div>    
<br>
<br>
</div>