<div id="veil" ng-hide="vm.dataReady"></div>
    <div id="feedLoading" ng-hide="vm.dataReady">
        <div style="text-align: center" ng-if="!vm.dataReady">
            <div><img src="/assets/images/loading.gif" class="img" style="width:50px;height:50px"/></div>
            <p style="font-size:large">loading details...</p>
        </div>
    </div>
<div ng-if="vm.dataReady" style="margin-left: -15px; margin-right: -15px">
<div class="container">
    <div class="text-center">
        <button class="btn btn-default" ng-if="vm.searchActive" ng-click="vm.backToResults()" style="margin:5px; width:100%">Back to Results</button>
    </div>
</div>
<cat-bar ng-if="vm.ranking" text="{{vm.ranking}}" 
 left-fn="vm.goPrev()" right-fn="vm.goNext()" close-rank="vm.closeAnswerDetail()"></cat-bar>

<div class="row" style="margin:5px;">
    <div class="col-xs-6 col-sm-3 col-md-2">
        <div class="text-left">
            <small class="text-muted">&nbsp;&nbsp;&nbsp{{vm.answer.views}}&nbspviews</small>            
        </div>
    </div>
    <div class="col-xs-6 col-sm-9 col-md-10">
            <div ng-show="{{vm.type == 'Establishment' || vm.type == 'PersonCust' || vm.type == 'Event' }}" class="text-right">
                <p ng-attr-style="display:{{vm.answer.hasOwner ? 'none':'inline'}};" class="hiw" ng-click="vm.bizRegDialog()">
                    <u>{{vm.bindtxt}}</u>{{vm.isAdmin?(' '+ vm.bizcat):''}}
                </p>
                <!--<br ng-attr-style="display:{{vm.answer.hasOwner ? 'inline':'none'}}">-->
                <span class="glyphicon glyphicon-lock" ng-attr-style="display:{{vm.answer.hasOwner ? 'inline':'none'}}"></span>
            </div>
    </div>    
</div>

<answer-header ans="{{vm.answer}}" idx="{{vm.idx}}"></answer-header>
<!-- Event Information -->
<div ng-if="vm.type == 'Event'">
    <br>
    <div ng-bind-html="vm.ehtml" ng-attr-style="{{vm.estyle}}">
        <br>
    </div>
</div>
<div class="text-center" style="margin-right:20px">
    <a type="button" class="btn btn-default" style="vertical-align:middle;color:#0059b3;border-color:#0059b3;" ng-if="vm.answer.family" 
        ng-click="vm.showLocations()" target="_blank"> Other Locations&nbsp&nbsp<span class="fa fa-map-marker"></span></a>
    <a type="button" class="btn btn-default" style="vertical-align:middle;color:#0059b3;border-color:#0059b3;" ng-if="true" 
        ng-click="vm.share()" target="_blank"> Share&nbsp&nbsp<span class="fa fa-share"></span></a>
<!--
    <button class="btn btn-default" ng-click="vm.share()" style="padding-right:5px">Share&nbsp&nbsp<span class="glyphicon glyphicon-share"></span></button>
-->
</div>
<div class="col-xs-12" ng-if="!vm.answer.isprivate">
    <div class="well-sm" style="background-color:#666666;color:#f8f8ff">
        <h3 class="sub-header text-center">Endorsements</h3>        
    </div>
    <!--
    <div class="text-right" style="padding-bottom:5px">
        Vote:&nbsp
        <div class="btn-group btn-toggle"> 
            <button class="btn btn-sm btn-default" ng-attr-style="{{vm.voteonstyle}}"
            ng-click="vm.votemodeON()">ON</button>
            <button class="btn btn-sm btn-default" ng-attr-style="{{vm.voteoffstyle}}"
            ng-click="vm.votemodeOFF()">OFF</button>
        </div>
        <button class="btn btn-default" ng-click="vm.endorseDialog()"><i class="fa fa-question-circle"></i></button>
    </div>
    -->
    <p class="text-left" ng-if="vm.type != 'Short-Phrase'"><strong>{{vm.answer.name}}</strong> is featured in the following ranks:</p>
 
    <div class="well well-light-ranks col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding-top:5px;" 
    ng-repeat="r in vm.answerRanks | orderBy:'rank' | limitTo:vm.dispRanks">
        
        <div class="container-bgbox">
            <bg-box bc="#666666" shade="0" fc="#f8f8ff" 
            text="{{(vm.type == 'Short-Phrase') ? vm.answer.name : r.title}}" 
            dir="horizontal" w="100%" h="40px"></bg-box>
        </div>
        
        
        <!--
        <div class="well-sm" style="background-color:#666666;color:#f8f8ff;height:40px">

            
            <h4 class="text center sub-header">{{(vm.type == 'Short-Phrase') ? vm.answer.name : r.title}}</h4> 
        
        
        </div> -->
        <p class="text-center" ng-if="vm.type == 'Short-Phrase'"> on {{r.title}}</p>
        <div class="row" ng-if="true" style="padding-bottom:5px;padding-top:5px; margin-top:0px">
            <img ng-attr-style="height:55px;width:auto;" class="col-xs-3 col-md-1 col-lg-1" ng-attr-style="margin:0px" ng-src="{{r.icon}}">
           <div class="col-xs-6" style="min-width:175px">
                <p style="padding-top:3px;margin-bottom:px;">Ranked <strong>#{{r.rank}}</strong> out of <strong>{{r.answers}}</strong></p>
               <div class="text-center" style="margin-top:2px">
               <span ng-click="vm.UpVote(r)" ng-attr-style="color:{{r.thumbUp}};margin-right: {{vm.sm?'0px':'20px'}};font-size: 18px;"
               class="pull-left">&nbsp&nbsp
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            <span style="color:black;font-size: 14px;">&nbsp;{{r.upV}}&nbsp;&nbsp;</span>
                </span>

                <span ng-click="vm.DownVote(r)" ng-attr-style="color:{{r.thumbDn}};margin-right: {{vm.sm?'0px':'20px'}};font-size: 18px;"
                class="pull-right">
                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                            <span style="color:black;font-size: 14px;">&nbsp;{{r.downV}}</span>
                            &nbsp&nbsp
                        </span>
                </div>
            </div>
        <a href="" class="text-center col-xs-3" ng-click="vm.gotoRank(r)">Full ranking</a>
        </div>
<!--
        <div class="row" ng-if="vm.votemode" style="padding-top:3px;padding-left:75px;height:55px">
            <div class="col-xs-2 col-md-2 col-lg-2" style="padding-right:20px">
                <img ng-attr-style="height:30px;width:auto" class="cursor" ng-src="../../../assets/images/{{r.thumbUp}}" ng-click="vm.UpVote(r)">
                <label><font size="4">&nbsp&nbsp&nbsp&nbsp{{r.upV}}</font></label>
            </div>
            <div class="col-xs-2 col-md-2 col-lg-2" style="padding-left:100px">
                <img ng-attr-style="height:30px;width:auto" class="cursor" ng-src="../../../assets/images/{{r.thumbDn}}" ng-click="vm.DownVote(r)">
                <label><font size="4">&nbsp&nbsp&nbsp&nbsp{{r.downV}}</font></label>
            </div>            
        </div>
-->        
        <p ng-attr-style="display:{{vm.deleteButton ? 'inline':'none'}};color:red" ng-click="vm.deleteThisCatans(r)">&lt;&lt;Delete&gt;&gt;</p>
        
    </div>
    
     <p ng-show="{{vm.answerRanks.length > 3}}"style="background-color:lightgray;cursor:pointer" ng-click="vm.showRanks()">
                {{vm.dispRanks > 3 ? 'Show less':('Show more (' + (vm.answerRanks.length - 3) + ')') }}</p>

    <div ng-if="vm.isAdmin">
        <div class="text-left"><button class="btn btn-primary" ng-click="vm.addCatans()">Add Catans</button></div>
		<div class="input-group" ng-if="vm.addctsactive">
        <!--<input type="text" class="form-control" placeholder="{{x.cval}}" data-ng-model="x.val">-->
        <input type="text" class="form-control" ng-model="vm.addctsval" bs-options="c for c in vm.addctsopts" bs-typeahead>
        <span class="input-group-btn text-right">
            <button class="btn btn-success" type="button" ng-click="vm.addcts()">Add</button>
        </span>
		</div>
        <!--
		<label class="checkbox-inline" ng-if="vm.addctsactive"><input type="checkbox" ng-model="vm.catisdup">Is Dup</label>
        -->
    </div>
</div>
<div class="container col-xs-12" ng-if="vm.answer.hasranks">
    <div class="row" ng-if="vm.type != 'Short-Phrase'">
        <div class="col-xs-12">
            <div class="well-sm" style="background-color:#666666;color:#f8f8ff;">
                <h3 class="sub-header text-center">The Favorites</h3>
            </div>
        </div>
    </div>
    <div class="row" style="padding:0px;margin:0px;border:0px">
        <div ng-repeat="n in vm.myranks">
            <!-- <div class="clearfix" ng-if="$index % 3 == 0" style="border:0px;padding:0px;margin:0px;"></div> -->
            <div class="container col-xs-3 col-sm-2 col-md-2 col-lg-2" ng-click="vm.gotoCustomRank(n)" 
            ng-attr-style="border-top:3px solid white;border-bottom:3px solid white;background-color:{{n.bc}};color:{{n.fc}};height:{{vm.sm ? '90px':'150px'}};margin:0px;padding:0px;position:relative;">
                <h3 class=" hidden-xs text-center" ng-attr-style="padding:3px; margin:0px; position:absolute; top:50%; left:50%; margin-right:-50%;transform: translate(-50%,-50%);cursor:pointer;">{{n.title}}</h2>
                <h4 class="hidden-sm hidden-md hidden-lg hidden-xl text-center" ng-attr-style="padding:3px; margin:0px; position:absolute; top:50%; left:50%; margin-right:-50%;transform: translate(-50%,-50%);cursor:pointer;">{{n.title}}</h3>
            </div>
            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2" ng-click="vm.gotoCustomRank(n)" style="margin:0px;padding:0px;">
                <img ng-src="{{n.image}}" ng-attr-style="border-top:3px solid white;border-bottom:3px solid white;width:95%;height:{{vm.sm ? '90px':'150px'}};cursor:pointer;">
            </div>
        </div>
    </div>    
    <div class="text-right">
        <a href="" ng-if="vm.userIsOwner" ng-click="vm.addRankforAnswer()">Edit Ranking/List</a>
    </div>
</div>

<!-- Show potential upgrades for Custom Ranks -->    
<div class="container col-xs-12" ng-if="vm.userIsOwner&&!vm.answer.hasranks&&!vm.hideCustomRanksMsg&&!vm.answer.isprivate">
<!-- <div class="container col-xs-12"> -->
    <br>
    <div class="alert alert-info">
        This Favorites section contains <strong>Custom Ranks</strong> and it is <strong>only visible to you</strong>
        Custom Ranks are:<br><br> 
        <i class="fa fa-check"></i>&nbsp<strong>Interactive lists</strong> about anything in your business.<br>
        <i class="fa fa-check"></i>&nbsp<strong>Showcase in detail</strong> your products and/or services.<br>
        <i class="fa fa-check"></i>&nbspA great way to <strong>engage your audience</strong>.<br>
        <i class="fa fa-check"></i>&nbspCan be anything from <i>Food or Drink Items</i>, <i>Newest or Best-selling Products</i>, <i>Popular Services</i>, 
        <i>Recent Projects</i>, <i>Success Stories</i>, <i>Staff Members</i> or anything you choose.<br><br>
        Below are some examples on how you can use Custom Ranks to enhance your business profile. 
        <div class="well-sm" style="background-color:#666666;color:#f8f8ff;">
            <h3 class="sub-header text-center">The Favorites</h3>
        </div>
        <div class="row" style="padding:0px;margin:0px;border:0px">
            <div ng-repeat="n in vm.myranks">
                <!-- <div class="clearfix" ng-if="$index % 3 == 0" style="border:0px;padding:0px;margin:0px;"></div> -->
                <div class="container col-xs-3 col-sm-2 col-md-2 col-lg-2" ng-click="vm.gotoCustomRank(n)"
                ng-attr-style="border-top:3px solid #D9EDF7;border-bottom:3px solid #D9EDF7;background-color:{{n.bc}};color:{{n.fc}};height:{{vm.sm ? '90px':'150px'}};margin:0px;padding:0px;position:relative;">
                    <h3 class="hidden-xs text-center" 
                    ng-attr-style="padding:3px; margin:0px; position:absolute; top:50%; left:50%; margin-right:-50%;transform: translate(-50%,-50%);cursor:pointer;">{{n.title}}</h2>
                    <h4 class="hidden-sm hidden-md hidden-lg hidden-xl text-center" 
                    ng-attr-style="padding:3px; margin:0px; position:absolute; top:50%; left:50%; margin-right:-50%;transform: translate(-50%,-50%);cursor:pointer;">{{n.title}}</h3>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2" ng-click="vm.gotoCustomRank(n)" style="margin:0px;padding:0px;">
                    <img ng-src="{{n.image}}" ng-attr-style="border-top:3px solid #D9EDF7;border-bottom:3px solid #D9EDF7;width:95%;height:{{vm.sm ? '90px':'150px'}};cursor:pointer;">
                </div>
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-default" ng-click="vm.gotoMyBusiness()" style="margin:5px">Purchase Custom Ranks</button>
            <button class="btn btn-default" ng-click="vm.hideCustomRanks()" style="margin:5px">Hide Message</button>
        </div>        
    </div>
</div>

<div class="col-xs-12" ng-if="true">
       <div class="well-sm" style="background-color:#666666;color:#f8f8ff;">
    <h3 class="sub-header" style="justify-content:space-between;display:flex">
        <span class="alignleft" style="cursor:pointer" ng-click="vm.moreImagesRev()">&nbsp{{vm.showRev?'&lt':' '}}&nbsp</span>
        <span class="aligncenter">Photo Gallery</span>
        <span class="alignright" style="cursor:pointer" ng-click="vm.moreImagesFwd()">&nbsp{{vm.showFwd?'&gt':' '}}&nbsp</span>
    </h3>
</div>

    <div class="text-right" ng-if="vm.type != 'Short-Phrase'">
        <button ng-if="!vm.igdemo" class="btn btn-success" ng-click="vm.getImages()" ng-attr-style="display:{{vm.showImageGallery == false ? 'inline':'none'}};margin:5px;">
            Show Images </button>
            <!--         
        <button ng-if="vm.igdemo" class="btn btn-default" ng-click="vm.getImages()" ng-attr-style="background-color:#cc0099;color:#e6e6e6;display:{{vm.showImageGallery == false ? 'inline':'none'}}">Instagram&nbsp&nbsp
            <img ng-src="/assets/images/1485384923_9_-_Instagram.png" style="width:50px"></img></button>
            -->    
    </div>
    <div ng-attr-style="display:{{vm.showImageGallery == true ? 'inline':'none'}}">

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="x in vm.images.slice(vm.i,vm.e)">
            <a ng-click="vm.selectPhoto($index)" class="thumbnail">
                <img ng-src="{{x.url}}" style="width:100%;height:120px">
            </a>
        </div>
        <div ng-if="vm.images.length == 0">
            No images in Photo Gallery.
        </div>
    </div>
</div>
<div ng-if="vm.type != 'Short-Phrase'" class="col-xs-12">
    <!-- <br ng-if="vm.showImageGallery && vm.isLoggedIn && vm.userIsOwner"> -->
    <div class="row">
        <div class="col-xs-6" style="padding-top:20px;">
            <div class="text-center" ng-if="vm.showImageGallery && vm.isLoggedIn" ng-attr-style="display:{{vm.isLoggedIn ? 'inline':'none'}};">
                <blob-upload>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="text-center" ng-if="vm.showImageGallery && vm.isLoggedIn">
                Get from Instagram&nbsp&nbsp&nbsp
                <img ng-src="/assets/images/glyph-logo_May2016.png" ng-click="vm.selectInstagramImages()" ng-attr-style="width:80px;display:{{vm.isLoggedIn ? 'inline':'none'}};cursor:pointer"/>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12" ng-if="vm.answer.ispremium">
    <!--<div ui-view></div>-->
    <div ng-show="{{vm.type == 'Establishment' || vm.type == 'PersonCust' }}">
        <div class="well-sm" style="background-color:#666666;color:#f8f8ff">
            <h3 class="sub-header text-center">Specials</h3>
        </div>
<!--
        <div ng-repeat="x in vm.specialsList">
            <div ng-bind-html="x.html" ng-attr-style="{{x.style}}">
                <br ng-if="vm.specialsList">
            </div>
            <p ng-if="x.hasimage" style="background-color:lightgray;cursor:pointer" ng-click="vm.showsimage(x)">
                {{x.showimage ? 'Hide Flyer':'Show Flyer'}}</p>
            <div class="text-middle" ng-if="x.showimage">
                <img class="displayed" ng-src="{{x.image}}" ng-attr-style="height:{{vm.mxheight}};width:auto;max-width:96%;margin-left:auto;margin-right:auto;">
                <br>
            </div>
        </div>
-->

<div class="row" style="border-left:5px solid white;border-right:5px solid white;">
    <div ng-repeat="x in vm.specialsList">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-click="vm.showSpecial(x)" ng-attr-style="background-color:{{x.bc}};color:{{x.fc}};cursor:pointer;border:5px solid white;">
            <h4 class="text-center">{{x.stitle}}</h4>
        </div>
    </div>
</div>

        <div class="text-right">
            <a href="" ng-if="vm.userIsOwner" ng-click="vm.openSpecials()">Edit Specials</a>
        </div>
    </div>
</div>

<!-- Show potential upgrades for Custom Ranks -->    
<div class="container col-xs-12" ng-if="vm.userIsOwner&&!vm.answer.ispremium&&!vm.hideGetPremiumMsg&&!vm.answer.isprivate">
    <!-- <div style="background-color:#D9EDF7; color:#31708B; border-color:#BCE8F1"> -->
        <div class="alert alert-info">
        
        This Specials section below is only visible when you have <strong>Premium Membership</strong>. Premium Membership allows you to: <br><br>
        <i class="fa fa-check"></i>&nbspCommunicate to users <strong>daily specials, events and deals</strong> real time.<br>
        <i class="fa fa-check"></i>&nbspOffer special deals and control exactly when to start and stop an offering.<br> 
        <i class="fa fa-check"></i>&nbspSpecials are shown in the <strong>rankings summary</strong> driving <strong>more customers</strong>
        to your profile. <br><br>
        Below are examples on the type of Specials and Promotions you can show with a Premium Membership.
        
        <div class="well-sm" style="background-color:#666666;color:#f8f8ff;">
            <h3 class="sub-header text-center">Specials</h3>
        </div>

        <div class="row" style="border-left:5px solid #D9EDF7;border-right:5px solid #D9EDF7;">
    <div ng-repeat="x in vm.specialsList">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-click="vm.showSpecial(x)" ng-attr-style="background-color:{{x.bc}};color:{{x.fc}};cursor:pointer;border:5px solid #D9EDF7;">
            <h4 class="text-center" style="padding-top:10px">{{x.stitle}}</h4>
        </div>
    </div>
</div>
        <!--
        <div ng-repeat="x in vm.specialsList">
            <div ng-bind-html="x.html" ng-attr-style="{{x.style}}">
                <br ng-if="vm.specialsList">
            </div>
            <p ng-if="x.hasimage" style="background-color:lightgray;cursor:pointer" ng-click="vm.showsimage(x)">
                {{x.showimage ? 'Hide Flyer':'Show Flyer'}}</p>
            <div class="text-middle" ng-if="x.showimage">
                <img class="displayed" ng-src="{{x.image}}" ng-attr-style="height:400px;max-width:96%;margin-left:auto;margin-right:auto;">
                <br>
            </div>
        </div>
        -->
        <div class="text-right">
            <button class="btn btn-default" ng-click="vm.gotoMyBusiness()" style="margin:5px">Purchase Premium Membership</button>
            <button class="btn btn-default" ng-click="vm.hideGetPremium()" style="margin:5px">Hide Message</button>
        </div>        
    </div>
</div>

<div class="col-xs-12">
    <div>
        <div class="well-sm" style="background-color:#666666;color:#f8f8ff">
            <h3 class="sub-header text-center">Opinions</h3>
        </div>
        <!--
<table class="table table-hover cursor">
    <!--
    <thead>
            <tr>
                <th>   </th>
                <th>   </th>
                <th align="middle">FOOD</th>
                <th>   </th>
                <th>   </th>
            </tr>
        </thead> -->

        <!--
        <div class="row">
            <!--<div ng-attr-style="display:{{x.shdr ? 'inline':'none'}}"> -->
        <!--    <div>
                <div style="background-color:gray;color:white;">
                    <p>{{x[0].gtitle}}</p>
                </div>
            </div>
        </div>  -->

        <table class="table table-hover cursor">  
       <!--  <table class="table table-hover cursor"> -->
            <!--
            <thead class="thead-inverse">
                <tr>
                    <th colspan="5" class="text-center" style="background-color:#d9d9d9;width:100%">{{x[0].gtitle}}</th>
                </tr>
            </thead>
            -->
            <tbody>
                <tr ng-repeat="item in vm.vrows | orderBy:'-delta'">
                    <td align="middle" ng-attr-style="width:10%"><img ng-src="../../../assets/images/{{item.upImage}} " style="max-height:30px;margin:0px;" ng-click="vm.vrowVoteUp(item)"></td>
                    <td align="left" style="width:10%">{{item.upV}}</td>
                    <td align="middle" style="width:60%">{{item.title}}</td>
                    <td align="right" style="width:10%">{{item.downV}}</td>
                    <td align="middle" ng-attr-style="width:10%"><img ng-src="../../../assets/images/{{item.downImage}}" style="max-height:30px;margin:0px; " ng-click="vm.vrowVoteDown(item)"></td>
                </tr>
                <!-- <tr> -->
                    <!--
                    <td align="middle" ng-attr-style="width:10%"><img ng-src="../../../assets/images/thumbs_up_gray_table.png" style="max-height:30px;margin:0px;" ng-click="vm.vrowVoteUp(item)"></td>
                    <td align="left" style="width:10%">0</td>
                    <!-- <td align="middle" style="width:60%">{{item.title}}</td> -->
                    <!--
                    <td colspan="5" align="middle" style="width:100%">
                        <div class="input-group" style="padding:0px;margin:0px;">
                            <input type="text" class="form-control" ng-model="x.val" placeholder="Enter a different opinion...">
                            <span class="input-group-btn text-right">
                                <button class="btn btn-primary" type="button" ng-click="vm.addVRow(x)">Add Opinion</button>
                            </span>
                        </div>
                    </td> -->
                    <!-- 
                    <td align="right" style="width:10%">0</td>
                    <td align="middle" ng-attr-style="width:10%"><img ng-src="../../../assets/images/thumbs_down_gray_table.png" style="max-height:30px;margin:0px; " ng-click="vm.vrowVoteDown(item)"></td>
                    -->
                <!-- </tr>  -->
            </tbody>
        </table>
        <div class="input-group" style="padding:0px;margin:0px;">
            <input type="text" class="form-control" ng-model="vm.newop" maxlength="30" placeholder="{{'Write an opinion of '+ vm.answer.name}}">
                <span class="input-group-btn text-right">
                    <button class="btn btn-primary {{vm.addvrowbutton}}" type="button" ng-click="vm.addvrow()">Add Opinion</button>
                </span>
        </div>
        <div class="text-center" style="padding-top:5px">
            {{30 - vm.newop.length + ' characters left'}}
        </div>    
        <br>

        <!--</table>  ng-if="vm.userIsOwner&&false" -->
        <!--
        <div class="text-right">
            <a href="" ng-click="vm.editVRows()">Add Opinion</a>
        </div>
        -->
    </div>
</div>
<div class="col-xs-12" ng-if="false">

    <div ng-show="{{vm.type != 'Establishment' && vm.type != 'PersonCust' && vm.type != 'Event' }}">
        <div class="well-sm" style="background-color:#666666;color:#f8f8ff">
            <h3 class="sub-header">Versus Table</h3>
        </div>

        <table class="table table-hover cursor ">
            <tbody>
                <thead>
                    <tr>
                        <th align="middle" style="width:15%">Pct (%)</th>
                        <th align="middle" style="width:60%">vs. Opponent</th>
                        <th align="middle" style="width:15%">Pct (%)</th>
                        <th align="middle" style="width:10%">GP</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ng-click="vm.refresh(x.id)  -->
                    <tr ng-repeat="x in vm.relativetable | orderBy: '-Rank' ">
                        <td align="middle" style="width:15%">{{x.PctF}}</td>
                        <td align="middle" style="width:60%">{{x.vsName}}</td>
                        <td align="middle" style="width:15%">{{x.PctC}}</td>
                        <td align="middle" style="width:10%">{{x.GP}}</td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>
<br>
<!-- abcd
<div class="text-center">
    <button ng-click="vm.loadComments()" class="btn btn-default" ng-class="vm.cm.commLoaded ? 'disabled' : ''" style="background-color:#e6e6e6;width:100%">COMMENTS ({{vm.numcom}})</button>
</div>
<br>
<div ng-attr-style="display:{{vm.cm.commLoaded ? 'inline':'none'}}">
    <div ng-repeat="x in vm.cm.comments">
        <div class="row">


            <div class="col-xs-12 media">

                <div ng-if="!x.picture" class="profile-avatar-wrapper media-left">
                    <div class="empty-profile-avatar-wrapper"  ng-attr-style="background-color:{{x.bc}};color:{{x.fc}};">{{x.initials}}</div>
                </div>
                <div ng-if="x.picture" class="profile-avatar-wrapper media-left" align="middle">
                    <img ng-src="{{x.picture}}" class="img-responsive img-circle profile-avatar"/>
                </div>
                <div class="media-body">
                    {{x.body}}
                    <br>
                    <small style="color:#bfbfbf">{{x.username}} - {{x.date}}&nbsp&nbsp                    
                        <span class="dropdown ">
                            <i type="button" class="fa fa-flag dropdown-toggle" data-toggle="dropdown"></i>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a ng-click="vm.cmFlag(1)">Off-Topic</a></li>
                                <li><a ng-click="vm.cmFlag(2)">Offensive</a></li>
                                <li><a ng-click="vm.cmFlag(3)">Spam</a></li>
                            </ul>
                        </span>                   
                    </small>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div ng-attr-style="display:{{(vm.cm.commLoaded && vm.cm.comments.length == 0 && !vm.isLoggedIn) ? 'inline':'none'}}">
        <br>
        <p><small> Nobody has commented yet. Be the first. Log in and leave a comment. </small></p>
    </div>
    <div ng-attr-style="display:{{(vm.cm.commLoaded && vm.cm.comments.length > 0 && !vm.isLoggedIn) ? 'inline':'none'}}">
        <br>
        <p><small> You must log in to leave a comment. </small></p>
    </div>
    <div ng-attr-style="display:{{(vm.cm.commLoaded && vm.isLoggedIn && !vm.commentAllowed) ? 'inline':'none'}}">
        <br>
        <p><small> Endorse one or more answers to leave a comment. </small></p>
    </div>
    <div ng-attr-style="display:{{(vm.isLoggedIn && vm.commentAllowed) ? 'inline':'none'}}">
        <div class="media">
            <div ng-if="!user.picture.data.url" class="profile-avatar-wrapper media-left">
                <div class="empty-profile-avatar-wrapper"  ng-attr-style="background-color:{{x.bc}};color:{{x.fc}};">{{x.initials}}</div>
            </div>
            <div ng-if="user.picture.data.url" class="profile-avatar-wrapper media-left" align="middle">
                <img ng-src="{{user.picture.data.url}}" class="img-responsive img-circle profile-avatar"/>
            </div>
            <div class="media-body">
                <!--
                <input type="text" class="form-control" ng-model="vm.comment" placeholder="Leave a comment" 
                style="margin-left:0px;margin-right:0px;">-->
<!-- abcd                
                <textarea class="form-control" ng-model="vm.cm.newComment" placeholder="Leave a comment" style="margin-left:0px;margin-right:0px;"></textarea>
            </div>
        </div>
        <br>
        <div class="text-right">
            <button ng-click="vm.postComment()" class="btn btn-primary">Post</button>
        </div>
    </div>
</div>
-->
<br>
<div class="btn-group" role="group">
    <button type="button" ng-click="vm.goBack()" class="btn btn-default">Back</button>
    <!--
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Flag</button>
            <ul class="dropdown-menu dropdown-menu-left" role="menu">
                <li><a ng-click="vm.flagAnswer(1)">Wrong Category</a></li>
                <li><a ng-click="vm.flagAnswer(2)">No longer active</a></li>
                <li><a ng-click="vm.flagAnswer(3)">Offensive</a></li>
                <li><a ng-click="vm.flagAnswer(4)">Spam</a></li>
            </ul>
    </div>
    -->
</div>
<button type="button" ng-click="vm.deleteAnswer()" class="btn btn-danger" 
    ng-if="vm.deleteButton">Delete</button>    
<br>
<br>
</div>