<div class="container">
<div class="row">
    <div class="container-bgbox col-xs-1">
        <bg-box bc="{{bc}}" bc2={{bc}} fc="{{fc}}" text="<" dir="horizontal" w="100%" h="{{ht}}px" ng-click="goPrev()" style="cursor:pointer"></bg-box>
    </div>
<div class="container-bgbox col-xs-10">
    <bg-box bc="{{bc}}" bc2="{{bc2}}" fc="{{fc}}" text="{{text}}" dir="horizontal" w="100%" h="{{ht}}px" ng-click="selRank()" style="cursor:pointer"></bg-box>
</div>
<div class="container-bgbox col-xs-1">
        <bg-box bc="{{bc2}}" bc2="{{bc2}}" fc="{{fc}}" text=">" dir="horizontal" w="100%" h="{{ht}}px" ng-click="goNext()" style="cursor:pointer"></bg-box>
    </div>
</div>
</div>