<div class="container">
    <div class="well-answer">
        <h2 class="sub-header">{{vm.answer.name}}
                <span class="nomargin">
                    <button type="button" class="btn btn-default pull-right" style="vertical-align:middle;" 
                    ng-click="vm.closeRank()">
                    <span class="glyphicon glyphicon-remove" style="padding-top:0px;padding-bottom:0px;" aria-hidden="true"></span>
                    </button>
                </span>
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3>Edit Answer Profile</h3>
    </div>
    <div class="col-sm-6 text-right">
        <p class="hiw" ng-click="vm.showHowItWorksDialog()"><u>How it Works</u></p>
    </div>
</div>
<br>

<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="" ng-show="{{vm.type != 'Short-Phrase'}}">
            <img class="displayed-uc" src="{{vm.imageURL}}" alt="{{image.errorLoading}}" style="width:100%; max-height:300px" ng-show="{{vm.type != 'Short-Phrase'}}">
            <img src="../../../assets/images/powered_by_google_on_white.png" ng-if="vm.type!='PersonCust' && !vm.userIsOwner">
        </div>
        <div class="container-answer" style="width:100%; max-height:300px;" ng-show="{{vm.type == 'Short-Phrase'}}">
            <br>
            <h2 style="text-align:center"><strong>{{vm.answer.name}}</strong></h2>
            <br>
            <h4 style="text-align:center">{{vm.answer.addinfo}}</h4>
        </div>
        <br>
        <div ng-if="vm.userIsOwner" style="display:{{vm.userIsOwner ? 'inline':'none'}}">
            <blob-upload>
        </div>
        <div style="display:{{vm.userIsOwner ? 'none':'inline'}}" ng-if="vm.type!='PersonCust'">
            <button type="submit" class="btn btn-primary" ng-click="vm.editImage()">{{vm.imageCommand}}</button>
            <button type="submit" class="btn btn-primary" ng-click="vm.viewPrev()" style="display:{{vm.imagefunctions}}">&laquo</button>
            <button type="submit" class="btn btn-primary" ng-click="vm.viewNext()" style="display:{{vm.imagefunctions}}">&raquo</button>
            <a style="display:{{vm.imagefunctions}}">{{vm.linkIdx+1}} of {{vm.numLinks}}</a>
            <button type="submit" class="btn btn-success" ng-click="vm.selectImage()" style="display:{{vm.imagefunctions}}">Select</button>
        </div>
    </div>

    <form class="form-horizontal col-sm-12 col-md-6" role="form" name="answerForm" ng-repeat="x in vm.fields">
        <!--  <div class="form-group" ng-repeat="x in vm.fields"> -->
        <!--   <div ng-repeat="x in vm.fields">  -->
       
        <!--<div class="col-sm-8 col-md-8">-->
        <div style="display:{{x.field!='addinfo' ? 'inline':'none'}}" ng-hide="{{x.onlybyowner && !vm.userIsOwner}}">
            <label class="control-label capitalize">{{x.label}}:</label>
            <div class="input-group">
                <!--<input type="text" class="form-control" placeholder="{{x.cval}}" data-ng-model="x.val">-->
                <input type="text" class="form-control" ng-model="x.val" bs-options="{{x.opts}}" bs-typeahead placeholder="{{x.cval}}">
                <span class="input-group-btn text-right">
                        <button class="btn btn-primary" type="button" ng-click="vm.editField(x)">Edit</button>
                    </span>
            </div>
        </div>        
        <div class="input-group" style="display:{{x.field=='addinfo' ? 'inline':'none'}}" 
        ng-hide="{{!vm.access && (vm.type == 'PersonCust')}}">
        <label class="control-label capitalize">{{x.label}}:</label>
            <textarea id="textarea1" class="form-control" ng-model="x.val" ng-model-options='{ debounce: 5000 }' 
            placeholder="{{x.cval}}" rows="5"></textarea>
            <br><br>
            <span class="input-group-btn text-right">
                <button ng-click="vm.getWiki()" class="btn btn-primary" style="background-color:#595959;border-color:gray;margin-right:10px" ng-if="vm.type == 'Person'">
                    Get from Wikipedia
                </button>
                <button class="btn btn-primary" type="button" ng-click="vm.editField(x)">Edit</button>
            </span>
        </div>
    </form>

</div>
<br>
<div class="well well-light-edit" ng-repeat="x in vm.edits">
    
    <div ng-if="x.field != 'addinfo'">
        <p><strong>{{x.username}}</strong> has edited the <strong class="capitalize"><em>{{x.field}}</em>
            </strong> of <strong><em>{{x.name}}</em>
            </strong> to <strong><em>{{x.nval}}</em></strong>.</p>
    </div>
    <div ng-if="x.field == 'addinfo'">
        <p><strong>{{x.username}}</strong> has edited the information of <strong><em>{{x.name}}</em>
            </strong> to: <br><br>{{x.nval}}.</p>
    </div>
    <img src="{{x.imageURL}}" " class="displayed " style="height:150px;display:{{x.display}} ">
    <div class="row form-group ">
        <div class="text-center ">
            <label>{{x.upV}}</label>
            <label> </label>
            <button class="btn btn-primary {{x.agree}} " ng-click="vm.editAgree(x, $index) ">Agree</button>
            <button type="submit " class="btn btn-primary {{x.disagree}} " ng-click="vm.editDisagree(x, $index) ">Disagree</button>
            <label> </label>
            <label>{{x.downV}}</label>
        </div>
    </div>
</div>
<div ng-if="vm.sm && vm.userIsOwner && vm.type == 'Establishment'">
<div class="text-center ">
<label>Service Hours</label>
</div>
<br>
<div ng-repeat="x in vm.openhours ">
    <div class="container-hours ">
        <div class="row ">
            <div class="col-xs-6 col-sm-6 col-md-2 "><p> {{x.day}}: </p></div>
            <div class="col-xs-6 col-sm-6 col-md-2 ">
                <select ng-model="x.opn " ng-change="vm.hoursChanged() " ng-options="n for n in vm.openOptions ">
		          <!--<option value=" ">{{x.opn}}</option>-->
	           </select>
            </div>
        </div>
        <div class="row ">
            <div class="col-xs-2 col-sm-2 col-md-2 " style="display:{{x.opn=='OPEN' ? 'inline': 'none'}} "><p class="text-right ">From: </p></div>
            <div class="col-xs-4 col-sm-4 col-md-2 " style="display:{{x.opn=='OPEN' ? 'inline': 'none'}} ">
                <select ng-model="x.st " ng-change="vm.hoursChanged() " ng-options="t for t in vm.timeDD ">
	               <!--	<option value=" ">{{x.st}}</option>-->
	           </select>
            </div>    
            <div class="col-xs-2 col-sm-2 col-md-2 " style="display:{{x.opn=='OPEN' ? 'inline': 'none'}} "><p class="text-right ">To: </p></div>
            <div class="col-xs-4 col-sm-4 col-md-2 " style="display:{{x.opn=='OPEN' ? 'inline': 'none'}} ">
                <select ng-model="x.ct " ng-change="vm.hoursChanged() " ng-options="t for t in vm.timeDD ">
	               <!--	<option value=" ">{{x.ct}}</option> -->
	           </select>
            </div>
        </div>
    </div>
    <br>
</div>
</div>
<div ng-if="vm.nsm && vm.userIsOwner && vm.type == 'Establishment'">
<div class="container " style="background-color:#e6e6e6;padding-right:50px;padding-left:10px;padding-top:10px;padding-bottom:0px; ">
<div class="text-center ">
<label>Service Hours</label>
</div>
<br>
<div class="container " ng-repeat="x in vm.openhours ">
        <div class="row ">
            <div class="col-xs-2 col-sm-2 col-md-2 "><p> {{x.day}}: </p></div>
            <div class="col-xs-2 col-sm-2 col-md-2 ">
                <select ng-model="x.opn " ng-change="vm.hoursChanged() " ng-options="n for n in vm.openOptions ">
		          <!--<option value=" ">{{x.opn}}</option>-->
	           </select>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 " style="display:{{x.opn=='OPEN' ? 'inline': 'none'}} "><p class="text-right ">From: </p></div>
            <div class="col-xs-2 col-sm-2 col-md-2 " style="display:{{x.opn=='OPEN' ? 'inline': 'none'}} ">
                <select ng-model="x.st " ng-change="vm.hoursChanged() " ng-options="t for t in vm.timeDD ">
	               <!--	<option value=" ">{{x.st}}</option>-->
	           </select>
            </div>    
            <div class="col-xs-2 col-sm-2 col-md-2 " style="display:{{x.opn=='OPEN' ? 'inline': 'none'}} "><p class="text-right ">To: </p></div>
            <div class="col-xs-2 col-sm-2 col-md-2 " style="display:{{x.opn=='OPEN' ? 'inline': 'none'}} ">
                <select ng-model="x.ct " ng-change="vm.hoursChanged() " ng-options="t for t in vm.timeDD ">
	               <!--	<option value=" ">{{x.ct}}</option> -->
	           </select>
            </div>
        
    </div>
    <br>
</div>
</div>
</div>
<div class="text-right" ng-if="vm.userIsOwner && vm.type == 'Establishment'">
<a ng-click="vm.updateHours() " class="btn btn-primary {{vm.updateHoursEn}} ">Update Hours</a>
</div>
<br>
<div class="text-center ">
<a ng-click="vm.answerDetail() " class="btn btn-success ">Back</a>
</div>
<br>