<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#myfavs">My Favorites</a></li>
	<li><a data-toggle="tab" href="#myfriends">My Friends</a></li>
</ul>

<div class="tab-content">
	<div id="myfavs" class="tab-pane fade in active">
		<div ng-controller="myfavs as vm">
			<h3>My Favorites</h3>

			<table class="table" ng-if="vm.answerExist2">
				<tbody>
					<thead style="border-style:none;">
						<tr>
							<th ng-attr-style="background-color:{{vm.bgc2}};color:{{vm.fc2}};width:50%;">
								{{vm.headline2}}</th>
							<th ng-attr-style="background-color:{{vm.bgc2}};color:{{vm.fc2}};width:50%;"></th>	
						</tr>
					</thead>
					<!--	<div ng-repeat="x in resultsT | orderBy: '-views' | limitTo:maxRes"> -->
					<tr ng-repeat="x in vm.mylifestyleans | limitTo:vm.maxRes2" ng-click="vm.answerDetail(2,x)" style="cursor:pointer;">
						<td style="width:50%;">
							{{x.name}}
						</td>
						<td ng-attr-style="background-color:{{x.sp_bc}};color:{{x.sp_fc}}">{{x.sp_title}}</td>
					</tr>
				</tbody>
			</table><p class="text-right" style="color:blue;" ng-click="vm.seeMore(2)"  ng-if="vm.cb2gt5">&lt;&lt;{{vm.btext2}}&gt;&gt;</p>

			<table class="table" ng-if="vm.answerExist1">
				<tbody>
					<thead style="border-style:none;">
						<tr>
							<th ng-attr-style="background-color:{{vm.bgc1}};color:{{vm.fc1}};width:50%;">
								{{vm.headline1}}</th>
							<th ng-attr-style="background-color:{{vm.bgc1}};color:{{vm.fc1}};width:50%;"></th>	
						</tr>
					</thead>
					<!--	<div ng-repeat="x in resultsT | orderBy: '-views' | limitTo:maxRes"> -->
					<tr ng-repeat="x in vm.myfoodans | limitTo:vm.maxRes1" ng-click="vm.answerDetail(1,x)" style="cursor:pointer;">
						<td style="width:50%;">
							{{x.name}}
						</td>
						 <td ng-attr-style="background-color:{{x.sp_bc}};color:{{x.sp_fc}}">{{x.sp_title}}</td>                    
					</tr>
					
				</tbody>
			</table><p class="text-right" style="color:blue;" ng-click="vm.seeMore(1)" ng-if="vm.cb1gt5">&lt;&lt;{{vm.btext1}}&gt;&gt;</p>

			<table class="table" ng-if="vm.answerExist3">
				<tbody>
					<thead style="border-style:none;">
						<tr>
							<th ng-attr-style="background-color:{{vm.bgc3}};color:{{vm.fc3}};width:50%;">
								{{vm.headline3}}</th>
							<th ng-attr-style="background-color:{{vm.bgc3}};color:{{vm.fc3}};width:50%;"></th>	
						</tr>
					</thead>
					<!--	<div ng-repeat="x in resultsT | orderBy: '-views' | limitTo:maxRes"> -->
					<tr ng-repeat="x in vm.myservicesans | limitTo:vm.maxRes3" ng-click="vm.answerDetail(3,x)" style="cursor:pointer;">
						<td style="width:50%;">
							{{x.name}}
						</td>
						<td ng-attr-style="background-color:{{x.sp_bc}};color:{{x.sp_fc}}">{{x.sp_title}}</td>
					</tr>
				</tbody>
			</table><p class="text-right" style="color:blue;" ng-click="vm.seeMore(3)" ng-if="vm.cb3gt5">&lt;&lt;{{vm.btext3}}&gt;&gt;</p>

			<table class="table" ng-if="vm.answerExist4">
				<tbody>
					<thead style="border-style:none;">
						<tr>
							<th ng-attr-style="background-color:{{vm.bgc4}};color:{{vm.fc4}};width:50%;">
								{{vm.headline4}}</th>
							<th ng-attr-style="background-color:{{vm.bgc4}};color:{{vm.fc4}};width:50%;"></th>	
						</tr>
					</thead>
					<!--	<div ng-repeat="x in resultsT | orderBy: '-views' | limitTo:maxRes"> -->
					<tr ng-repeat="x in vm.myhealthans | limitTo:vm.maxRes4" ng-click="vm.answerDetail(4,x)" style="cursor:pointer;">
						<td style="width:50%;">
							{{x.name}}
						</td>
						<td ng-attr-style="background-color:{{x.sp_bc}};color:{{x.sp_fc}}">{{x.sp_title}}</td>
					</tr>
				</tbody>
			</table><p class="text-right" style="color:blue;" ng-click="vm.seeMore(4)" ng-if="vm.cb4gt5">&lt;&lt;{{vm.btext4}}&gt;&gt;</p>

			<table class="table" ng-if="vm.answerExist5">
				<tbody>
					<thead style="border-style:none;">
						<tr>
							<th ng-attr-style="background-color:{{vm.bgc5}};color:{{vm.fc5}};width:50%;">
								{{vm.headline5}}</th>
							<th ng-attr-style="background-color:{{vm.bgc5}};color:{{vm.fc5}};width:50%;"></th>	
						</tr>
					</thead>
					<!--	<div ng-repeat="x in resultsT | orderBy: '-views' | limitTo:maxRes"> -->
					<tr ng-repeat="x in vm.mybeautyans | limitTo:vm.maxRes5" ng-click="vm.answerDetail(5,x)" style="cursor:pointer;">
						<td style="width:50%;">
							{{x.name}}
						</td>
						<td ng-attr-style="background-color:{{x.sp_bc}};color:{{x.sp_fc}}">{{x.sp_title}}</td>
					</tr>
				</tbody>
			</table><p class="text-right" style="color:blue;" ng-click="vm.seeMore(5)" ng-if="vm.cb5gt5">&lt;&lt;{{vm.btext5}}&gt;&gt;</p>

			<table class="table" ng-if="vm.answerExist6">
				<tbody>
					<thead style="border-style:none;">
						<tr>
							<th ng-attr-style="background-color:{{vm.bgc6}};color:{{vm.fc6}};width:50%;">
								{{vm.headline6}}</th>
							<th ng-attr-style="background-color:{{vm.bgc6}};color:{{vm.fc6}};width:50%;"></th>	
						</tr>
					</thead>
					<!--	<div ng-repeat="x in resultsT | orderBy: '-views' | limitTo:maxRes"> -->
					<tr ng-repeat="x in vm.mysocialans | limitTo:vm.maxRes6" ng-click="vm.answerDetail(6,x)" style="cursor:pointer;">
						<td style="width:50%;">
							{{x.name}}
						</td>
						<td ng-attr-style="background-color:{{x.sp_bc}};color:{{x.sp_fc}}">{{x.sp_title}}</td>
					</tr>
				</tbody>
			</table><p class="text-right" style="color:blue;" ng-click="vm.seeMore(6)" ng-if="vm.cb6gt5">&lt;&lt;{{vm.btext6}}&gt;&gt;</p>

			<table class="table" ng-if="vm.answerExist7">
				<tbody>
					<thead style="border-style:none;">
						<tr>
							<th ng-attr-style="background-color:{{vm.bgc7}};color:{{vm.fc7}};width:50%;">
								{{vm.headline7}}</th>
							<th ng-attr-style="background-color:{{vm.bgc7}};color:{{vm.fc7}};width:50%;"></th>	
						</tr>
					</thead>
					<!--	<div ng-repeat="x in resultsT | orderBy: '-views' | limitTo:maxRes"> -->
					<tr ng-repeat="x in vm.myfamilyans | limitTo:vm.maxRes7" ng-click="vm.answerDetail(7,x)" style="cursor:pointer;">
						<td style="width:50%;">
							{{x.name}}
						</td>
						<td ng-attr-style="background-color:{{x.sp_bc}};color:{{x.sp_fc}}">{{x.sp_title}}</td>
					</tr>
				</tbody>
			</table><p class="text-right" style="color:blue;" ng-click="vm.seeMore(7)" ng-if="vm.cb7gt5">&lt;&lt;{{vm.btext7}}&gt;&gt;</p>

			<div ng-if="vm.noAns">
			</br>
			<p>You have not endorsed any Establishments yet. Places that you endorse will show up 
				here so you can have quick access to all their specials and promotions.</p> 
			</div>

			<div class="text-right" role="group">
			    <button type="button" ng-click="vm.goBack()" class="btn btn-default">Back</button>
			</div>    
		</div>

	</div>
	<div id="myfriends" class="tab-pane fade">

		<div ng-controller="myfriends as vm">
			<h3>My Friends' Favorites</h3>

			<table class="table" ng-if="vm.answerExist2">
				<tbody>
					<thead style="border-style:none;">
						<tr>
							<th ng-attr-style="background-color:{{vm.bgc2}};color:{{vm.fc2}};width:50%;">
								{{vm.headline2}}</th>
							<th ng-attr-style="background-color:{{vm.bgc2}};color:{{vm.fc2}};width:50%;"></th>	
							<th ng-attr-style="background-color:{{vm.bgc2}};color:{{vm.fc2}};width:50%;">
							</th>
							<th ng-attr-style="background-color:{{vm.bgc2}};color:{{vm.fc2}};width:50%;">
							</th>
						</tr>
					</thead>
					<!--	<div ng-repeat="x in resultsT | orderBy: '-views' | limitTo:maxRes"> -->
					<tr ng-repeat="x in vm.lifestyleans | limitTo:vm.maxRes2 track by $index" style="cursor:pointer;">
						<td style="width:50%;line-height: 35px" ng-click="vm.answerDetail(2,x)" >
							{{x.name}}
						</td>
						<td ng-attr-style="background-color:{{x.sp_bc}};color:{{x.sp_fc}}">{{x.sp_title}}</td>
						<td>
							<div class="profile-avatar-wrapper  media-left" ng-repeat="userObj in x.userObjs | limitTo:1 " 
								ng-click="vm.showAllFriendsList(x.userObjs, x.name)" align="middle" style="display: inline" >
								<img ng-src="{{userObj.picture.data.url}}" class="img-responsive img-circle profile-avatar" style="display: inline"/>
							</div>
						</td>     
						<td style="line-height: 35px">
							<div ng-show="x.userObjs.length > 1" style="display: inline">
								<span class="badge btn-primary" ng-click="vm.showAllFriendsList(x.userObjs, x.name)">{{x.userObjs.length}}</span>
							</div>
						</td>     
					</tr>
				</tbody>
			</table><p class="text-right" style="color:blue;" ng-click="vm.seeMore(2)"  ng-if="vm.cb2gt5">&lt;&lt;{{vm.btext2}}&gt;&gt;</p>

			<table class="table" ng-if="vm.answerExist1">
				<tbody>
					<thead style="border-style:none;">
						<tr>
							<th ng-attr-style="background-color:{{vm.bgc1}};color:{{vm.fc1}};width:50%;">
								{{vm.headline1}}</th>
							<th ng-attr-style="background-color:{{vm.bgc1}};color:{{vm.fc1}};width:50%;"></th>	
							<th ng-attr-style="background-color:{{vm.bgc1}};color:{{vm.fc1}};width:50%;">
							</th>
							<th ng-attr-style="background-color:{{vm.bgc1}};color:{{vm.fc1}};width:50%;">
							</th>
						</tr>
					</thead>
					<!--	<div ng-repeat="x in resultsT | orderBy: '-views' | limitTo:maxRes"> -->
					<tr ng-repeat="x in vm.foodans | limitTo:vm.maxRes1 track by $index" style="cursor:pointer;">
						<td style="width:50%;line-height: 35px" ng-click="vm.answerDetail(1,x)" >
							{{x.name}}
						</td>
						<td ng-attr-style="background-color:{{x.sp_bc}};color:{{x.sp_fc}}">	{{x.sp_title}}
						</td>    
						<td>
							<div class="profile-avatar-wrapper  media-left" ng-repeat="userObj in x.userObjs | limitTo:1 " 
								ng-click="vm.showAllFriendsList(x.userObjs, x.name)" align="middle" style="display: inline" >
								<img ng-src="{{userObj.picture.data.url}}" class="img-responsive img-circle profile-avatar" style="display: inline"/>
							</div>
						</td>     
						<td style="line-height: 35px">
							<div ng-show="x.userObjs.length > 1" style="display: inline">
								<span class="badge btn-primary" ng-click="vm.showAllFriendsList(x.userObjs, x.name)">{{x.userObjs.length}}</span>
							</div>
						</td>           
					</tr>
					
				</tbody>
			</table><p class="text-right" style="color:blue;" ng-click="vm.seeMore(1)" ng-if="vm.cb1gt5">&lt;&lt;{{vm.btext1}}&gt;&gt;</p>

			<table class="table" ng-if="vm.answerExist3">
				<tbody>
					<thead style="border-style:none;">
						<tr>
							<th ng-attr-style="background-color:{{vm.bgc3}};color:{{vm.fc3}};width:50%;">
								{{vm.headline3}}</th>
							<th ng-attr-style="background-color:{{vm.bgc3}};color:{{vm.fc3}};width:50%;"></th>	
							<th ng-attr-style="background-color:{{vm.bgc3}};color:{{vm.fc3}};width:50%;">
							</th>
							<th ng-attr-style="background-color:{{vm.bgc3}};color:{{vm.fc3}};width:50%;">
							</th>
						</tr>
					</thead>
					<!--	<div ng-repeat="x in resultsT | orderBy: '-views' | limitTo:maxRes"> -->
					<tr ng-repeat="x in vm.servicesans | limitTo:vm.maxRes3 track by $index" style="cursor:pointer;">
						<td style="width:50%;line-height: 35px" ng-click="vm.answerDetail(3,x)" >

							{{x.name}}
						</td>
						<td ng-attr-style="background-color:{{x.sp_bc}};color:{{x.sp_fc}}">{{x.sp_title}}</td>
						<td>
							<div class="profile-avatar-wrapper  media-left" ng-repeat="userObj in x.userObjs | limitTo:1 " 
							ng-click="vm.showAllFriendsList(x.userObjs, x.name)" align="middle" style="display: inline" >
								<img ng-src="{{userObj.picture.data.url}}" class="img-responsive img-circle profile-avatar" style="display: inline"/>
							</div>
						</td>     
						<td style="line-height: 35px">
							<div ng-show="x.userObjs.length > 1" style="display: inline">
								<span class="badge btn-primary" ng-click="vm.showAllFriendsList(x.userObjs, x.name)">{{x.userObjs.length}}</span>
							</div>
						</td>     
					</tr>
				</tbody>
			</table><p class="text-right" style="color:blue;" ng-click="vm.seeMore(3)" ng-if="vm.cb3gt5">&lt;&lt;{{vm.btext3}}&gt;&gt;</p>

			<table class="table" ng-if="vm.answerExist4">
				<tbody>
					<thead style="border-style:none;">
						<tr>
							<th ng-attr-style="background-color:{{vm.bgc4}};color:{{vm.fc4}};width:50%;">
								{{vm.headline4}}</th>
							<th ng-attr-style="background-color:{{vm.bgc4}};color:{{vm.fc4}};width:50%;"></th>	
							<th ng-attr-style="background-color:{{vm.bgc4}};color:{{vm.fc4}};width:50%;">
							</th>
							<th ng-attr-style="background-color:{{vm.bgc4}};color:{{vm.fc4}};width:50%;">
							</th>
						</tr>
					</thead>
					<!--	<div ng-repeat="x in resultsT | orderBy: '-views' | limitTo:maxRes"> -->
					<tr ng-repeat="x in vm.healthans | limitTo:vm.maxRes4 track by $index" style="cursor:pointer;">
						<td style="width:50%;line-height: 35px" ng-click="vm.answerDetail(4,x)" >
							{{x.name}}
						</td>
						<td ng-attr-style="background-color:{{x.sp_bc}};color:{{x.sp_fc}}">{{x.sp_title}}</td>
						<td>
							<div class="profile-avatar-wrapper  media-left" ng-repeat="userObj in x.userObjs | limitTo:1 " 
							ng-click="vm.showAllFriendsList(x.userObjs, x.name)" align="middle" style="display: inline" >
								<img ng-src="{{userObj.picture.data.url}}" class="img-responsive img-circle profile-avatar" style="display: inline"/>
							</div>
						</td>     
						<td style="line-height: 35px">
							<div ng-show="x.userObjs.length > 1" style="display: inline">
								<span class="badge btn-primary" ng-click="vm.showAllFriendsList(x.userObjs, x.name)">{{x.userObjs.length}}</span>
							</div>
						</td>     
					</tr>
				</tbody>
			</table><p class="text-right" style="color:blue;" ng-click="vm.seeMore(4)" ng-if="vm.cb4gt5">&lt;&lt;{{vm.btext4}}&gt;&gt;</p>

			<table class="table" ng-if="vm.answerExist5">
				<tbody>
					<thead style="border-style:none;">
						<tr>
							<th ng-attr-style="background-color:{{vm.bgc5}};color:{{vm.fc5}};width:50%;">
								{{vm.headline5}}</th>
							<th ng-attr-style="background-color:{{vm.bgc5}};color:{{vm.fc5}};width:50%;"></th>	
							<th ng-attr-style="background-color:{{vm.bgc5}};color:{{vm.fc5}};width:50%;">
							</th>
							<th ng-attr-style="background-color:{{vm.bgc5}};color:{{vm.fc5}};width:50%;">
							</th>
						</tr>
					</thead>
					<!--	<div ng-repeat="x in resultsT | orderBy: '-views' | limitTo:maxRes"> -->
					<tr ng-repeat="x in vm.beautyans | limitTo:vm.maxRes5 track by $index" style="cursor:pointer;">
						<td style="width:50%;line-height: 35px" ng-click="vm.answerDetail(5,x)" >
							{{x.name}}
						</td>
						<td ng-attr-style="background-color:{{x.sp_bc}};color:{{x.sp_fc}}">{{x.sp_title}}</td>
						<td>
							<div class="profile-avatar-wrapper  media-left" ng-repeat="userObj in x.userObjs | limitTo:1 " 
							ng-click="vm.showAllFriendsList(x.userObjs, x.name)" align="middle" style="display: inline" >
								<img ng-src="{{userObj.picture.data.url}}" class="img-responsive img-circle profile-avatar" style="display: inline"/>
							</div>
						</td>     
						<td style="line-height: 35px">
							<div ng-show="x.userObjs.length > 1" style="display: inline">
								<span class="badge btn-primary" ng-click="vm.showAllFriendsList(x.userObjs, x.name)">{{x.userObjs.length}}</span>
							</div>
						</td>     
					</tr>
				</tbody>
			</table><p class="text-right" style="color:blue;" ng-click="vm.seeMore(5)" ng-if="vm.cb5gt5">&lt;&lt;{{vm.btext5}}&gt;&gt;</p>


			<table class="table" ng-if="vm.answerExist6">
				<tbody>
					<thead style="border-style:none;">
						<tr>
							<th ng-attr-style="background-color:{{vm.bgc6}};color:{{vm.fc6}};width:50%;">
								{{vm.headline6}}</th>
							<th ng-attr-style="background-color:{{vm.bgc6}};color:{{vm.fc6}};width:50%;"></th>
							<th ng-attr-style="background-color:{{vm.bgc6}};color:{{vm.fc6}};width:50%;">
							</th>
							<th ng-attr-style="background-color:{{vm.bgc6}};color:{{vm.fc6}};width:50%;">
							</th>	
						</tr>
					</thead>
					<!--	<div ng-repeat="x in resultsT | orderBy: '-views' | limitTo:maxRes"> -->
					<tr ng-repeat="x in vm.socialans | limitTo:vm.maxRes6" style="cursor:pointer;">
						<td style="width:50%;line-height: 35px" ng-click="vm.answerDetail(6,x)" >
							{{x.name}}
						</td>
						<td ng-attr-style="background-color:{{x.sp_bc}};color:{{x.sp_fc}}">{{x.sp_title}}</td>
						<td>
							<div class="profile-avatar-wrapper  media-left" ng-repeat="userObj in x.userObjs | limitTo:1 " 
							ng-click="vm.showAllFriendsList(x.userObjs, x.name)" align="middle" style="display: inline" >
								<img ng-src="{{userObj.picture.data.url}}" class="img-responsive img-circle profile-avatar" style="display: inline"/>
							</div>
						</td>     
						<td style="line-height: 35px">
							<div ng-show="x.userObjs.length > 1" style="display: inline">
								<span class="badge btn-primary" ng-click="vm.showAllFriendsList(x.userObjs, x.name)">{{x.userObjs.length}}</span>
							</div>
						</td>     
					</tr>
				</tbody>
			</table><p class="text-right" style="color:blue;" ng-click="vm.seeMore(6)" ng-if="vm.cb6gt5">&lt;&lt;{{vm.btext6}}&gt;&gt;</p>

			<table class="table" ng-if="vm.answerExist7">
				<tbody>
					<thead style="border-style:none;">
						<tr>
							<th ng-attr-style="background-color:{{vm.bgc7}};color:{{vm.fc7}};width:50%;">
								{{vm.headline7}}</th>
							<th ng-attr-style="background-color:{{vm.bgc7}};color:{{vm.fc7}};width:50%;"></th>
							<th ng-attr-style="background-color:{{vm.bgc7}};color:{{vm.fc7}};width:50%;">
							</th>
							<th ng-attr-style="background-color:{{vm.bgc7}};color:{{vm.fc7}};width:50%;">
							</th>	
						</tr>
					</thead>
					<!--	<div ng-repeat="x in resultsT | orderBy: '-views' | limitTo:maxRes"> -->
					<tr ng-repeat="x in vm.familyans | limitTo:vm.maxRes7" style="cursor:pointer;">
						<td style="width:50%;line-height: 35px" ng-click="vm.answerDetail(7,x)" >
							{{x.name}}
						</td>
						<td ng-attr-style="background-color:{{x.sp_bc}};color:{{x.sp_fc}}">{{x.sp_title}}</td>
						<td>
							<div class="profile-avatar-wrapper  media-left" ng-repeat="userObj in x.userObjs | limitTo:1 " 
							ng-click="vm.showAllFriendsList(x.userObjs, x.name)" align="middle" style="display: inline" >
								<img ng-src="{{userObj.picture.data.url}}" class="img-responsive img-circle profile-avatar" style="display: inline"/>
							</div>
						</td>     
						<td style="line-height: 35px">
							<div ng-show="x.userObjs.length > 1" style="display: inline">
								<span class="badge btn-primary" ng-click="vm.showAllFriendsList(x.userObjs, x.name)">{{x.userObjs.length}}</span>
							</div>
						</td>     
					</tr>
				</tbody>
			</table><p class="text-right" style="color:blue;" ng-click="vm.seeMore(7)" ng-if="vm.cb7gt5">&lt;&lt;{{vm.btext7}}&gt;&gt;</p>
			
			<div ng-if="vm.noAns">
			</br>
			<p>You have not endorsed any Establishments yet. Places that you endorse will show up 
				here so you can have quick access to all their specials and promotions.</p> 
			</div>

			<div class="text-right" role="group">
			    <button type="button" ng-click="vm.goBack()" class="btn btn-default">Back</button>
			</div>    
		</div>
	</div>
</div>
