<!-- Navigation Bar -->
<!-- <div ui-view="navbar"></div> -->

<div class="container">
  <div class="jumbotron">
    <!--<h1>Rank Futbol</h1>-->
    </br>
    <div class="row">
      <div class="col-sm-0 col-md-2 col-lg-3"></div>
      <div class="col-sm-12 col-md-8 col-lg-6">
        <img src="{{vm.logoimage}}" class="displayed-uc" alt="Cinque Terre" ng-attr-style="width:100%;height:{{vm.sm ? '100px':'200px'}}">
      </div>
      <div class="col-sm-0 col-md-2 col-lg-3"></div>
    </div>
    <br>
    <br>
    <p>Rank-X collects users preferences to generate truly collective rankings on all things about your city.</p>
    </br>
  </div>
  <div class="well">
    <div class="form-group text-left">
      <p>San Diego, CA - 2016</p>
      <p>Contact: contact@rank-x.com</p>
    </div>
  </div>
  </br>
  <div class="form-group text-center">
    <button type="button" class="btn btn-primary" ng-click="vm.goBack()">Back</button>
  </div>
</div>
<!--
<footer class="footer">
    <div class="container">
        <p class="text-muted">
            Rank-X is property of Rank-X LLC. San Diego, CA - 2016
        </p>
    </div>
</footer> -->