<!-- Navigation Bar -->
<!-- <div ui-view="navbar"></div> -->

<style>
    #ppBody {
        font-size: 11pt;
        width: 100%;
        margin: 0 auto;
        text-align: justify;
    }
    
    #ppHeader {
        font-family: verdana;
        font-size: 21pt;
        width: 100%;
        margin: 0 auto;
    }
    
    .ppConsistencies {
        display: none;
    }
</style>

<div class="container">
    </br>
    <div class="text-right">
        <button class="btn btn-default" ng-click="vm.goBack()">Back</button>
    </div>
    <div id='ppHeader'><span><img src="/assets/images/logo_sq.png" style="width:80px"></span> Rank-X Privacy Policy</div>
    <div id='ppBody'>
        
    <div class='ppConsistencies'>
        <div class='col-2'>
            <div class="quick-links text-center">Information Collection</div>
        </div>
        <div class='col-2'>
            <div class="quick-links text-center">Information Usage</div>
        </div>
        <div class='col-2'>
            <div class="quick-links text-center">Information Protection</div>
        </div>
        <div class='col-2'>
            <div class="quick-links text-center">Cookie Usage</div>
        </div>
        <div class='col-2'>
            <div class="quick-links text-center">3rd Party Disclosure</div>
        </div>
        <div class='col-2'>
            <div class="quick-links text-center">3rd Party Links</div>
        </div>
        <div class='col-2'></div>
    </div>
    <div style='clear:both;height:10px;'></div>
    <div class='ppConsistencies'>
        <div class='col-2'>
            <div class="col-12 quick-links2 gen-text-center">Google AdSense</div>
        </div>
        <div class='col-2'>
            <div class="col-12 quick-links2 gen-text-center">
                Fair Information Practices
                <div class="col-8 gen-text-left gen-xs-text-center" style="font-size:12px;position:relative;left:20px;">Fair information
                    <br> Practices</div>
            </div>
        </div>
        <div class='col-2'>
            <div class="col-12 quick-links2 gen-text-center coppa-pad">
                COPPA

            </div>
        </div>
        <div class='col-2'>
            <div class="col-12 quick-links2 quick4 gen-text-center caloppa-pad">
                CalOPPA

            </div>
        </div>
        <div class='col-2'>
            <div class="quick-links2 gen-text-center">Our Contact Information
                <br>
            </div>
        </div>
    </div>
    <div style='clear:both;height:10px;'></div>
    <div class='innerText'>Protecting your private information is our priority. This Statement of Privacy applies to <a href="http://www.rank-x.com">http://www.rank-x.com</a> and Rank-X, LLC and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to Rank-X, LLC include http://www.rank-x.com and Rank-X. The Rank-X website is a Online Advertising and Marketing site. By using the Rank-X website, you consent to the data practices described in this statement. </div>
    <br>
    </div><span id='infoCo'></span>
    <br>


    <div class='grayText'><strong>Collection of your Personal Information </strong></div>
    <br />
    <div class='innerText'>Rank-X may collect personally identifiable information, such as your: 
        <ul style="list-style-type: none">
            <li> -	Name </li>
            <li> -	Address </li>
            <li> -	E-mail Address </li>
        </ul>
        <br>
            Please keep in mind that if you directly disclose personally identifiable information or personally sensitive data through Rank-X's public message boards, this information may be collected and used by others. 
    </div> 
        
    <div class='innerText'>
        Rank-X encourages you to review the privacy statements of websites you choose to link to from Rank-X so that you can understand how those websites collect, use and share your information. Rank-X is not responsible for the privacy statements or other content on websites outside of the Rank-X website. 
    </div> 
    <br />



    <div class='grayText'><strong>Use of your Personal Information </strong></div>
    <br />
    <div class='innerText'>Rank-X collects and uses your personal information to operate its website(s) and deliver the services you have requested. </br>
        Rank-X may also use your personally identifiable information to inform you of other products or services available from Rank-X and its affiliates. Rank-X may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered. 
        <br />
        Rank-X does not sell, rent or lease its customer lists to third parties. 
        <br />
        Rank-X may, from time to time, contact you on behalf of external business partners about a particular offering that may be of interest to you. In those cases, your unique personally identifiable information (e-mail, name, address, telephone number) is not transferred to the third party. Rank-X may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to Rank-X, and they are required to maintain the confidentiality of your information. 
        <br />  
        Rank-X may keep track of the websites and pages our users visit within Rank-X, in order to determine what Rank-X services are the most popular. This data is used to deliver customized content and advertising within Rank-X to customers whose behavior indicates that they are interested in a particular subject area. 
        <br />
        Rank-X will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on Rank-X or the site; (b) protect and defend the rights or property of Rank-X; and, (c) act under exigent circumstances to protect the personal safety of users of Rank-X, or the public. 
        <br />
    </div><span id='infoUs'></span>
    <br>


    <div class='grayText'><strong>Automatically Collected Information </strong></div>
    <br />
    <div class='innerText'>
        Information about your computer hardware and software may be automatically collected by Rank-X. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the Rank-X website. 
        <br>
        <br>
    </div>


    <div class='grayText'><strong>Use of Cookies  </strong></div>
    <div class='innerText'>
        The Rank-X website may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you. 
        <br />
        One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize Rank-X pages, or register with Rank-X site or services, a cookie helps Rank-X to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same Rank-X website, the information you previously provided can be retrieved, so you can easily use the Rank-X features that you customized. 
        <br/>
        You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the Rank-X services or websites you visit. 
        <br/>
        <br/>
    </div>


    <div class='grayText'><strong>Security of your Personal Information</strong></div>
    <br />
    <div class='innerText'>
        Rank-X secures your personal information from unauthorized access, use, or disclosure. Rank-X uses the following methods for this purpose: 
        <br>
        <ul style="list-style-type: none">
            <li> -	SSL Protocol  </li>
            <li> -	Malware Scanning  </li>
        </ul>
        <br>
        When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol. 
    </div><br />


    <div class='grayText'><strong>Children Under Thirteen </strong></div>
    <br />

    <div class='innerText'>
        Rank-X does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website. 
        <br>
    </div><br />



    <div class='grayText'><strong>Disconnecting your Rank-X Account from Third Party Websites </strong></div>
    <br />

    <div class='innerText'>
        You will be able to connect your Rank-X account to third party accounts. BY CONNECTING YOUR RANK-X ACCOUNT TO YOUR THIRD PARTY ACCOUNT, YOU ACKNOWLEDGE AND AGREE THAT YOU ARE CONSENTING TO THE CONTINUOUS RELEASE OF INFORMATION ABOUT YOU TO OTHERS (IN ACCORDANCE WITH YOUR PRIVACY SETTINGS ON THOSE THIRD PARTY SITES). IF YOU DO NOT WANT INFORMATION ABOUT YOU, INCLUDING PERSONALLY IDENTIFYING INFORMATION, TO BE SHARED INTHIS MANNER, DO NOT USE THE THIS FEATURE. You may disconnect your account from a third party account at any time. Users may learn how to disconnect their accounts from third-party websites by visiting their "My Account" page. Users may also contact us via email. 
        <br>
    </div><br />



    <div class='grayText'><strong>Account Termination</strong></div>
    <br />

    <div class='innerText'>
        We will remove your public posts from view and/or dissociate them from your account profile, but we may retain information about you for the purposes authorized under this Privacy Policy unless prohibited by law. For example, we may retain information to prevent, investigate, or identify possible wrongdoing in connection with the Service or to comply with legal obligations. Please note that businesses cannot remove their business listings, ratings, or reviews by closing their accounts.
        <br>
    </div><br />


    <div class='grayText'><strong>Opt-Out &amp; Unsubscribe </strong></div>
    <br />

    <div class='innerText'>
        We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from Rank-X by contacting us here: 
        <br>
        <ul style="list-style-type: none">
            <li> - Web page: _________________ </li>
            <li> - Email: _________________ </li>
            <li> - Phone: _________________ </li>
        </ul>
        <br/>
    </div><br />



    <div class='grayText'><strong>California Residents: Your California Privacy Rights</strong></div>
    <br />

    <div class='innerText'>
        Rank-X does not disclose your personal information to third parties for the purpose of directly marketing their services to you unless you first agree to such disclosure. If you have any questions regarding this policy, or would like to change your preferences, you may contact us at the address listed below.
        <br>
    </div><br />



    <div class='grayText'><strong>Changes to this Statement </strong></div>
    <br />

    <div class='innerText'>
        Rank-X will occasionally update this Statement of Privacy to reflect company and customer feedback. Rank-X encourages you to periodically review this Statement to be informed of how Rank-X is protecting your information.  
        <br>
    </div><br />


    <div class='grayText'><strong>Contact Information </strong></div>
    <br />

    <div class='innerText'>
        Rank-X welcomes your questions or comments regarding this Statement of Privacy. If you believe that Rank-X has not adhered to this Statement, please contact Rank-X at: 
        <br>
    </div><br />
    <div class='innerText'>Rank-X, LLC</div>
    <div class='innerText'>1650 Adams Av. </div>
    <div class='innerText'>San Diego, California, 92116</div><br />
    <div class='innerText'>Email Address: </div>
    <div class='innerText'>contact@rank-x.com</div><br />
    <div class='innerText'>Telephone number: </div>
    <div class='innerText'> </div><br />

    <div class='innerText'>
        <br>Effective as of May 31, 2017 
    </div>
    <div class="text-right">
        <button class="btn btn-default" ng-click="vm.goBack()">Back</button>
    </div>
    </br>
</div>