

<div ng-if="!vm.foodNearMe">
    <div id="veil" ng-hide="vm.dataReady"></div>
    <div id="feedLoading" ng-hide="vm.dataReady">
        <div style="text-align: center" ng-if="!vm.dataReady">
            <!-- <div><img src="/assets/images/loading.gif" class="img" style="width:50px;height:50px"/></div> -->
            <div><img src="/assets/images/loading.gif" class="img" style="width:50px;height:50px"/></div>
            
            <p style="font-size:large">loading rank...</p>
        </div>
    </div>

</div>
<div ng-if="vm.foodNearMe">
    <div id="veil" ng-show="vm.loadingAnswers"></div>
    <div id="feedLoading" ng-show="vm.loadingAnswers">
        <div style="text-align: center" >
            <div><img src="/assets/images/loading.gif" class="img" style="width:50px;height:50px"/></div>
            <p style="font-size:large">Wait a moment, finding some delicious food near by...</p>
        </div>
    </div>

</div>

<div ng-if="vm.dataReady && !vm.loadingAnswers">
    <!--
<div class="text-right">
        <button type="button" style="font-size:medium;" 
        class="glyphicon glyphicon-remove pull-right" ng-click="vm.closeRank()">Back</button>
</div>
<!-- ---------------------------- main page -->

<!-- <img src="/assets/images/rankxlogo_noheadline.png" style="height:50px;margin:0px"> -->
<!--<div class="container">-->
    <!--ABCD
    <div class="well-rank" ng-if="vm.nsm" style="margin:0px;">
        <h2 class="sub-header">{{vm.ranking}}
          <span class="nomargin"><button type="button" class="glyphicon glyphicon-remove pull-right" 
            style="margin:0px;padding:0px;border:0px;background-color:#006dcc;color:#002699;font-size:medium;" 
            ng-click="vm.closeRank()"></button></span>
        </h2>
    </div>
    <div class="well-rank" ng-if="vm.sm" style="margin:0px;">
        <h3 class="sub-header">{{vm.ranking}}
            <span class="nomargin"><button type="button" class="glyphicon glyphicon-remove pull-right" 
                    style="margin:0px;padding:0px;border:0px;background-color:#006dcc;color:#002699;font-size:medium;" 
                    ng-click="vm.closeRank()"></button></span>
        </h3>
    </div>
<!--</div>-->
<!-- Images -->
<!--
<div class="row" ng-attr-style="display:{{vm.isShortPhrase == false? 'inline':'none'}};margin:0px;">
    <div class="col-sm-6 col-md-6 col-lg-4">
        <img class="displayed" src="{{vm.image1}}" ng-if="vm.image1ok"
        ng-attr-style="width:100%;max-height:200px;display:{{vm.image1 != undefined ? 'inline':'none'}}">
    </div>
    <div class="hidden-xs col-sm-6 col-md-6 col-lg-4">
        <img class="displayed" src="{{vm.image2}}" ng-if="vm.image2ok"
        ng-attr-style="width:100%;max-height:200px;display:{{vm.image2 != undefined ? 'inline':'none'}}">
    </div>
    <div class="hidden-xs hidden-sm hidden-md col-lg-4">
        <img class="displayed" src="{{vm.image3}}" ng-if="vm.image3ok"
        ng-attr-style="width:100%;max-height:200px;display:{{vm.image3 != undefined ? 'inline':'none'}}">
    </div>
</div>
<!-- Short-Phrases -->
<!--
<div class="row" ng-attr-style="display:{{vm.isShortPhrase == true? 'inline':'none'}};margin:0px;">
    <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="container-answer" style="width:100%; max-height:300px;">
            <br>
            <h2 style="text-align:center"><strong>{{vm.title1}}</strong></h2>
            <br>
            <h4 style="text-align:center">{{vm.addinfo1}}</h4>
        </div>
    </div>
    <div class="hidden-xs col-sm-6 col-md-6 col-lg-4">
        <div class="container-answer" style="width:100%; max-height:300px;">
            <br>
            <h2 style="text-align:center"><strong>{{vm.title2}}</strong></h2>
            <br>
            <h4 style="text-align:center">{{vm.addinfo2}}</h4>
        </div>
    </div>
    <div class="hidden-xs hidden-sm hidden-md col-lg-4">
        <div class="container-answer" style="width:100%; max-height:300px;">
            <br>
            <h2 style="text-align:center"><strong>{{vm.title3}}</strong></h2>
            <br>
            <h4 style="text-align:center">{{vm.addinfo3}}</h4>
        </div>
    </div>
</div> -->
<div class="text-left">
    <button class="btn btn-default" ng-click="vm.backToResults()" style="margin:5px; width:100%">Back to Results</button>
    <button class="btn btn-default" ng-if="vm.hasParent" ng-click="vm.gotoParentRank()" style="margin:5px; width:100%">{{vm.parentRank.title}}</button>
</div>
<div class="text-left" ng-if="vm.isCustomRank">
    <button class="btn btn-default" ng-click="vm.answerDetail(vm.rankOwner)" style="margin:5px; width:100%">Return to {{vm.rankOwner.name}}</button>
</div>

<div class="container">

    <div class="row">

        <div class="container-bgbox col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <bg-box bc="{{vm.bc}}" shade="{{vm.shade}}" fc="{{vm.fc}}" text="{{vm.ranking}}" dir="horizontal" w="100%" h="{{vm.sm ? '150px':'200px'}}"></bg-box>
        </div>
        <div ng-if="!vm.isShortPhrase">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" style="margin:0px;padding:0px;border:0px;" ng-if="!vm.isShortPhrase">
                <img ng-src="{{vm.image1}}" ng-attr-style="display:{{vm.image1 != undefined ? 'inline':'none'}};width:100%;height:{{vm.sm ? '150px':'200px'}};">
            </div>
            <div class="hidden-xs col-sm-4 col-md-4 col-lg-3" style="margin:0px;padding:0px;border:0px;" ng-if="!vm.isShortPhrase">
                <img ng-src="{{vm.image2}}" ng-attr-style="display:{{vm.image2 != undefined ? 'inline':'none'}};width:100%;height:{{vm.sm ? '150px':'200px'}};">
            </div>
            <div class="hidden-xs hidden-sm hidden-md col-lg-3" style="margin:0px;padding:0px;border:0px;" ng-if="!vm.isShortPhrase">
                <img ng-src="{{vm.image3}}" ng-attr-style="display:{{vm.image3 != undefined ? 'inline':'none'}};width:100%;height:{{vm.sm ? '150px':'200px'}};">
            </div>
        </div>
        <!-- Short-Phrase with Featured Image -->
        <div ng-if="vm.isShortPhrase&&vm.hasfimage">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" style="margin:0px;padding:0px;border:0px;">
                <img ng-src="{{vm.fimage}}" ng-attr-style="display:{{vm.image1 != undefined ? 'inline':'none'}};width:100%;height:{{vm.sm ? '150px':'200px'}};">
            </div>
            <div class="container hidden-xs col-sm-4 col-md-4 col-lg-3" ng-attr-style="background-color:lightgray;color:black;height:{{sm ? '150px':'200px'}};margin:0px;padding:0px;border:0px;position:relative;">
                <div style="padding:3px; margin:0px; position:absolute; top:50%; left:50%; margin-right:-50%;transform: translate(-50%,-50%)">
                    <h2 class="hidden-xs text-center">{{vm.title1}}</h2>
                    <h3 class="hidden-sm hidden-md hidden-lg hidden-xl text-center">{{vm.title1}}</h3>
                </div>
            </div>
            <div class="container hidden-xs hidden-sm hidden-md col-lg-3" ng-attr-style="background-color:lightgray;color:black;height:{{sm ? '150px':'200px'}};margin:0px;padding:0px;border:0px;position:relative;">
                <div style="padding:3px; margin:0px; position:absolute; top:50%; left:50%; margin-right:-50%;transform: translate(-50%,-50%)">
                    <h2 class="hidden-xs text-center">{{vm.title2}}</h2>
                    <h3 class="hidden-sm hidden-md hidden-lg hidden-xl text-center">{{vm.title2}}</h3>
                </div>
            </div>
        </div>
        <!-- Short-Phrase without Featured Image -->
        <div ng-if="vm.isShortPhrase&&!vm.hasfimage">
             <div class="container col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-attr-style="background-color:lightgray;color:black;height:{{sm ? '150px':'200px'}};margin:0px;padding:0px;border:0px;position:relative;">
                <div style="padding:3px; margin:0px; position:absolute; top:50%; left:50%; margin-right:-50%;transform: translate(-50%,-50%)">
                    <h2 class="hidden-xs text-center">{{vm.title1}}</h2>
                    <h3 class="hidden-sm hidden-md hidden-lg hidden-xl text-center">{{vm.title1}}</h3>
                </div>
            </div>
             <div class="container hidden-xs col-sm-4 col-md-4 col-lg-3" ng-attr-style="background-color:lightgray;color:black;height:{{sm ? '150px':'200px'}};margin:0px;padding:0px;border:0px;position:relative;">
                <div style="padding:3px; margin:0px; position:absolute; top:50%; left:50%; margin-right:-50%;transform: translate(-50%,-50%)">
                    <h2 class="hidden-xs text-center">{{vm.title2}}</h2>
                    <h3 class="hidden-sm hidden-md hidden-lg hidden-xl text-center">{{vm.title2}}</h3>
                </div>
            </div>
            <div class="container hidden-xs hidden-sm hidden-md col-lg-3" ng-attr-style="background-color:lightgray;color:black;height:{{sm ? '150px':'200px'}};margin:0px;padding:0px;border:0px;position:relative;">
                <div style="padding:3px; margin:0px; position:absolute; top:50%; left:50%; margin-right:-50%;transform: translate(-50%,-50%)">
                    <h2 class="hidden-xs text-center">{{vm.title3}}</h2>
                    <h3 class="hidden-sm hidden-md hidden-lg hidden-xl text-center">{{vm.title3}}</h3>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- <br> -->
<br ng-if="vm.introtext">
<p class="text-left">{{vm.introtext}}</p>
<br>
<div class="row" style="margin:0px;padding:0px;">

    
    <div class="col-sm-9 col-md-9 col-lg-10 hidden-xs" >
        <div class="btn-group text-left">
            <button class="btn btn-default" ng-click="vm.sortbyHelpDialog()"><i class="fa fa-question-circle"></i></button>
            <span style="float: left;margin-left: 10px; margin-right: 10px;line-height: 32px">{{vm.sm ? '':'Sort by:'}}</span>
            <button class="btn btn-default {{vm.selRank}} " ng-click="vm.sortByRank()" ng-if="vm.type != 'Event' && !vm.fnm">Rank</button>
            <button class="btn btn-default {{vm.selUpV}} " ng-click="vm.sortByUpV()">Popular</button>
            <button class="btn btn-default {{vm.selDistance}} " ng-click="vm.sortByDistance()"
                ng-show="{{vm.type == 'Establishment' || vm.type == 'Event' || vm.type == 'Place'}}">Distance</button>
                
            <button class="btn btn-default {{vm.selDate}} " ng-click="vm.sortByDate()"
                ng-show="{{vm.type == 'Event'}}">Date</button>               

            <button class="btn btn-default {{vm.selTrending}} " ng-click="vm.sortByTrending()">Trending</button>
            <!--  <button type="button " class="btn btn-primary ">{{"rankSummary.Filtered " | translate}}</button> -->
        
        </div>
    </div>
    <div class="col-xs-8 visible-xs" style="margin-bottom: 10px; padding:0px">
        <div class="dropdown" style="margin:0px; padding:0px;">
            <button class="btn btn-default" ng-click="vm.sortbyHelpDialog()"><i class="fa fa-question-circle"></i></button>
            <span style="line-height:32px; margin: 0px 10px;">Sort By:</span>
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                {{vm.sortByName}}
                <span class="caret"></span>
                
            </button>
            
            <ul class="dropdown-menu">
                <li><a class="btn btn-default {{vm.selRank}} " ng-click="vm.sortByRank()" ng-if="vm.type != 'Event' && !vm.fnm">Rank</a></li>
                <li><a class="btn btn-default {{vm.selUpV}} " ng-click="vm.sortByUpV()">Popular</a></li>
                <li><a class="btn btn-default {{vm.selDistance}} " ng-click="vm.sortByDistance()"
            ng-show="{{vm.type == 'Establishment' || vm.type == 'Event' || vm.type == 'Place'}}">Distance</a></li>
                <li><a class="btn btn-default {{vm.selDate}} " ng-click="vm.sortByDate()"
            ng-show="{{vm.type == 'Event'}}">Date</a></li>
                <li><a class="btn btn-default {{vm.selTrending}} " ng-click="vm.sortByTrending()">Trending</a></li>
            </ul>
        </div>
    </div>

    <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2 btn-group text-center">
        <a type="button" class="btn btn-default" style="vertical-align:middle;color:#0059b3;border-color:#0059b3;" ng-if="true" 
        ng-click="vm.share()" target="_blank"> Share&nbsp&nbsp<span class="fa fa-share"></span></a>
    </div>
</div>
<div style="margin:0px; margin-top: 0px; " class="text-center" ng-if="!vm.fnm">
    <div class="btn-group" style="padding-right:20px">
    <button ng-click="vm.changeMode('endorse') " class="btn {{vm.mode=='endorse' ? 'btn-primary':'btn-default'}}" 
    >Endorsements</button>
    <button ng-click="vm.changeMode('specials') " class="btn {{vm.mode=='specials' ? 'btn-primary':'btn-default'}}"
    >Specials</button>
    </div>
    <button ng-click="vm.goRank() " class="btn btn-success {{vm.rankDisabled}}">Rank</button>
    <!--
    <span style="line-height: 32px">&nbsp;&nbsp;&nbsp;Contributors: <b style="color:blue; ">
        <i>{{vm.numContributors}}&nbsp&nbsp</i></b></span>-->
</div>    
<!--
<div ng-show="{{vm.type == 'Establishment'}}">
    <div class="text-right" ng-attr-style="display:{{vm.haveLocation ? 'none':'inline'}}">
        <p class="hiw text-right" ng-click="vm.whyNoDistance()"><u>why cant I see distances?</u></p>
    </div>
</div>
-->
<br>

<table class="table table-hover cursor ">
    <tbody>
        <thead>
            <tr>
                <th ng-if="vm.mode=='specials'" align="middle">{{vm.showR ? 'Rank' : 'Votes'}}</th>
                <th ng-if="!vm.sm && !vm.fnm && !vm.isE && vm.mode=='specials'" align="middle">Votes</th>
                <th class="capitalize " ng-repeat="h in vm.fields | filter:{isrequired:true}" align="middle">{{h.label}}</th>
                <th ng-if="(vm.type == 'Establishment' || vm.type == 'Place') && vm.haveLocation && vm.mode=='specials'" align="middle">Distance (mi)</th>
                <th ng-if="vm.type == 'Event' && vm.mode=='specials'" align="middle">Date</th>
                <th ng-if="vm.type == 'Establishment' && vm.mode=='specials'" align="middle">Specials</th>
                <th ng-if="vm.mode == 'endorse'" align="middle">
                    Endorsements
                </th>
                <th ng-if="vm.mode=='endorse'">&nbsp</th>

                <!-- ng-show="{{vm.type == 'Establishment'}}" -->
            </tr>
        </thead>
        <tbody>
            <!--| orderBy: '-Rank' -->
            <tr ng-repeat="x in vm.answers | limitTo: vm.limit">
                <td  ng-click="vm.answerDetail(x)" ng-if="vm.mode=='specials'">{{vm.showR ? x.Rank : x.upV}}</td>
                <td ng-if="!vm.sm && !vm.fnm && !vm.isE && vm.mode=='specials'" ng-click="vm.answerDetail(x)">{{x.upV}}</td>
                <!--<td>{{x.Rank}}</td>-->
                <!--<td ng-repeat="h in vm.answers.public ">{{x[h]}}</td>-->
                <td ng-repeat="h in vm.fields | filter:{isrequired:true}" ><a ng-attr-style="text-decoration: none;" href="{{'/answerDetail/' + x.slug }}" ng-click="vm.answerDetail(x)">{{ x[h.name]}}</a></td> 
                <!-- ng-attr-style="background-color:{{x.bc}};color:{{x.fc}}"> -->
                <td ng-if="(vm.type == 'Establishment' || vm.type == 'Place') && vm.haveLocation && vm.mode=='specials'" ng-click="vm.answerDetail(x)">{{x.dist}}</td>
                <td ng-if="vm.type == 'Event' && vm.mode == 'specials'" ng-click="vm.answerDetail(x)">{{x.date}}</td>
                <!-- ng-attr-style="background-color:{{x.bc}};color:{{x.fc}}" -->
                <td ng-show="vm.type == 'Establishment' && vm.mode=='specials'" ng-attr-style="background-color:{{x.sp_bc}};color:{{x.sp_fc}}" ng-click="vm.answerDetail(x)">
                    {{x.sp_title}}</td>
                <td ng-if="vm.mode=='endorse'" style="width:{{vm.sm?'150px':'200px'}}">

                    <div>
                        <span  ng-click="vm.UpVote(x,$event)"  ng-attr-style="color:{{x.thumbUp}};margin-right: {{vm.sm?'0px':'20px'}};font-size: 18px;" 
                        class="pull-left">&nbsp&nbsp
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            <span style="color:black;font-size: 14px;">&nbsp;{{x.upV}}&nbsp;&nbsp;</span>
                        </span>
                        
                        <span  ng-click="vm.DownVote(x,$event)" ng-attr-style="color:{{x.thumbDn}};margin-right: {{vm.sm?'0px':'20px'}};font-size: 18px;" 
                        class="pull-right">
                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                            <span style="color:black;font-size: 14px;">&nbsp;{{x.downV}}</span>
                            &nbsp&nbsp
                        </span>
                        
                    </div>
                    <div class="hidden-sm hidden-md hidden-lg hidden-xl">
                        <div ng-if="x.userObjs.length == 1">
                            <span class="badge btn-primary" ng-click="vm.showAllFriendsList(x.userObjs, x.name)">
                        1 friend endorses this
                        </span>
                        </div>
                        <div ng-if="x.userObjs.length > 1">
                            <span class="badge btn-primary" ng-click="vm.showAllFriendsList(x.userObjs, x.name)">
                        {{x.userObjs.length}} friends endorse this
                        </span>
                        </div>
                    </div>
                </td>
                <td class="hidden-xs" ng-if="vm.mode=='endorse'" style="width:{{vm.sm?'150px':'150px'}}">
                <!-- <div class="hidden-xs"> -->
                    <div ng-if="x.userObjs.length == 1">
                        <span class="badge btn-primary" ng-click="vm.showAllFriendsList(x.userObjs, x.name)">
                        1 friend endorses this
                        </span>
                    </div>
                    <div ng-if="x.userObjs.length > 1">
                        <span class="badge btn-primary" ng-click="vm.showAllFriendsList(x.userObjs, x.name)">
                        {{x.userObjs.length}} friends endorse this
                        </span>
                    </div>
                <!-- </div>  -->
                </td>
            </tr>
        </tbody>
</table>
<div class="text-center" ng-if="vm.thereIsMore">
    <button class="btn btn-default" ng-click="vm.seeMore()">See More</button>
</div>
<div class="row" style="margin:0px;" ng-if="!vm.hasAnswerParent || vm.userIsOwner">
    <div class="col-xs-2" style="padding:0px">
        <a class="btn btn-primary" ng-click="vm.addAnswer()" class="btn btn-primary">+</a>
    </div>
    <div class="col-xs-10" ng-attr-style="display:{{vm.hideInfoBox ? 'none':'inline'}};padding:0px;" ng-if="!vm.addInfoMsgAck || vm.noAnswers">
        <div class="alert alert-warning" style="padding-top: 5px;padding-bottom: 5px;">
            <a class="close" data-dismiss="alert" aria-label="close" ng-click="vm.closeAddInfoMsg()">&times;</a>
            <span class="glyphicon glyphicon-arrow-left"></span><strong>&nbsp;&nbsp;
                {{vm.noAnswers ? 'Oops, we have nothing on this list.':'Are we missing one?'}}
                </strong>&nbsp;&nbsp;Use
            the '+' button to add a new 
            <span ng-if="vm.type == 'Establishment'">Establishment.</span>
            <span ng-if="vm.type == 'Organization'">Organization or Company.</span>
            <span ng-if="vm.type == 'Person'">Person.</span>
            <span ng-if="vm.type == 'PersonCust'">Professional.</span>
            <span ng-if="vm.type == 'Place'">Place.</span>
            <span ng-if="vm.type == 'Short-Phrase'">Answer.</span>
            <span ng-if="vm.type == 'Thing'">Item.</span>
            <span ng-if="vm.type == 'Event'">Event.</span>
            <span ng-if="vm.type == 'Simple'">Item.</span>
        </div>
    </div>
</div>

<!-- <a ui-sref="match " class="btn btn-success ">{{"rankSummary.GoRank " | translate}}</a> -->
<br>
<br ng-if="!vm.sm">
<div class="text-center">
    <button ng-click="vm.loadComments()" class="btn btn-default"  ng-class="vm.cm.commLoaded ? 'disabled' : ''" style="background-color:#e6e6e6;width:100%">COMMENTS ({{vm.numcom}})</button>
</div>
<br ng-if="!vm.sm">
<div ng-attr-style="display:{{vm.cm.commLoaded ? 'inline':'none'}}">
    <div ng-repeat="x in vm.cm.comments">
        <div class="col-xs-12 media">

            <div ng-if="!x.picture" class="profile-avatar-wrapper media-left">
                <div class="empty-profile-avatar-wrapper"  ng-attr-style="background-color:{{x.bc}};color:{{x.fc}};">{{x.initials}}</div>
            </div>
            <div ng-if="x.picture" class="profile-avatar-wrapper media-left" align="middle">
                <img ng-src="{{x.picture}}" class="img-responsive img-circle profile-avatar"/>
            </div>
            <div class="media-body">
                {{x.body}}
                <br>
                <small style="color:#bfbfbf">{{x.username}} - {{x.date}}&nbsp&nbsp                    
                    <span class="dropdown ">
                        <i type="button" class="fa fa-flag dropdown-toggle" data-toggle="dropdown"></i>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a ng-click="vm.cmFlag(1)">Off-Topic</a></li>
                            <li><a ng-click="vm.cmFlag(2)">Offensive</a></li>
                            <li><a ng-click="vm.cmFlag(3)">Spam</a></li>
                        </ul>
                    </span>                   
                </small>
            </div>
        </div>
        <br>
    </div>
    <div ng-attr-style="display:{{(vm.cm.commLoaded && vm.cm.comments.length == 0 && !vm.isLoggedIn) ? 'inline':'none'}}">
        <br>
        <p><small> Nobody has commented yet. Be the first. Log in, endorse answers and leave a comment. </small></p>
    </div>
    <div ng-attr-style="display:{{(vm.cm.commLoaded && vm.cm.comments.length > 0 && !vm.isLoggedIn) ? 'inline':'none'}}">
        <br>
        <p><small> You must log in and endorse one or more answers to leave a comment. </small></p>
    </div>
    <div ng-attr-style="display:{{(vm.cm.commLoaded && vm.isLoggedIn && !vm.commentAllowed) ? 'inline':'none'}}">
        <br>
        <p><small> Endorse one or more answers to leave a comment. </small></p>
    </div>
    <div ng-attr-style="display:{{(vm.isLoggedIn && vm.commentAllowed) ? 'inline':'none'}}">
        <div class="media">
            <div ng-if="!user.picture.data.url" class="profile-avatar-wrapper media-left">
                <div class="empty-profile-avatar-wrapper"  ng-attr-style="background-color:{{x.bc}};color:{{x.fc}};">{{x.initials}}</div>
            </div>
            <div ng-if="user.picture.data.url" class="profile-avatar-wrapper media-left" align="middle">
                <img ng-src="{{user.picture.data.url}}" class="img-responsive img-circle profile-avatar"/>
            </div>
            <div class="media-body">
                <!--
                <input type="text" class="form-control" ng-model="vm.comment" placeholder="Leave a comment" 
                style="margin-left:0px;margin-right:0px;">-->
                <textarea class="form-control" ng-model="vm.cm.newComment" placeholder="Leave a comment"  
                   style="margin-left:0px;margin-right:0px;"></textarea>
            </div>            
        </div> 
        <div class="text-right">
                <button ng-click="vm.postComment()" class="btn btn-primary">Post</button>
        </div>
    </div> 
</div>
<br>
</div>