<!-- Navigation Bar -->
<div ui-view="navbar"></div>
<br>
<div ng-if="!vm.dataready">
<h2>Please wait, loading all admin data...</h2>
</div>
<div ng-if="vm.dataready">
<div class="text-center" ng-if="vm.isAdmin">
    <div class="btn-group">
        <button class="btn btn-default {{vm.selKeywords}} " ng-click="vm.keywords() ">Searched-Keyword</button>
        <button class="btn btn-default {{vm.selViews}} " ng-click="vm.views() ">Ranking-Answers Views</button>
        <button class="btn btn-default {{vm.selFlags}} " ng-click="vm.flags() ">Answer Flags</button>
        <button class="btn btn-default {{vm.selAddRanking}} " ng-click="vm.addRank() ">Add Ranking</button>
        <button class="btn btn-default {{vm.selDbMaint}} " ng-click="vm.dbMaint() ">dB Maint</button>
        <button class="btn btn-default {{vm.selQuery}} " ng-click="vm.dbQuery() ">Query</button>
        <button class="btn btn-default {{vm.selSibLocs}} " ng-click="vm.sibLocs() ">Sibbling Locations</button>
        <button class="btn btn-default {{vm.selFoodRanks}} " ng-click="vm.foodranks() ">Food Ranks</button>
        <button class="btn btn-default {{vm.selPayment}} " ng-click="vm.payment() ">Payment</button>
        <button class="btn btn-default {{vm.selPlan}} " ng-click="vm.plan() ">Plan</button>
        <button class="btn btn-default" ng-click="vm.bizAdmin() ">Business</button>
        <button class="btn btn-default" ng-click="vm.cleanDB() ">Clean DB</button>
        <button class="btn btn-default" ng-click="vm.modImages() ">Moderate Images</button>
        <button class="btn btn-default" ng-click="vm.staticPages() ">Static Pages</button>
        <button class="btn btn-default {{vm.selLocations}}" ng-click="vm.golocations() ">Locations</button>
        <button class="btn btn-danger" ng-click="vm.applyRule() ">Apply Rule</button>
    </div>
</div>
<div ng-if="vm.dataAdmin">
    <button class="btn btn-default {{vm.selQuery}} " ng-click="vm.dbQuery()">Query</button>
    <button class="btn btn-default {{vm.selSibLocs}} " ng-click="vm.sibLocs() ">Sibbling Locations</button>
</div>
<div ng-if="vm.modAdmin">
    <button class="btn btn-default" ng-click="vm.modImages() ">Moderate Images</button>
</div>
</div>    
<br>
<br>
<div ui-view></div>
<br>
<br>
<!--
    <div class="row">
		<div class="col-xs-6 text-right">
			<a href="https://www.instagram.com/rankxsandiego/?ref=badge" class="ig-b- ig-b-32"><img src="//badges.instagram.com/static/images/ig-badge-32.png" alt="Instagram" /></a>
		</div>
		<div class="col-xs-6 text-left"> 	
			 <div fb-like></div>
		</div>
	</div>	
		</br>
    -->  
    <!--  
<footer class="footer">
    <div class="container">
        <p class="text-muted">
            Rank-X is property of Rank-X LLC. San Diego, CA - 2016
        </p>
    </div>
</footer>-->