<div class="container" ng-if="vm.isAdmin">
	<h1>Database Maintenance</h1>
	<button class="btn btn-success" ng-click="vm.showUrefAns()">Unreferenced Answers</button>
	<br>
	<button class="btn btn-danger" ng-click="vm.deleteAnswers()">Delete Answers</button>
	<button class="btn btn-default" ng-click="vm.showPossibleDuplicated()">Show Possible Duplicated</button>
	<button class="btn btn-default" ng-click="vm.showDuplicatedOnlyName()">Show Duplicated Only Name</button>
	<button class="btn btn-default" ng-click="vm.showDuplicatedByLocation()">Show Duplicated By Location</button>
	<br>
	<button class="btn btn-default" ng-click="vm.findPhoneWebsite()">Phone Numbers & Website</button>
	<br>
	<button class="btn btn-default" ng-click="vm.findDuplicatedRanks()">Duplicated Ranks</button>
	<br>
	<button class="btn btn-default" ng-click="vm.clearAllCatansVotes()">Clear Catans Votes</button>
	<br>
	<button class="btn btn-default" ng-click="vm.syncUserVotes()">Sync User Votes</button>
	<br>
	<button class="btn btn-default" ng-click="vm.estDistances()">Establishment Distances</button>
	<br>
	<button class="btn btn-default" ng-click="vm.createImagesJSON()">createImagesJSON</button>
	<br>
	<button class="btn btn-default" ng-click="vm.updateUrls()">updateUrls</button>
	<br>
	<br>
	<p ng-repeat="x in vm.unrefans track by $index">{{x.name}} --- {{x.id}}</p>
	<div ng-repeat="x in vm.dupAnswers track by $index">
		<img src="{{x.image1}}" style="width:120px"> <img src="{{x.image2}}" style="width:120px">
		<p> {{x.name1}} --- {{x.idx1}} --- {{x.loc1}} --- {{x.nh1}} --- {{x.add1}} --- {{x.id1}}</p>
		<p> {{x.name2}} --- {{x.idx2}} --- {{x.loc2}} --- {{x.nh2}} --- {{x.add2}} --- {{x.id2}}</p>
		<button class="btn btn-default" ng-click="vm.syncToFirst(x)">Sync 1st</button>
		<button class="btn btn-default" ng-click="vm.syncToSecond(x)">Sync 2nd</button>
		<p>-------------------------------------------------------</p>
	</div>
	<div ng-repeat="x in vm.dupAnsNames track by $index">
		<img src="{{x.image1}}" style="width:120px"> <img src="{{x.image2}}" style="width:120px">
		<p> {{x.name1}} --- {{x.idx1}} --- {{x.loc1}} --- {{x.nh1}} --- {{x.add1}} --- {{x.id1}}</p>
		<p> {{x.name2}} --- {{x.idx2}} --- {{x.loc2}} --- {{x.nh2}} --- {{x.add2}} --- {{x.id2}}</p>
		<button class="btn btn-default" ng-click="vm.syncToFirst(x)">Sync 1st</button>
		<button class="btn btn-default" ng-click="vm.syncToSecond(x)">Sync 2nd</button>
		<p>-------------------------------------------------------</p>
	</div>
	<p ng-repeat="x in vm.resDupRanks track by $index">{{x.title}} --- {{x.id}}</p>
	<div ng-repeat="x in vm.syncp">
	{{x.answername}} - {{x.categoryname}} - caUpV {{x.caUpV}} - nUpVotes {{x.nUpVlen}} - caDownV {{x.caDownV}} - nDownVotes {{x.nDownVlen}}
	<button class="btn btn-primary" ng-click="vm.updatecatans(x)">Fix</button>
	</div>
	<div ng-repeat="x in vm.answerdist">
		<div class="row">
			{{x.name}} - {{x.location}} - {{x.dist}}
			<button class="btn btn-default" ng-click="vm.gotoAnswer(x)">Go to Answer</button>
		</div>
	</div>
	<button ng-if="vm.dupAnsRdy" class="btn btn-primary" ng-click="vm.goMerge()">Go Merge Screen</button>
</div>