<h1> Queries </h1>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<table class="table table-hover cursor">
			<tbody>
				<thead>
					<tr>
						<th>User Input</th>
						<th>Num. Results</th>
					</tr>
				</thead>
				<tbody>
					<!--<tr ng-repeat="x in vm.relativetable | orderBy:'-Rank'" ng-click="vm.refresh(x.id)">-->
					<tr>
						<td>piz</td>
						<td>10</td>
					</tr>
					<tr>
						<td>pizza san</td>
						<td>3</td>
					</tr>
					<tr>
						<td>pizza san juan</td>
						<td>1</td>
					</tr>
				</tbody>
		</table>
	</div>
	<div class="col-sm-2"></div>
</div>