<!-- Navigation Bar -->
<!-- <div ui-view="navbar"></div> -->

<div id="veil" ng-hide="vm.dataReady"></div>
<div id="feedLoading" ng-hide="vm.dataReady">
    <div style="text-align: center" ng-if="!vm.dataReady">
        <div><img src="/assets/images/loading.gif" class="img" style="width:50px;height:50px"/></div>
        <p style="font-size:large">{{vm.loadText}}</p>
    </div>
</div>
<div ng-if="vm.dataReady">
    <div class="container">

        <div ng-if="vm.overview">
            <h2>Ranking of the Day Admin Console</h2>
             <div class="row">   
             <div class="col-xs-6">
                 <label class="checkbox-inline">
                    <input type="checkbox" ng-change='vm.filterData("all")' ng-model="vm.allIsSelected" 
                    ng-checked="vm.allIsSelected">&nbspAll
                </label>
            </div>    
            <div class="col-xs-6">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-change='vm.filterData("next20")' ng-model="vm.next20IsSelected" 
                    ng-checked="vm.next20IsSelected">&nbspNext 20
                </label>
            </div>
            </div>
            <br>
            <table class="table">
                <tbody>
                    <thead style="border-style:none;">
                        <tr>
                            <th>Date</th>
                            <th>Title</th>
                            <th>Category</th>
                            <!--<th>Text</th>-->
                        </tr>
                    </thead>
                    <!--	<div ng-repeat="x in resultsT | orderBy: '-views' | limitTo:maxRes"> -->
                    <tr ng-repeat="x in vm.rods" style="cursor:pointer;" ng-click="vm.selRank(x)">
                        <td align="middle">{{x.datenum}}</td>
                        <td align="middle">{{x.title}}</td>
                        <td align="middle">{{x.category}}</td>
                        <td align="middle" ng-attr-style="background-color:{{x.imageok ? 'palegreen':'grey'}}">{{x.imageok ? 'Ready':'None'}}</td>
                        <td align="middle" ng-attr-style="background-color:{{x.textok ? 'palegreen':'grey'}}">{{x.textok ? 'Ready':'None'}}</td> 
                        <!--<td> {{x.introtext}}</td>-->
                    </tr>
                </tbody>
            </table> 
        </div>
        <div ng-if="vm.detail">
            <h2>{{vm.rank.title}}</h2>
            <br>
            <p class="text-left"><strong>Date:</strong>{{vm.rank.date}}</p>
            <br>
            <div class="row">
            <div class="text-right col-xs-6">
                <label>Background Color:</label>
            </div>
            <div class="col-xs-6">        
            <color-picker ng-model="vm.rank.bc" color-picker-swatch="true" color-picker-swatch-pos="'left'" color-picker-swatch-bootstrap="true"
                color-picker-swatch-only="true">
                </color-picker>
            </div>
            </div>
            <br>
            <div class="row">
                <div class="text-right col-xs-6">
                    <label>Font Color:</label>
                </div>
                <div class="col-xs-6">        
                <color-picker ng-model="vm.rank.fc" color-picker-swatch="true" color-picker-swatch-pos="'left'" color-picker-swatch-bootstrap="true"
                    color-picker-swatch-only="true">
                    </color-picker>
                </div>
                </div>
                <br>
            <div class="row">
                <div class="text-right col-xs-6">
                    <label>Shade Factor:</label>
                 </div>
                 <div class="col-xs-5 sm-4 md-2 lg-2">       
                    <div class="input-group">
                        <span class="input-group-btn">
					<button class="btn btn-primary" ng-click="vm.minusShade()"><i class="fa fa-minus"></i></button>
				</span>
                        <input style="text-align:center" class="form-control" ng-model="vm.rank.shade" type="text" placeholder="vm.rank.shade">
                        <span class="input-group-btn">
					<button class="btn btn-primary" ng-click="vm.plusShade()"><i class="fa fa-plus"></i></button>
				</span>
                    </div>
                    </div>
                    </div>
                    <br>
                

                    <!-- background-color:{{vm.rank.rdbc}} -->
                    <div class="row">
                        <div class="container col-xs-6 col-sm-6 col-md-4 col-lg-3" style="color:{{vm.rank.fc}};height:{{vm.sm ? '150px':'200px'}};margin:0px;padding:0px;border:0px;position:relative;
					background: {{vm.rank.bc}};
  					background: -webkit-linear-gradient(left, {{vm.rank.bc}}, {{vm.rank.bc2}});
  					background: -o-linear-gradient(right, {{vm.rank.bc}}, {{vm.rank.bc2}});
  					background: -moz-linear-gradient(right, {{vm.rank.bc}}, {{vm.rank.bc2}});
  					background: linear-gradient(to right, {{vm.rank.bc}}, {{vm.rank.bc2}});">
                            <h2 class=" hidden-xs text-center" style="padding:3px; margin:0px; position:absolute; top:50%; left:50%; margin-right:-50%;transform: translate(-50%,-50%)">{{vm.rank.title}}</h2>
                            <h3 class="hidden-sm hidden-md hidden-lg hidden-xl text-center" style="padding:3px; margin:0px; position:absolute; top:50%; left:50%; margin-right:-50%;transform: translate(-50%,-50%)">{{vm.rank.title}}</h3>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3" style="margin:0px;padding:0px;border:0px;" ng-if="!vm.isShortPhrase">
                        <img ng-src="{{vm.rank.image1}}" ng-attr-style="display:{{vm.rank.image1 != undefined ? 'inline':'none'}};width:100%;height:{{vm.sm ? '150px':'200px'}};">
                    </div>
                    <div class="hidden-xs hidden-sm col-md-4 col-lg-3" style="margin:0px;padding:0px;border:0px;" ng-if="!vm.isShortPhrase">
                        <img ng-src="{{vm.rank.image2}}" ng-attr-style="display:{{vm.rank.image1 != undefined ? 'inline':'none'}};width:100%;height:{{vm.sm ? '150px':'200px'}};">
                    </div>
                    <div class="hidden-xs hidden-sm hidden-md col-lg-3" style="margin:0px;padding:0px;border:0px;" ng-if="!vm.isShortPhrase">
                        <img ng-src="{{vm.rank.image3}}" ng-attr-style="display:{{vm.rank.image1 != undefined ? 'inline':'none'}};width:100%;height:{{vm.sm ? '150px':'200px'}};">
                    </div>

                    <div class="container col-xs-6 col-sm-6 col-md-4 col-lg-3" ng-if="vm.isShortPhrase" ng-attr-style="background-color:lightgray;color:black;height:{{vm.sm ? '150px':'200px'}};margin:0px;padding:0px;border:0px;position:relative;">
                        <div style="padding:3px; margin:0px; position:absolute; top:50%; left:50%; margin-right:-50%;transform: translate(-50%,-50%)">
                            <h2 class="hidden-xs text-center">{{vm.rank.title1}}</h2>
                            <h3 class="hidden-sm hidden-md hidden-lg hidden-xl text-center">{{vm.rank.title1}}</h3>
                            <!--</br>
		<h4 class="text-center">{{addinfo1}}</h4>-->
                        </div>
                    </div>

                    <div class="container hidden-xs hidden-sm col-md-4 col-lg-3" ng-if="vm.isShortPhrase" ng-attr-style="background-color:lightgray;color:black;height:{{vm.sm ? '150px':'200px'}};margin:0px;padding:0px;border:0px;position:relative;">
                        <div style="padding:3px; margin:0px; position:absolute; top:50%; left:50%; margin-right:-50%;transform: translate(-50%,-50%)">
                            <h2 class="hidden-xs text-center">{{vm.rank.title2}}</h2>
                            <h3 class="hidden-sm hidden-md hidden-lg hidden-xl text-center">{{vm.rank.title2}}</h3>
                            <!--</br>
		<h4 class="text-center">{{addinfo2}}</h4>-->
                        </div>
                    </div>

                    <div class="container hidden-xs hidden-sm hidden-md col-lg-3" ng-if="vm.isShortPhrase" ng-attr-style="background-color:lightgray;color:black;height:{{vm.sm ? '150px':'200px'}};margin:0px;padding:0px;border:0px;position:relative;">
                        <div style="padding:3px; margin:0px; position:absolute; top:50%; left:50%; margin-right:-50%;transform: translate(-50%,-50%)">
                            <h2 class="hidden-xs text-center">{{vm.rank.title3}}</h2>
                            <h3 class="hidden-sm hidden-md hidden-lg hidden-xl text-center">{{vm.rank.title3}}</h3>
                            <!--</br>
		<h4 class="text-center">{{addinfo3}}</h4>-->
                        </div>
                    </div>

        </div>

        <br>
        <div class="row">
         <div class="text-left col-xs-6">
            <blob-upload>
        </div>
        <div class="text-right col-xs-6">
            <button class="btn btn-danger" ng-click="vm.goDeleteImage()">Delete Image</button>
            <button class="btn btn-success" ng-click="vm.goSaveImage()">Save Image & Design</button>
        </div>
        </div>

        <input type="text" class="form-control" ng-model="vm.addval" bs-options="c for c in vm.addopts" bs-typeahead>
        <span class="input-group-btn text-right">
            <button class="btn btn-success" type="button" ng-click="vm.addCategory()">Add</button>
        </span>

        <!--<img src="{{vm.testimage}}" style="display:inline;width:100px;height:auto;">-->
        <label class="control-label capitalize">Social Media Text:</label>
        <textarea id="textarea1" class="form-control" ng-model="vm.rank.introtext" rows="6">
        </textarea>
        <br>
        <!--<img src="{{vm.testimage}}" style="display:inline;width:100px;height:auto;">-->
        <!--
        <label class="control-label capitalize">Website Text:</label>
        <textarea id="textarea2" class="form-control" ng-model="vm.rank.webtext" rows="6">
        </textarea>
        -->
        <br>
        <div class="text-right">
            <button class="btn btn-success" ng-click="vm.goSaveText()">Save Intro Text</button>
        </div>
        <br>            
        <div class="text-right">
            <button class="btn btn-default" ng-click="vm.goBack()">Back</button>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
</div>