<h1> Views </h1>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<table class="table table-hover cursor">
			<tbody>
				<thead>
					<tr>
						<th>Ranking</th>
						<th>Views</th>
					</tr>
				</thead>
				<tbody>
					<!--<tr ng-repeat="x in vm.relativetable | orderBy:'-Rank'" ng-click="vm.refresh(x.id)">-->
					<tr>
						<td>Who makes the best pizza in San Diego?</td>
						<td>1045</td>
					</tr>
					<tr>
						<td>What are some good ideas for first dates in San Diego?</td>
						<td>984</td>
					</tr>
					<tr>
						<td>Which are best gyms in Pacific Beach?</td>
						<td>876</td>
					</tr>
				</tbody>
		</table>
	</div>
	<div class="col-sm-2"></div>
</div>