<h1> Views </h1>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<table class="table table-hover cursor">
			<tbody>
				<thead>
					<tr>
						<th>Ranking</th>
						<th>Views</th>
					</tr>
				</thead>
				<tbody>
					<!--<tr ng-repeat="x in vm.relativetable | orderBy:'-Rank'" ng-click="vm.refresh(x.id)">-->
					<tr ng-repeat="x in vm.content | orderBy: '-views' ">
						<td>{{x.title}}</td>
						<td>{{x.views}}</td>
					</tr>
				</tbody>
		</table>
	</div>
	<div class="col-sm-2"></div>
</div>