<div class="input-group" style="width:100%">
	<!--<input type="text" class="form-control" placeholder="{{x.cval}}" data-ng-model="x.val">-->

	<input class="form-control" ng-model="vm.val" type="text" placeholder="Search San Diego" ng-change="vm.switchArray()">

</div>

<div class="container">
	<div ng-repeat="x in vm.resultsT">
		<h4 ng-click="vm.rankSelT(x, $index)">
				{{x.title}}
				<small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;6&nbspanswers-1234&nbspviews</small>	 
		</h4>
	</div>
</div>
<div class="span22" ng-show="vm.showR">
	<div ui-view></div>
</div>
<div class="container">
	<div ng-repeat="x in vm.resultsB">
		<h4 ng-click="vm.rankSelB(x, $index)">
			{{x.title}}
			<small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;6&nbspanswers-1234&nbspviews</small>		 
		</h4>
	</div>
</div>