<div class="well-sm" style="background-color:{{bgc}};color:{{fc}}">
	<h3 class="sub-header">{{headline}}</h3>
</div>
<div class="row" style="display:{{isRoW ? 'inline':'none'}}">
	<div class="col-sm-6 col-md-6 col-lg-4">
		<img class="displayed" src="{{image1}}" 
		style="width:100%;max-height:150px;display:{{image1 != undefined ? 'inline':'none'}}">
	</div>
	<div class="hidden-xs col-sm-6 col-md-6 col-lg-4">
		<img class="displayed" src="{{image2}}" 
		style="width:100%;max-height:150px;display:{{image2 != undefined ? 'inline':'none'}}">
	</div>
	<div class="hidden-xs hidden-sm hidden-md col-lg-4">
		<img class="displayed" src="{{image3}}" 
		style="width:100%;max-height:150px;display:{{image3 != undefined ? 'inline':'none'}}">
	</div>
</div>
<div class="container">
	<div ng-repeat="x in resultsT | orderBy: '-views' | limitTo:maxRes">
		<h4 ng-click="rankSel(x, $index)">
			{{x.title}}
			<small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;{{x.answers}}&nbspanswers-{{x.views}}&nbspviews</small>
		</h4>
	</div>
</div>
<p class="text-right" style="color:blue;" ng-click="seeMore(maxRes, btext)" ng-hide="{{isRoW}}">&lt;&lt;{{btext}}&gt;&gt;</p>