<!-- <div class="well-sm" style="background-color:{{bgc}};color:{{fc}}">
	<h3 class="sub-header">{{headline}}</h3>
</div> -->
<div style="display:{{hideme ? 'none':'inline'}}">

	<!--	<div class="container">
		<!--<div class="well-sm" style="background-color:{{bgc}};color:{{fc}}">-->

	<!--		<label class="sub-header" style="background-color:{{bgc}};color:{{fc}};width:95%">
				{{headline}}
        	</label>
		<!--</div>-->
	<!--	</div>-->
	<!--	<div class="table">  -->
	<br ng-if="isDynamic">	
	<table class="table" style="border-style:none" ng-if="isRoW">
		<tbody>
			<thead>
				<tr>
					<th style="background-color:{{bgc}};color:{{fc}};width:50%;border-style:none">
						{{headline}}</th>
				</tr>
			</thead>
		</tbody>
	</table>
	

	<div class="container" ng-if="isRoW">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-4">
				<img class="mainpic" src="{{image1}}" style="display:{{image1 != undefined ? 'inline':'none'}}">
			</div>
			<div class="hidden-xs col-sm-6 col-md-6 col-lg-4">
				<img class="mainpic" src="{{image2}}" style="display:{{image2 != undefined ? 'inline':'none'}}">
			</div>
			<div class="hidden-xs hidden-sm hidden-md col-lg-4">
				<img class="mainpic" src="{{image3}}" style="display:{{image3 != undefined ? 'inline':'none'}}">
			</div>
		</div>
	</div>
	<br ng-if="isRoW">
	<table class="table">
		<tbody>
			<thead ng-if="!isRoW" style="border-style:none;"> 
				<tr>
					<th style="background-color:{{bgc}};color:{{fc}};width:50%;">
						{{headline}}</th>
				</tr>
			</thead>
			<!--	<div ng-repeat="x in resultsT | orderBy: '-views' | limitTo:maxRes"> -->
			<tr ng-repeat="x in results_rt_nm" ng-click="rankSel(x,true)" style="cursor:pointer;" ng-if="rt_nm">
				<td style="width:50%;">
					{{x.title}}
					<small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;{{x.answers}}&nbspanswers-{{x.views}}&nbspviews</small>
				</td>
			</tr>
			<tr ng-repeat="x in results_rt" ng-click="rankSel(x,true)" style="cursor:pointer;" ng-if="rt">
				<td style="width:50%;">
					{{x.title}}
					<small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;{{x.answers}}&nbspanswers-{{x.views}}&nbspviews</small>
				</td>
			</tr>
			<tr ng-repeat="x in results_nm" ng-click="rankSel(x,true)" style="cursor:pointer;" ng-if="nm">
				<td style="width:50%;">
					{{x.title}}
					<small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;{{x.answers}}&nbspanswers-{{x.views}}&nbspviews</small>
				</td>
			</tr>
			<tr ng-repeat="x in results | limitTo:maxRes" ng-click="rankSel(x,false)" style="cursor:pointer;">
				<td style="width:50%;">
					{{x.title}}
					<small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;{{x.answers}}&nbspanswers-{{x.views}}&nbspviews</small>
				</td>
			</tr>
		</tbody>
	</table>

	<p class="text-right" style="color:blue;" ng-click="seeMore(maxRes, btext)" ng-if="!resLT6 && modType!='rankofweek'">&lt;&lt;{{btext}}&gt;&gt;</p>
</div>