<div ng-class="sm?'':'rank-item'" style="padding-bottom:10px">
    <!-- Basic Layout -->
    <div class="row" ng-click="rankSel(rank,false)" ng-if="isBasic" >
        <div class="container-bgbox col-xs-12 col-sm-12 " ng-if="part=='title'">
            <div style="position:absolute;background-color:red; z-index: 50; padding: 2px; font-size: 17px; color: #fff">
                &nbspRanking of the Day&nbsp
            </div>
            <bg-box2 bc="{{bc}}" shade="{{shade}}" fc="{{fc}}" text="{{title}}" dir="horizontal" 
            w="100%" h="{{sm ? '150':'200'}}" stats="{{stats}}" question="{{rankObject.question}}" is-rank-of-day="{{true}}"></bg-box2>
        </div>

        <div class="col-xs-12 col-sm-12 row" style="margin:0px; padding: 0px; border:0px;cursor:pointer;" ng-if="part=='image'">
            <div class="col-xs-6" style="padding: 0px">
                <img ng-src="{{image1}}" ng-attr-style="display:{{image1 != undefined ? 'inline':'none'}};width:100%;height:{{sm ? '150px':'200px'}};">
            </div>
            <div class="col-xs-6" style="padding: 0px" ng-if="!isShortPhrase">

                <img ng-src="{{image2}}" ng-attr-style="display:{{image2 != undefined ? 'inline':'none'}};width:100%;height:{{sm ? '150px':'200px'}};">
            </div>
            <div class="container-bgbox col-xs-6" ng-if="isShortPhrase">
                <bg-box bc="{{bcp}}" bc2="{{bc2p}}" fc="{{fcp}}" 
                    text="{{title1}}" dir="horizontal" w="100%" h="{{sm ? '150px':'200px'}}"></bg-box>
			</div>
        </div>
    </div>
    
</div>