	<table class="table" style="border-style:none;">
		<tbody>			
			<tr ng-repeat="x in resRanks track by $index | limitTo:maxRes " ng-click="rankSel(x,false)" style="cursor:pointer;">
				<td style="width:50%;">
					<i class="fa fa-list-ol" aria-hidden="true"></i> - {{x.title}}
					<!--<small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;{{x.answers}}&nbspanswers-{{x.views}}&nbspviews</small>-->
				</td>
			</tr>
			<tr ng-repeat="x in resAnswers track by $index | limitTo:maxRes " ng-click="ansSel(x,false)" style="cursor:pointer;">
				<td style="width:50%;">
					<i class="{{x.icon}}" aria-hidden="true"></i> - {{x.name}}, {{x.cityarea}}
                    <small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;{{x.views}}&nbspviews</small>
				</td>
			</tr>			
		</tbody>
	</table>
