<div class="container" style="max-height:200px">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

            <ul class="nav nav-tabs">
                <li class="active" style="cursor: pointer"><a data-toggle="tab" ng-click="seeTab(1)">Popular</a></li>
                <li style="cursor: pointer"><a data-toggle="tab" ng-click="seeTab(2)">Newest</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane in active" ng-show="popular" style="padding-top:10px;padding-bottom:10px; max-height: 340px; overflow-y: scroll;">
                        
                    <div class="col-xs-12 media ranking-blog-item" ng-repeat="ranking in popularOrder" style="cursor: pointer;" ng-click="rankSel(ranking)">

                        <div class="profile-avatar-wrapper media-left">
                            <img src="{{ranking.image1url ? ranking.image1url : '../../../assets/images/noimage.jpg'}}" />
                        </div>
                        <div class="media-body" style="vertical-align: middle;">
                            {{ranking.title}}
                            <span class="pull-right">{{ranking.views}} Views</span>
                        </div>

                    </div>

                </div>
                <div class="tab-pane in active"  ng-show="newest" style="padding-top:10px;padding-bottom:10px; max-height: 340px; overflow-y: scroll;" >
                    
                    <div class="col-xs-12 media ranking-blog-item" ng-repeat="ranking in newestOrder"  ng-click="rankSel(ranking)" style="cursor: pointer;">

                        <div class="profile-avatar-wrapper media-left">
                            <img src="{{ranking.image1url ? ranking.image1url : '../../../assets/images/noimage.jpg'}}" />
                        </div>
                        <div class="media-body" style="vertical-align: middle;">
                            {{ranking.title}}
                            <span class="pull-right">{{ranking.timestmp.slice(0, 10)}}</span>
                        </div>

                    </div>
                </div>
            </div>
            <!--
    <div class="row" ng-click="rankSel(resultsTop[0],false)" ng-if="isBasic">
        <div class="container-bgbox col-xs-6 col-sm-3 col-md-3 col-lg-2">
            <bg-box2 bc="{{bc}}" shade="{{shade}}" fc="{{fc}}" text="{{title}}" dir="horizontal" 
            w="100%" h="{{sm ? '150':'200'}}" stats="{{stats}}"></bg-box>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" style="margin:0px;padding:0px;border:0px;" ng-if="!isShortPhrase">
            <img ng-src="{{image1}}" style="display:{{image1 != undefined ? 'inline':'none'}};width:100%;height:{{sm ? '150px':'200px'}};">
        </div>
    </div>
    -->
        </div>
    </div>
</div>