<!--
<table class="table">
	<tbody>
		<thead>
			<tr>
				<th ng-attr-style="{{headerStyle}}">
					Feed
					<span class="nomargin">
                    		<button type="button" class="btn btn-default pull-right" style="vertical-align:middle;" 
                    		ng-click="refreshFeed()">
                    		<span class="glyphicon glyphicon-refresh" style="padding-top:0px;padding-bottom:0px;" aria-hidden="true"></span>
					</button>
					<p class="text-center " style="color:blue;display: inline; float: right; margin-right: 10px" ng-if="showAll == 'false'" ng-click="seeMoreFeed(true)"><a class="btn btn-default">See More</a></p>
					</span>
				</th>
			</tr>
		</thead>
	</tbody>
</table>
-->
<button type="button" class="btn btn-default pull-right" style="vertical-align:middle;" ng-click="refreshFeed()">
    <span class="glyphicon glyphicon-refresh" style="padding-top:0px;padding-bottom:0px;" aria-hidden="true"></span>
</button>

<div ng-repeat="x in feeds | orderBy:'-id' | limitTo:fres" style="padding:0px;border:0px;margin-top:10px;">
	<div class="row" style="margin:4px">

		<div class="col-xs-12 media" style="padding-left: 5px;padding-right: 5px;">

			<div ng-if="!x.picture" class="profile-avatar-wrapper media-left">
				<div class="empty-profile-avatar-wrapper" ng-attr-style="background-color:{{x.bc}};color:{{x.fc}};">{{x.initials}}</div>
			</div>
			<div ng-if="x.picture" class="profile-avatar-wrapper  media-left" align="middle">
				<img ng-src="{{x.picture}}" class="img-responsive img-circle profile-avatar" />
				
			</div>
			
			<div ng-if="x.action == 'addedAnswer'" class="media-body" style="vertical-align: middle;">
				{{x.actorusername}} added <a ng-click="gotoAnswer(x)" style="cursor:pointer">{{x.text1}}</a> to
				<a ng-click="gotoRank(x)" style="cursor:pointer">{{x.text2}}</a>.
			</div>
			<div ng-if="x.action == 'upVoted'" class="media-body" style="vertical-align: middle;">
				{{x.actorusername}} endorsed <a ng-click="gotoAnswer(x)" style="cursor:pointer">{{x.text1}}</a> in
				<a ng-click="gotoRank(x)" style="cursor:pointer">{{x.text2}}</a>.
			</div>
			<div ng-if="x.action == 'downVoted'" class="media-body" style="vertical-align: middle;">
				{{x.actorusername}} voted down <a ng-click="gotoAnswer(x)" style="cursor:pointer">{{x.text1}}</a> in
				<a ng-click="gotoRank(x)" style="cursor:pointer">{{x.text2}}</a>.
			</div>
			<div ng-if="x.action == 'commentR'" class="media-body" style="vertical-align: middle;">
				{{x.actorusername}} posted a comment in <a ng-click="gotoRank(x)" style="cursor:pointer">{{x.text2}}</a>.
			</div>
			<div ng-if="x.action == 'commentA'" class="media-body" style="vertical-align: middle;">
				{{x.actorusername}} posted a comment for <a ng-click="gotoAnswer(x)" style="cursor:pointer">{{x.text1}}</a>.
			</div>
			<div ng-if="x.action == 'editA'" class="media-body" style="vertical-align: middle;">
				{{x.actorusername}} edited the information of <a ng-click="gotoAnswer(x)" style="cursor:pointer">{{x.text1}}</a>.
			</div>
			<div ng-if="x.action == 'upVotedVrow'" class="media-body" style="vertical-align: middle;">
			<!--	{{x.actorusername}} endorsed the <em>{{x.text2}}</em> of <a ng-click="gotoAnswer(x)" style="cursor:pointer">{{x.text1}}</a>. -->
				{{x.actorusername}} endorses the opinion: <em>{{x.text2}}</em> for <a ng-click="gotoAnswer(x)" style="cursor:pointer">{{x.text1}}</a>.
			
			</div>
			<div ng-if="x.action == 'downVotedVrow'" class="media-body" style="vertical-align: middle;">
			<!--	{{x.actorusername}} voted down the <em>{{x.text2}}</em> of <a ng-click="gotoAnswer(x)" style="cursor:pointer">{{x.text1}}</a>. -->
				{{x.actorusername}} disagrees with the opinion: <em>{{x.text2}}</em> for <a ng-click="gotoAnswer(x)" style="cursor:pointer">{{x.text1}}</a>.
			</div>
			<div ng-if="x.action == 'binded'" class="media-body" style="vertical-align: middle;">
				{{x.actorusername}} bound account to <a ng-click="gotoAnswer(x)" style="cursor:pointer">{{x.text1}}</a>.

			</div>
			<div ng-if="x.action == 'addedRank'" class="media-body" style="vertical-align: middle;">
				{{x.actorusername}} added a new ranking <a ng-click="gotoRank(x)" style="cursor:pointer">{{x.text2}}</a>.
			</div>
			<div ng-if="x.action == 'addedCustomRank'" class="media-body" style="vertical-align: middle;">
				{{x.actorusername}} created the ranking <a ng-click="gotoRank(x)" style="cursor:pointer">{{x.text2}}</a> for 
				<a ng-click="gotoAnswer(x)" style="cursor:pointer">{{x.text1}}</a>.
			</div>
		</div>
	</div>
</div>
<!--
<p class="text-center" style="color:blue; margin-top:10px; margin-bottom: 60px" ng-if="showAll == 'true'"><a class="btn btn-default" style='margin-right:20px;' ng-click="seeMoreFeed(false)">See More</a><a class="btn btn-default" href="/home">Back</a></p>
-->