<!-- Navigation Bar -->
<!--<div ui-view="navbar"></div>-->

<div id="veil" ng-hide="vm.dataReady"></div>
<div id="feedLoading" ng-hide="vm.dataReady">
	<div style="text-align: center" ng-if="!vm.dataReady">
		<div><img src="/assets/images/loading.gif" class="img" style="width:50px;height:50px"/></div>
		<p style="font-size:large">loading your accounts...</p>
	</div>
</div>
<div ng-if="vm.dataReady">

	<div class="container">

		<h3>Promoter Console</h3>
		<div ng-if="vm.userIsPromoter">
			<h4 align="center" style="background-color:#b3b3b3;padding:5px">Account Information</h4>
			<div ng-if="!vm.promoter.stripeid" style="padding: 10px;background-color: indianred;border-radius: 10px;text-align: center;margin-bottom:10px">
				You should link your stripe account to get payed.
				<a class="btn btn-primary" ng-click="vm.connectStripe()">Connect with Stripe</a>
			</div>
			<div ng-if="vm.notifications.length != 0">
				<notification-block notifications="vm.notifications" />
			</div>
			<p class="text-left"><strong>First Name:</strong>&nbsp{{vm.promoter.firstname}}</p>
			<p class="text-left"><strong>Last Name:</strong>&nbsp{{vm.promoter.lastname}}</p>
			<p class="text-left"><strong>Email:</strong>&nbsp{{vm.promoter.email}}</p>
			<p class="text-left"><strong>Address:</strong>&nbsp{{vm.promoter.address}}</p>
			<p class="text-left"><strong>Phone Number:</strong>&nbsp{{vm.promoter.phone}}</p>
			<p class="text-left"><strong>Promoter Code:</strong>&nbsp{{vm.promoter.code}}</p>
			<div class="text-right" role="group">
				<button type="button" ng-click="vm.goEdit()" class="btn btn-default">Edit</button>
			</div>

			<h4 align="center" style="background-color:#b3b3b3;padding:5px">Accounts</h4>

			<table class="table" ng-if="!vm.noAns&&vm.overview">
				<tbody>
					<thead style="border-style:none;">
						<tr>
							<th class="text-center">Business Name</th>
							<th class="text-center">Status</th>
							<th class="text-center">Commission (after trial)</th>
						</tr>
					</thead>
					<!--	<div ng-repeat="x in resultsT | orderBy: '-views' | limitTo:maxRes"> -->
					<tr ng-repeat="x in vm.myaccnts" style="cursor:pointer;">
						<td ng-click="vm.gotoanswer(x.answerObj)">{{x.name}}</td>
						<td align="middle" ng-attr-style="{{x.style}}" ng-click="vm.gotomanage(x)">{{x.status}}</td>
						<td ng-click="vm.gotomanage(x)" style="text-align:right">${{x.totalCommission}}</td>
					</tr>
				</tbody>
			</table>
			<div ng-if="vm.manageview">
				<p class="text-left"><strong>Business Name:</strong>&nbsp{{vm.business.answerObj.name}}</p>
				<p class="text-left"><strong>Email:</strong>&nbsp{{vm.business.email}}</p>
				<p class="text-left"><strong>Owner/Contact Name:</strong>&nbsp{{vm.business.username}}</p>
				<p class="text-left"><strong>Last Name:</strong>&nbsp{{vm.promoter.lastname}}</p>
				<p class="text-left"><strong>Status:</strong><span align="middle" ng-attr-style="{{x.style}}" >{{x.business.status}}</span></p>
				<p class="text-left"> 
					<table class="table"  ng-if="vm.business.status=='Active'">
						<tbody>
							<thead style="border-style:none;">
								<tr>
									<th style="width:45%" text-align="center">Subscription</th>
									<th style="width:15%" text-align="center">Commission</th>
								</tr>
							</thead>
							<tr ng-if="vm.business.ispremium" style="cursor:pointer;">
								<td style="width:45%">Premium Membership</td>
								<td style="width:15%">${{vm.business.price*vm.STRIPE_COMMISSION_PERCENTAGE}}</td>
							</tr>
							<tr ng-if="vm.business.hasranks" style="cursor:pointer;">
								<td style="width:45%">{{vm.business.ranksqty}} Custom Ranks</td>
								<td style="width:15%">${{vm.business.ranksqty*vm.CUSTOM_RANK_PRICE*vm.STRIPE_COMMISSION_PERCENTAGE}}</td>
							</tr>
							<tr>
								<td style="width:45%">Total</td>
								<td style="width:15%; background-color: darkgray;">${{vm.business.totalCommission}}</td>
							</tr>
						</tbody>
					</table>
				</p>
				<p class="text-left" ng-if="vm.business.status.indexOf('On Trial') != -1">
					Will be active from {{vm.business.discountEndDate}}.
				</p>
				<p class="text-left"><strong>Address:</strong>&nbsp{{vm.promoter.address}}</p>
				<p class="text-left"><strong>Phone Number:</strong>&nbsp{{vm.promoter.phone}}</p>
			</div>
			<div ng-if="vm.noAns">
				</br>
				<p>No businesses have signed up using your promoter code. For tips and suggestions on how to get businesses to sign up using
					your promoter code <a href="" ng-click="vm.gotoPromotePage()">click here</a>.</p>
			</div>
		</div>
		<div ng-if="!vm.userIsPromoter">
			<p>You are currently not registered to be a Promoter. Rank-X promoters help spread the word out about the app to local businesses, as 
				well as monitoring the accuracy of content of the application. In exchange, promoters get paid monthly commissions on all 
				businesses accounts they bring to Rank-X.</p>
				<div class="text-center">
					<button type="button" ng-click="vm.goSignup()" class="btn btn-success">Sign Up</button>
					<button type="button" ng-click="vm.gotoPromotePage()" class="btn btn-primary">Learn More</button>
				</div>
		</div>
		<div class="text-right" role="group">
			<button type="button" ng-click="vm.goBack()" class="btn btn-default">Back</button>
		</div>
	</div>
</div>