<div class="panel panel-primary signin-card">
    <div class="panel-heading">
        <h1 class="text-center">Rank - Futbol</h1>
    </div>
    <div class="panel-body">
        <form ng-submit="vm.submit()">
            <div class="form-group text-center">
                <button type="button" class="btn btn-primary form-control" ng-click="vm.redirectForFacebook()">
                    <i class="fa fa-facebook"></i>
                    Login
                </button>
            </div>
            <br>
            <p class="hiw" ng-click="vm.whyFacebookDialog()"><u>{{"whyFacebook" | translate}}</u></p>
            <!--
            <div class="form-group text-center">
                - OR -
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" ng-model="vm.username" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="vm.password" />
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">Sign In</button>
                <button type="button" class="btn btn-primary" ng-click="vm.register()">Register</button>
            </div>
            -->
        </form>
    </div>
    
</div>
