<div class="panel panel-primary signin-card">
    <div class="panel-heading" style="background-color:lightgray;">
        <!--<h1 class="text-center">RankX</h1>-->
        <img src="/assets/images/rankxlogo_noheadline.png" style="width:100%; padding:10px;">
    </div>
    <div class="panel-body">

        <form ng-submit="vm.submit()" ng-if="!vm.isProgressing">
            <div class="form-group text-center">
                   
                <button type="button" class="btn btn-primary form-control" ng-click="vm.facebookLogin()">
                    <i class="fa fa-facebook"></i>
                    Login
                </button>

                <!-- <button type="button" class="btn btn-primary form-control" ng-click="vm.redirectForFacebook()">
                    <i class="fa fa-facebook"></i>
                    Old Login
                </button> -->
                <br><br>
                <button type="button" class="btn btn-default form-control" style="vertical-align:middle;" 
                    ng-click="vm.goBack()">Cancel</button>
            </div>
            <br>
            <p class="hiw" ng-click="vm.whyFacebookDialog()"><u>why Facebook?</u></p>
            <!--
            <div class="form-group text-center">
                - OR -
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" ng-model="vm.username" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="vm.password" />
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">Sign In</button>
                <button type="button" class="btn btn-primary" ng-click="vm.register()">Register</button>
            </div>
            -->
        </form>

        <div style="text-align: center" ng-if="vm.isProgressing">
            <div><img src="/assets/images/loading.gif" class="img" style="width:50px;height:50px"/></div>
            <p class="text-muted">Loading...</p>
        </div>


    </div>

</div>
