<?xml version="1.0"?>
 
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <clientCache cacheControlMode="UseExpires" httpExpires="Sun, 1 Jan 2019 00:00:00 UTC" />
        </staticContent>
    </system.webServer>
    
<system.webServer>
   <rewrite>
     <rules>
        <rule name="IP Canonicalization ">
	         <match url="(.*)" ignoreCase="true" />
	         <conditions>
	             <add input="{HTTP_HOST}" pattern="^104\.214\.77\.221" />
                 <add input="{HTTP_HOST}" pattern="^rank-x\.com" />
            </conditions>
	           <action type="Redirect" url="https://www.rank-x.com/{R:1}" redirectType="Permanent" />
        </rule>
       <rule name="Redirect HTTP to HTTPS">
         <match url="(.*)" />
         <conditions>
           <add input="{HTTPS}" pattern="off" ignoreCase="true" />
         </conditions>
         <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent"/>
       </rule>
     </rules>
     </rewrite>
 </system.webServer>
​<system.web>
        <sessionState cookieName="​Rank-X" mode="Off" /> 
</system.web> 

</configuration> 

​