a {
  cursor: pointer;
}
		.carousel-inner > .item > img,
.carousel-inner > .item > a > img
{
    width: 100%;
    height: 100px;
    margin: 0;
}
img.displayed
{
    display: block;

    margin-right: 0;
    margin-left: 0;
}
img.mainpic
{
    width: 100%;
    max-height: 200px;
    margin: 0;
    margin-right: 0;
    margin-left: 0;
    padding-top: 0;

    border-style: none;
}

img.displayed-uc
{
    display: block;

    margin-right: 0;
    margin-left: 0;

    pointer-events: none;
}
.well-sm
{
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;

    color: #fff;
    background-color: #006dcc;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);

    *background-color: #04c;
}
.well-rank
{
    padding-top: 0px;
    padding-right: 0;
    padding-bottom: 0px;
    padding-left: 20px;
    margin: 0px;

    color: #fff;
    background-color: #006dcc;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);

    *background-color: #04c;
}
.well-answer
{
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 20px;

    color: black;
    background-color: #b3b3b3;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);

    *background-color: #b3b3b3;
}
.well-light
{
    background-color: #d8d8d8;

    *background-color: #e0e0e0;
}
.well-dark
{
    padding-top: 0;
    padding-bottom: 0;

    background-color: #b0b0b0;

    *background-color: #b8b8b8;
}
.well-light-edit
{
    padding-top: 0;
    padding-bottom: 0;

    background-color: #d8d8d8;

    *background-color: #e0e0e0;
}
.well-light-ranks
{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;

    border: 2px solid white;
    background-color: #d8d8d8;

    *background-color: #e0e0e0;
}

th.capitalize
{
    text-transform: capitalize;
}
strong.capitalize
{
    text-transform: capitalize;
}
label.capitalize
{
    text-transform: capitalize;
}

.frame
{
    width: 100%;
    height: 300px;      /* equals max image height */
    margin: 1em 0;

    text-align: center;
    white-space: nowrap;
}

.helper
{
    display: inline-block;

    height: 100%;

    vertical-align: middle;
}

p.hiw
{
    cursor: pointer;
}
table.cursor
{
    cursor: pointer;
}
img.cursor
{
    cursor: pointer;
}

#veil
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: not-allowed;

    opacity: .6;
    color: black;

    filter: alpha(opacity=60);
}
#feedLoading
{
    font-size: 4em;

    position: absolute;
    top: 200px;
    left: 0px;
    width: 100%;

    text-align: center;

    color: gray;
    text-shadow: 2px 2px 2px gray;
}
.container-blue
{
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;

    vertical-align: middle;

    color: #fff;
    background-color: #006dcc;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);

    *background-color: #04c;
}
.span-nomargin
{
    padding-top: 0;
    padding-bottom: 0;
}
.container-fluid
{
    min-height: 100%;
}
td.happy
{
    color: white;
    background-color: green;

    *background-color: green;
}
.span22
{
    -webkit-box-shadow: 0 0 2px black;
       -moz-box-shadow: 0 0 2px black;
            box-shadow: 0 2px 0 #006dcc;
}
.container-answer
{
    min-height: 200px;
    padding-bottom: 5px;

    color: black;
    /*background-image: url("/assets/images/photo1001.png");*/
    background-color: darkgray;
}
.container-fluid
{
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

.container-bgbox
{
    margin:0px;
    padding:0px;
    border:0px;
    position:relative;
}

.answer_info .col-sm-4
{
    padding: 20px;

    text-align: center;
}
.answer_info .answer_info_buttons i.fa
{
    font-size: 38px;

    padding-right: 20px;
}
.container-hours
{
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 10px;

    background-color: #e6e6e6;
}


.profile-avatar-wrapper{
}
.profile-avatar-wrapper .empty-profile-avatar-wrapper{
	border-radius: 50%;
	line-height: 35px;
	text-align: center;
	width: 35px;
	height: 35px;
	margin: 0px auto;
}

.profile-avatar-wrapper img{
	max-width:  35px;
	height: 35px;
}


/*----------------- Navbar ----------------------*/

/* navbar profile picture */
a.home-link{
    cursor: pointer;
    padding-left: 2px;
    margin: 0px;
}
a.navbar-profile-picture-wrapper{
    padding: 5px;
    display: inline;
    line-height: 40px;
}

a.navbar-profile-picture-wrapper .navbar-profile-picture{
    max-height: 40px;
    float: left;
}
a.navbar-profile-picture-wrapper span{
    padding-left: 10px;
}

@media screen and (max-width: 768px) {
	.nav li a.navbar-profile-picture-wrapper{
		padding-left: 65px;
	}
    .nav li a.navbar-profile-picture-wrapper .navbar-profile-picture {
        top: 0px;
        left: 15px;
    }
    #mybiztable{
        padding: 4px;
        font-size: 12px;
    }
    #mybiztable-container{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 414px) {
	/*
    a.home-link{
        display: none;*
    }*/
    a.navbar-profile-picture-wrapper{
        padding-left: 10px;
        display: inline;
        line-height: 40px;
    }
    .hidden-custom{
        display: none;
    }
}

@media (min-width: 768px){
    .home-link{
        margin-left: 0px !important;
    }
}


.active-back{
    background-color: #efefef;
}

.ranking-blog-item:hover{
    background: #efefef;
}
.rank-item{
    margin-right: 5px;
}
.trend-tab-single-page{
    max-height: 320px;
    overflow-y: scroll;
}

/*.fb-page, 
.fb-page span, 
.fb-page span iframe[style] { 
    width: 100% !important; 
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
width: 100% !important;
}*/




.back-to-top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 70px;
  right: 10px;
  width: 60px;
  height: 60px;
  z-index: 100;
  display: none;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.back-to-top:hover {
}
.back-to-top i {
  font-size: 50px;
  background: #ececec;
  color: #222222;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
}

/*
userfeed-block {
    overflow-y: auto;
    display: block;
    height: 400px;
}*/
/*
userfeed-block.show-all {
    overflow: initial;
}*/


.trend-tab ul li a{
    background-color: #fff;
    cursor: pointer;
}
.trend-tab ul li.active a{
    background-color: #e6e6e6;
    cursor: pointer;
}
.trend-tab ul li.active a:hover{
    background-color: #efefef;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}