
<div class="input-group" style="width:100%" ng-if="vm.isAdmin">
	<!--<input type="text" class="form-control" placeholder="{{x.cval}}" data-ng-model="x.val">-->
	<div class="text-center" style="display:{{vm.isAdmin ? 'inline':'none'}}">
		<div class="btn-group col-sm-6 col-md-6">
			<button class="btn btn-primary {{vm.selEditRank}} " ng-click="vm.editRank() ">Edit Mode</button>
			<button class="btn btn-primary {{vm.selViewRank}} " ng-click="vm.viewRank() ">View Mode</button>
		</div>
		<button class="btn btn-danger" ng-click="vm.applyRule() ">apply Rule</button>
	</div>
	<br style="display:{{vm.isAdmin ? 'inline':'none'}}">
	<br style="display:{{vm.isAdmin ? 'inline':'none'}}">
	<br style="display:{{vm.isAdmin ? 'inline':'none'}}">
</div>


 <!-- <div class="row" ng-if="!vm.fbm" style="border:0px;margin:0px;padding:0px"> 
	<div class="col-sm-12 col-md-8" style="display:{{(vm.isNhRdy || vm.isCity) ? 'inline':'none'}}"> -->
<div ng-if="!vm.fbm">	
		<div class="input-group" style="background-color:{{vm.querybc}};padding:5px">
			<input type="text" class="form-control" placeholder="Search in {{vm.searchScope}}" 
			ng-model="vm.val" ng-change="vm.getResults()" id="SearchInput">
			<div class="input-group-btn">
				<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
			</div>
		</div>
<!--	</div> -->
	<br ng-if="!vm.hidelogo"> 
	<div class="text-center" ng-if="!vm.hidelogo">
		<div class="btn-group">
			<button class="btn btn-default {{vm.isCity ? 'active':''}}" ng-click="vm.switchScope(1)">San Diego</button>
			<button class="btn btn-default {{vm.isNh ? 'active':''}}" ng-click="vm.switchScope(2)">Neighborhood</button>
		</div>
	</div>
	</br ng-if="!vm.hidelogo">
</div>	
 <!-- </div>  --> 

<div style="display:{{vm.isNh ? 'inline':'none'}}" ng-if="!vm.fbm">
	<br ng-if="!vm.hidelogo">
	<!---->	
	<div class="dropdown">
		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="nhdropdown" style="width:200px">
			{{vm.cnh}} <span class="caret">
			</button>
		<ul class="dropdown-menu dropdown-menu-middle">
	<!--		<li ng-repeat="x in vm.nhs | orderBy: x"><a ng-click="vm.selnh(x)">{{x}}</a></li>  -->
	<!--		<li ng-repeat="x in vm.nhs | orderBy: x"><span ng-click="vm.selnh(x)">{{x}}</span></li> -->
			<li ng-repeat="x in vm.nhs | orderBy: x" ng-click="vm.selnh(x)"><a>{{x}}</a></li>
			</ul>
	</div> 	
</div>

<div style="display:{{vm.searchActive ? 'inline':'none'}}" ng-if="!vm.fbm&&vm.searchActive">	
	<br ng-if="vm.isNh">
	<search-block></search-block>
</div> 
 <br ng-if="vm.isNh">
<div style="display:{{((vm.isNhRdy || vm.isCity) && (vm.searchActive == false)) ? 'inline':'none'}}" ng-if="!vm.fbm">
	<content-block type='rankofweek' dynamic="false" rankofweek="true"></content-block>

	<!-- <content-block type='quickLinks' dynamic="false" ></content-block> -->
	<!--<content-block type='rankofweeknh' dynamic="false" rankofweek=true></content-block>-->
	<!-- Instagram and Facebook Like buttons 
	margin-bottom:10px;padding:0px;border:0px;margin-top:10px;margin-left:0px;margin-right:0px;
	margin-bottom:10px;padding:0px;border:0px;margin-top:10px;--> 
<!-- <div class="row" style="margin:0px;padding:0px;border:0px;">
<!--	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin:0px;padding:0px;border:0px;"> -->
<!--
background: #595959;
  						background: -webkit-linear-gradient(left, #595959 , #bfbfbf);
  						background: -o-linear-gradient(right, #595959, #bfbfbf);
  						background: -moz-linear-gradient(right, #595959, #bfbfbf);
  						background: linear-gradient(to right, #595959 , #bfbfbf);">
							
	-->

		<table class="table" style="border-style:none;" ng-if="vm.isCity">
			<tbody>
				<thead>
					<tr>
						<th style="{{vm.headerStyle}}">
						Quick Links</th>
					</tr>
				</thead>
			</tbody>
		</table>

		<div class="text-center" ng-if="vm.isCity">
			<button class="btn btn-danger" ng-click="vm.foodNearMe()">Food near me</button>
			<button class="btn btn-primary" ng-click="vm.events()">Events</button>
			<button class="btn btn-success" ng-click="vm.selfimprove()">I feel lucky</button>
		</div>
	<!-- </div> -->
	
	 <br ng-if="vm.isCity"> 
<!--	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin:0px;padding:0px;border:0px;"> -->
		
		<table class="table" style="border-style:none;" ng-if="vm.isCity">
			<tbody>
				<thead>
					<tr>
						<th style="{{vm.headerStyle}}">
							Feed
							<span class="nomargin">
                    		<button type="button" class="btn btn-default pull-right" style="vertical-align:middle;" 
                    		ng-click="vm.refreshFeed()">
                    		<span class="glyphicon glyphicon-refresh" style="padding-top:0px;padding-bottom:0px;" aria-hidden="true"></span>
							</button>
							</span>
						</th>
					</tr>
				</thead>
			</tbody>
		</table>

		<div ng-repeat="x in vm.feeds | orderBy:'-id' | limitTo:vm.fres" ng-if="vm.isCity" style="padding:0px;border:0px;margin-top:10px;">
			<div class="row" style="margin:4px">
				<div ng-if="!x.picture" class="usericon col-xs-2 col-sm-2 col-md-1 col-lg-1" style="background-color:{{x.bc}};color:{{x.fc}};height:35px;" align="middle">
					{{x.initials}}
				</div>
				<div ng-if="x.picture" class="usericon col-xs-2 col-sm-2 col-md-1 col-lg-1" align="middle">
					<img ng-src="{{x.picture}}" class="img-responsive img-circle" style="width: 35px; height: 35px"/>
				</div>
				<div class="col-xs-10 col-sm-10 col-md-11 col-lg-11" style="line-height:35px">
					<div ng-if="x.action == 'addedAnswer'">
						added <a ng-click="vm.gotoAnswer(x)">{{x.text1}}</a> to
						<a ng-click="vm.gotoRank(x)">{{x.text2}}</a>.
					</div>
					<div ng-if="x.action == 'upVoted'">
						endorsed <a ng-click="vm.gotoAnswer(x)">{{x.text1}}</a> in
						<a ng-click="vm.gotoRank(x)">{{x.text2}}</a>.
					</div>
					<div ng-if="x.action == 'downVoted'">
						voted down <a ng-click="vm.gotoAnswer(x)">{{x.text1}}</a> in
						<a ng-click="vm.gotoRank(x)">{{x.text2}}</a>.
					</div>
					<div ng-if="x.action == 'commentR'">
						posted a comment in <a ng-click="vm.gotoRank(x)">{{x.text2}}</a>.
					</div>
					<div ng-if="x.action == 'commentA'">
						posted a comment for <a ng-click="vm.gotoAnswer(x)">{{x.text1}}</a>.
					</div>
					<div ng-if="x.action == 'editA'">
						edited the information of <a ng-click="vm.gotoAnswer(x)">{{x.text1}}</a>.
					</div>
					<div ng-if="x.action == 'upVotedVrow'">
						endorsed the <em>{{x.text2}}</em> of <a ng-click="vm.gotoAnswer(x)">{{x.text1}}</a>.
					</div>
					<div ng-if="x.action == 'downVotedVrow'">
						voted down the <em>{{x.text2}}</em> of <a ng-click="vm.gotoAnswer(x)">{{x.text1}}</a>.
					</div>
					<div ng-if="x.action == 'binded'">
						bound account to <a ng-click="vm.gotoAnswer(x)">{{x.text1}}</a>.
					</div>
				</div>
			</div>
		</div>
		<p class="text-right" style="color:blue;" ng-click="vm.seeMoreFeed()" ng-if="vm.isCity">&lt;&lt;{{vm.ftext}}&gt;&gt;</p>
<!--	</div> -->
	<br ng-if="vm.sm">
	
	<div class="row" style="border:0px;padding:0px;margin:0px;">
		<div class="col-md-6" style="border:0px;padding:3px;margin:0px;">
			<content-block type="lifestyle" dynamic="false"></content-block>
		</div>
		<div class="col-md-6" style="border:0px;padding:3px;margin:0px;">
			<content-block type='social' dynamic="false"></content-block>
		</div>
	</div>
	
	<div class="row" style="border:0px;padding:0px;margin:0px;">
		<div class="col-md-6" style="border:0px;padding:3px;margin:0px;">
			<content-block type='food' dynamic="false"></content-block>
		</div>
		<div class="col-md-6" style="border:0px;padding:3px;margin:0px;">
			<content-block type='health' dynamic="false"></content-block>
		</div>
	</div>
	
	<div class="row" style="border:0px;padding:0px;margin:0px;">
		<div class="col-md-6" style="border:0px;padding:3px;margin:0px;">
			<content-block type="politics" dynamic="false"></content-block>
		</div>
		<div class="col-md-6" style="border:0px;padding:3px;margin:0px;">
			<content-block type='sports' dynamic="false"></content-block>
		</div>
	</div>
	
	<div class="row" style="border:0px;padding:0px;margin:0px;">
		<div class="col-md-6" style="border:0px;padding:3px;margin:0px;">
			<content-block type='city' dynamic="false"></content-block>
		</div>
		<div class="col-md-6" style="border:0px;padding:3px;margin:0px;">
			<content-block type='personalities' dynamic="false"></content-block>
		</div>
	</div>
	
	<div class="row" style="border:0px;padding:0px;margin:0px;">
		<div class="col-md-6" style="border:0px;padding:3px;margin:0px;">
			<content-block type='beauty' dynamic="false"></content-block>
		</div>
		<div class="col-md-6" style="border:0px;padding:3px;margin:0px;">
			<content-block type='services' dynamic="false"></content-block>
		</div>
	</div>
	<div class="row" style="border:0px;padding:0px;margin:0px;">
		<div class="col-md-6" style="border:0px;padding:3px;margin:0px;">
			<content-block type='neighborhood' dynamic="false"></content-block>
			<content-block type='technology' dynamic="false"></content-block>
		</div>
		<div class="col-md-6" style="border:0px;padding:3px;margin:0px;">
			<content-block type='dating' dynamic="false"></content-block>
		</div>
	</div>
	
	<!--
	<content-block type='food' dynamic="false"></content-block>
	<content-block type='city' dynamic="false"></content-block>
	<content-block type='social' dynamic="false"></content-block>
	<content-block type='neighborhood' dynamic="false"></content-block>
	<content-block type='services' dynamic="false"></content-block>
	<content-block type='personalities' dynamic="false"></content-block>
	<content-block type='health' dynamic="false"></content-block>
	<content-block type='beauty' dynamic="false"></content-block>
	<content-block type='dating' dynamic="false"></content-block>
	<content-block type='technology' dynamic="false"></content-block>
	<content-block type='lifestyle' dynamic="false"></content-block>
	-->
	
</div>

<div ng-if="vm.fbm">
	<div class="well-small" style="background-color:#d9d9d9;color:#24478f; padding:5px;">
		<P>Thanks for visiting Rank-X. You can use the ranks below to give us feedback and suggestions or 
			you can also reach us by email at: <br><strong>contact@rank-x.com</strong></p>		
	</div>
<br>
<div class="row" style="border:0px;padding:0px;margin:0px;">
		<div class="col-md-6" style="border:0px;padding:3px;margin:0px;">
			<content-block type="rxfeedback" dynamic="false"></content-block>
		</div>
		<div class="col-md-6" style="border:0px;padding:3px;margin:0px;">
			<content-block type='rxsuggestion' dynamic="false"></content-block>
		</div>
</div>
<div class="text-right">
			<button class="btn btn-default" ng-click="vm.goHome()">Home</button>
	</div>
</div>