<div class="input-group" style="width:100%">
	<!--<input type="text" class="form-control" placeholder="{{x.cval}}" data-ng-model="x.val">-->
	<div class="text-center" style="display:{{vm.isAdmin ? 'inline':'none'}}">
		<div class="btn-group col-sm-6 col-md-6">
			<button class="btn btn-primary {{vm.selEditRank}} " ng-click="vm.editRank() ">Edit Mode</button>
			<button class="btn btn-primary {{vm.selViewRank}} " ng-click="vm.viewRank() ">View Mode</button>
		</div>
		<button class="btn btn-danger" ng-click="vm.applyRule() ">apply Rule</button>
	</div>
	<br style="display:{{vm.isAdmin ? 'inline':'none'}}">
	<br style="display:{{vm.isAdmin ? 'inline':'none'}}">
	<br style="display:{{vm.isAdmin ? 'inline':'none'}}">
</div>

<div class="row">
	<div class="text-center col-sm-12 col-md-4">
		<div class="btn-group">
			<button class="btn btn-default {{vm.isCity ? 'active':''}}" ng-click="vm.switchScope(1)">San Diego</button>
			<button class="btn btn-default {{vm.isNh ? 'active':''}}" ng-click="vm.switchScope(2)">Neighborhood</button>			
		</div>
	</div>
	<br class="hidden-lg">
	<div class="col-sm-12 col-md-8">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search" ng-model="vm.val" ng-change="vm.refreshRanks(vm.val)">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
		</div>
	</div>
</div>

<div style="display:{{vm.isNh ? 'inline':'none'}}">
	<br>
	<!---->
	<div class="dropdown">
		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="width:200px">
				{{vm.cnh}} <span class="caret">
			</button>
		<ul class="dropdown-menu dropdown-menu-middle">
			<li ng-repeat="x in vm.nhs | orderBy: x"><a ng-click="vm.selnh(x)">{{x}}</a></li>
		</ul>
	</div>
</div>

<div style="display:{{vm.searchActive ? 'inline':'none'}}">
	<content-block mode=9 dynamic=true></content-block>
</div>
</br>
<div style="display:{{((vm.isNhRdy || vm.isCity) && (vm.searchActive == false)) ? 'inline':'none'}}">
	<content-block mode=1 dynamic=false rankofweek=true></content-block>
	<content-block mode=2 dynamic=false></content-block>
	<content-block mode=3 dynamic=false></content-block>
	<content-block mode=4 dynamic=false></content-block>
	<content-block mode=5 dynamic=false></content-block>
	<content-block mode=6 dynamic=false></content-block>
	<content-block mode=7 dynamic=false></content-block>
	<content-block mode=8 dynamic=false></content-block>
</div>
