<!--<city-selection-modal></city-selection-modal> -->
<!--<user-detail-modal></user-detail-modal>-->
<!-- Navigation Bar -->
<div ui-view="navbar"></div>

<div class="container" style="padding-left:5px;padding-right:5px;">

    <div id="veil" ng-show="vm.isLoading"></div>
    <div id="feedLoading" ng-show="vm.isLoading">
        <div style="text-align: center" ng-if="vm.isLoading">
            <div class="loading-pulse"></div>
            <p style="font-size:large">{{vm.veilMsg}}</p>
        </div>
    </div>

    <div ng-hide="vm.isLoading">
        
        <div class="row" style="padding:0px;margin:0px;border:0px">
            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-11">
        <div class="input-group" style="padding-left:0px;padding-right:5px;padding-bottom:10px;">
            <input type="text" class="form-control" placeholder="Search in {{vm.searchScope}}" ng-model="vm.val" ng-change="vm.getResults()"
                id="SearchInput">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
        </div>
        </div>
        
        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
            <div class="input-group-btn pull-left">
                    <button class="btn btn-default" ng-click="vm.gotoHome()"><i class="glyphicon glyphicon-home"></i></button>
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-tasks"></i></button>
                </div>
            </div>
        </div>
        <div ng-show="vm.searchActive">	
	        <search-block ng-click="vm.hideSearch()"></search-block>
        </div> 
        <div ui-view ng-if="!vm.isLoading&&!vm.searchActive"></div>

    </div>

</div>
<br>
<br>

<footer class="footer">
    <div class="container">
        <p class="text-muted">
            Rank-X is a registered trademark property of Rank-X LLC. San Diego, CA - 2017
            <span><a ng-click="vm.goPrivacyPolicy()">Privacy Policy</a></span>
            <span><a ng-click="vm.goRankofDayConsole()">RoD</a></span></p>
    </div>
</footer>