<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/cwrapper" ng-click="vm.gotoHome()" style="cursor:pointer;padding:0px;border:0px;margin:0px;">
                <img src="/assets/images/logosqwborder.jpg" style="width:60px;"></a>
            <a class="navbar-brand home-link" ng-click="vm.selCity()" style="font-size:medium">San Diego</a>
            <a class="navbar-brand navbar-profile-picture-wrapper" ng-show="vm.user" href="/favs" ng-click="vm.gotofavs()">
                <img class="img-responsive img-circle navbar-profile-picture" ng-src="{{vm.user.picture.data.url}}" />
                <span style="font-size:medium">{{vm.user.first_name}}</span>
            </a>
            <a class="navbar-brand" ng-if="vm.warning" style="background-color:#33cccc;color:black;margin:2px"
            ng-click="vm.goWarning()"><i class="fa fa-warning"></i></a>
            <a class="navbar-brand" ng-if="vm.coordsRdy" ng-click="vm.goCoords()" style="margin:0px;"><i class="fa fa-location-arrow"></i></a>

            <!-- <a class="navbar-brand" href="#">RANK-X</a> -->
            <!--<ul class="nav navbar-nav navbar-right" ng-show="vm.user">-->
            <!--
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" ng-click="vm.gotoHome()">Home</a></li>
                <li>
                    <a href="">
                        <i class="fa fa-user"></i> Welcome {{vm.user.first_name}}
                    </a>
                </li>
            </ul>
            -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" >
               
            <!--</ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="" ng-click="vm.gotoHome()">Home</a></li> -->
                <li ng-if="vm.hasBusiness"><a href="/mybusiness" ng-click="vm.gotomybusiness()">My Business</a></li>
                <li ng-if="vm.isPromoter"><a href="/promoterconsole" ng-click="vm.goPromoterConsole()">Promote</a></li> 

                <li><a href="/about" ng-click="vm.gotoAbout()">About</a></li>
                <li><a href="/tour" ng-click="vm.gotoTour()">Tour</a></li>
                <!--<li><a href="/home" ng-click="vm.gotoFeedback()">Feedback</a></li>-->
                <li ng-if="vm.isAdmin"><a href="" ng-click="vm.gotoAdmin()">Admin</a></li> 
                <li ng-if="!vm.isLoggedIn"><a href="/login" ng-click="vm.goToLogin()">Login</a></li>
                
                <li ng-if="vm.isLoggedIn">
                    <a href="/logout" ng-click="vm.logout()" class="">
                        Logout
                    </a>
                </li>        
            </ul>

        </div>
    </div>
</nav>
